Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Another day. Another attempt to fix auto publishign #10
  .github/workflows/publish-release.yml
Due: none

Another day. Another attempt to fix auto publishign #11
  .github/workflows/publish-release.yml
Due: none

Another day. Another attempt to fix auto publishign #12
  .github/workflows/publish-release.yml
Due: none

Fix output regression on publish workflow
  .github/workflows/publish-release.yml
Due: none

Fix local paths not finding extension-develop
  programs/cli/__spec__/cache-reuse-offline.spec.ts
  programs/cli/__spec__/dynamic-install.spec.ts
  programs/cli/index.ts
  programs/cli/utils.ts
  programs/develop/tsconfig.json
Due: eslint --fix, prettier --write

Fix deployment step
  .github/workflows/publish-release.yml
Due: none

Fix extension-develop require
  programs/cli/commands/build.ts
  programs/cli/commands/preview.ts
  programs/cli/commands/start.ts
Due: eslint --fix, prettier --write

Fix regression of Extension.js devtools not running
  programs/develop/package.json
Due: prettier --write

Fix PostCSS regression on remote examples
  programs/develop/webpack/plugin-css/css-tools/postcss.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
