Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add changeset(s) (#296)
  .changeset/metal-symbols-know.md
Due: prettier --write

release: publish 2.1.1 (extension, extension-create, extension-develop)
  .changeset/metal-symbols-know.md
  programs/cli/CHANGELOG.md
  programs/cli/package.json
  programs/create/CHANGELOG.md
  programs/create/package.json
  programs/develop/CHANGELOG.md
  programs/develop/package.json
Due: prettier --write

Remove accidental submodule references (web-ext, parse5-utilities)
  .gitignore
Due: none

chore: add changeset for stable release
  .changeset/shiny-rules-melt.md
Due: prettier --write

Improve error handling and npm auth in release workflows
  .github/workflows/canary.yml
  .github/workflows/release.yml
Due: none

Format
  templates/javascript/README.md
  templates/preact/README.md
  templates/react/README.md
  templates/svelte/README.md
  templates/typescript/README.md
  templates/vue/README.md
Due: prettier --write

Eensure data directory exists before lock file creation
  programs/develop/webpack/plugin-browsers/browsers-lib/__spec__/instance-manager.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/instance-manager.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-no-wrapper.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/messages.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/port-manager.spec.ts
  programs/develop/webpack/webpack-lib/messages.ts
  programs/develop/webpack/webpack-lib/port-manager.ts
Due: eslint --fix, prettier --write

chore: add changeset for hotfix patch release
  .changeset/empty-carrots-fly.md
Due: prettier --write

Update 'use shadow-dom' integration tests
  programs/cli/cli-lib/messages.ts
  programs/develop/develop-lib/config-types.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-preact-wrapper.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-react-wrapper.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-svelte-wrapper.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-typescript-wrapper.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-vue-wrapper.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
