Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Stop sending Safari the reloads its own repackage already did
  programs/develop/plugin-browsers/__spec__/safari-dev-coalesce.unit.spec.ts
  programs/develop/plugin-browsers/safari-dev-plugin.ts
  programs/develop/plugin-reload/__spec__/reload-dispatch.unit.spec.ts
Due: eslint --fix, prettier --write

Drop the manifest keys and permissions Safari cannot use
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/__spec__/filter-keys-safari.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/filter-keys-safari.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/manifest.ts
  programs/develop/plugin-web-extension/feature-manifest/messages.ts
Due: eslint --fix, prettier --write

Name the measured reason Safari preview cannot work
  programs/extension/__spec__/preview-command.spec.ts
  programs/extension/__spec__/start-command.spec.ts
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Refresh the message catalog snapshot for the Safari key drop
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
Due: none

Match README links to the docs navbar and drop the Scorecard badge
  README.md
  programs/extension/README.md
Due: prettier --write

Reconvert the Safari project when a judged manifest key changes
  programs/extension/browsers/__spec__/run-safari.spec.ts
  programs/extension/browsers/run-safari/safari-launch/safari-config.ts
Due: eslint --fix, prettier --write

Match README links to the docs navbar and drop the Scorecard badge (#532)
  README.md
  programs/extension/README.md
Due: prettier --write

Park background errors so a later connect can report them
  programs/develop/dev-server/control-bridge/__spec__/producer-runtime.spec.ts
  programs/develop/dev-server/control-bridge/producer-runtime.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/warn-gecko-unsupported-apis.ts
Due: eslint --fix, prettier --write

Warn when a Safari build calls a member Safari lacks
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/plugin-web-extension/feature-manifest/messages.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/warn-gecko-unsupported-apis.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/warn-gecko-unsupported-apis.ts
Due: eslint --fix, prettier --write

Warn when a Safari build calls a member Safari lacks (#534)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/plugin-web-extension/feature-manifest/messages.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/warn-gecko-unsupported-apis.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/warn-gecko-unsupported-apis.ts
Due: eslint --fix, prettier --write

Name the Safari converter warnings the build keeps on purpose
  programs/extension/browsers/__spec__/run-safari.spec.ts
  programs/extension/browsers/browsers-lib/messages.ts
Due: eslint --fix, prettier --write

Say which Safari converter warnings are keys we keep on purpose (#535)
  programs/extension/browsers/__spec__/run-safari.spec.ts
  programs/extension/browsers/browsers-lib/messages.ts
Due: eslint --fix, prettier --write

Add a scheduled check that the docs flag snapshot matches the CLI
  .github/workflows/cli-flags-drift.yml
Due: none

Add a scheduled check that the docs flag snapshot matches the CLI (#536)
  .github/workflows/cli-flags-drift.yml
Due: none

Drop the store key from production Edge builds and say why
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/__spec__/filter-key-edge.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/filter-key-edge.ts
  programs/develop/plugin-web-extension/feature-manifest/messages.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/update-manifest.ts
Due: eslint --fix, prettier --write

Report the real mode when a build finishes
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/command-build.ts
  programs/develop/lib/__spec__/build-complete.spec.ts
  programs/develop/lib/messages.ts
Due: eslint --fix, prettier --write

Satisfy the new lint rules on the Edge key files
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/filter-key-edge.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/update-manifest.ts
Due: eslint --fix, prettier --write

Report the real mode when a build finishes (#539)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/command-build.ts
  programs/develop/lib/__spec__/build-complete.spec.ts
  programs/develop/lib/messages.ts
Due: eslint --fix, prettier --write

Drop the store key from production Edge builds and say why (#538)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/__spec__/filter-key-edge.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/filter-key-edge.ts
  programs/develop/plugin-web-extension/feature-manifest/messages.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/update-manifest.ts
Due: eslint --fix, prettier --write

Resync the bundled javascript template from the examples repo
  programs/create/templates/javascript/src/background.js
  programs/create/templates/javascript/src/content/ContentApp.js
  programs/create/templates/javascript/src/content/scripts.js
  programs/create/templates/javascript/src/content/styles.css
  programs/create/templates/javascript/src/sidebar/styles.css
Due: eslint --fix, prettier --write

Point the create template pin at the merged examples commit
  programs/create/steps/import-external-template.ts
Due: eslint --fix, prettier --write

Stop telling Safari users to re-tick the unsigned extensions toggle
  programs/extension/browsers/__spec__/run-safari.spec.ts
  programs/extension/browsers/__spec__/safari-signing.spec.ts
  programs/extension/browsers/browsers-lib/messages.ts
  programs/extension/browsers/run-safari/safari-launch/index.ts
  programs/extension/browsers/run-safari/safari-launch/safari-config.ts
  programs/extension/commands/build.ts
  programs/extension/commands/dev.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-catalog.spec.ts.snap
Due: eslint --fix, prettier --write

Exclude the bundled create template from Biome the way ESLint does
  biome.json
Due: prettier --write

Regenerate the template corpus and AI-help snapshot for the new pin
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/template-corpus.generated.ts
Due: eslint --fix, prettier --write

Stop prescribing the Safari unsigned extensions toggle
  programs/extension/browsers/__spec__/run-safari.spec.ts
  programs/extension/browsers/__spec__/safari-signing.spec.ts
  programs/extension/browsers/browsers-lib/messages.ts
  programs/extension/browsers/run-safari/safari-launch/index.ts
  programs/extension/browsers/run-safari/safari-launch/safari-config.ts
  programs/extension/commands/build.ts
  programs/extension/commands/dev.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-catalog.spec.ts.snap
Due: eslint --fix, prettier --write

Resync the bundled javascript template and move the create pin
  programs/create/steps/import-external-template.ts
  programs/create/templates/javascript/src/background.js
  programs/create/templates/javascript/src/content/ContentApp.js
  programs/create/templates/javascript/src/content/scripts.js
  programs/create/templates/javascript/src/content/styles.css
  programs/create/templates/javascript/src/sidebar/styles.css
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/template-corpus.generated.ts
Due: eslint --fix, prettier --write
