Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Fix other feature-resolve tests
  programs/develop/webpack/plugin-extension/feature-resolve/__spec__/static-eval.spec.ts
  programs/develop/webpack/plugin-extension/feature-resolve/resolve-lib/handlers/declarative-content.ts
  programs/develop/webpack/plugin-extension/feature-resolve/resolve-lib/handlers/generic.ts
  programs/develop/webpack/plugin-extension/feature-resolve/resolve-lib/handlers/panel.ts
  programs/develop/webpack/plugin-extension/feature-resolve/resolve-lib/handlers/runtime.ts
  programs/develop/webpack/plugin-extension/feature-resolve/resolve-paths-loader.ts
Due: eslint --fix, prettier --write

New attempt to close Firefox on terminal close
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/process-handlers.ts
Due: eslint --fix, prettier --write

More test fixes
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/profile-selection.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/protocol-reload.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-firefox/firefox-source-inspection/remote-firefox/setup-firefox-inspection.unit.spec.ts
  programs/develop/webpack/plugin-extension/feature-json/__spec__/e2e-json-validation.spec.ts
Due: eslint --fix, prettier --write

Fix release workflows not deploying
  .github/workflows/publish-next.yml
  .github/workflows/publish-stable.yml
Due: none

Update package.json repo URL
  programs/cli/package.json
  programs/develop/package.json
Due: prettier --write

Prune workflows
  .github/workflows/actionlint.yml
  .github/workflows/develop-tests.yml
  .github/workflows/e2e.yml
  .github/workflows/programs-create.yml
  .github/workflows/programs-nightly.yml
  .github/workflows/publish-next.yml
  .github/workflows/publish-stable.yml
  .github/workflows/telemetry-check.yml
Due: none

Fix regression on remote preview
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/profile-selection.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/protocol-reload.spec.ts
Due: eslint --fix, prettier --write

Another attempt to streamline process handlign for `preview` on Windows
  programs/develop/webpack/dev-server/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/process-handlers.ts
Due: eslint --fix, prettier --write
