Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix nightly check
  .github/workflows/programs-nightly.yml
  pnpm-lock.yaml
  programs/develop/webpack/plugin-extension/feature-scripts/steps/add-scripts.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/setup-background-entry.ts
  programs/develop/webpack/webpack-lib/paths.ts
  scripts/build-extensions.cjs
Due: eslint --fix, prettier --write

Sync react, react-dom, sonner, lucide-react versions
  extensions/extension-js-devtools/package.json
  pnpm-lock.yaml
  templates/preact/package.json
  templates/react/package.json
Due: prettier --write

Tweak welcome page
  extensions/extension-js-devtools/pages/welcome/scripts.tsx
  extensions/extension-js-theme/manifest.json
Due: eslint --fix, prettier --write

Update release workflow
  .github/workflows/discord-notify-releases.yml
  .github/workflows/publish-release.yml
  CHANGELOG.md
Due: prettier --write

Install required dependencies before running commands
  programs/cli/commands/create.ts
  programs/cli/types/extension-develop-shim.d.ts
  programs/create/create.spec.ts
  programs/create/lib/messages.ts
  programs/create/module.ts
  programs/create/steps/import-external-template.ts
  programs/develop/module.ts
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/__spec__/command-dev.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/command-dev.ts
  programs/develop/webpack/command-start.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/typescript.ts
  programs/develop/webpack/webpack-lib/ensure-dependencies.ts
  programs/develop/webpack/webpack-lib/messages.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
  templates/javascript/src/content/scripts.js
  templates/javascript/src/sidebar/scripts.js
Due: eslint --fix, prettier --write

Fix HMR not working for content_scripts using Vue
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/ensure-hmr-for-scripts.unit.spec.ts
  programs/develop/webpack/plugin-extension/feature-html/steps/ensure-hmr-for-scripts.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/content-script-wrapper.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/content-script-wrapper.ts
  templates/vue/src/content/ContentApp.vue
Due: eslint --fix, prettier --write

Fix release workflow
  programs/cli/cli-lib/telemetry.ts
  scripts/build-extensions.cjs
Due: eslint --fix, prettier --write

Fix package version in the CLI output
  programs/cli/index.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
Due: eslint --fix, prettier --write

Update messages
  programs/cli/cli-lib/messages.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-extension/feature-html/html-lib/messages.ts
  programs/develop/webpack/plugin-extension/feature-locales/__spec__/index.spec.ts
  programs/develop/webpack/plugin-extension/feature-locales/messages.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/messages.ts
Due: eslint --fix, prettier --write

Bring back create/
  programs/cli/examples/init/manifest.json
  programs/cli/examples/init/src/background.js
  programs/cli/examples/init/src/manifest.json
  programs/create/.changeset/config.json
  programs/create/.github/actions/extension-create/action.yml
  programs/create/.github/actions/setup/action.yml
  programs/create/.github/workflows/ci.yml
  programs/create/.github/workflows/publish-on-tag.yml
  programs/create/.github/workflows/release.yml
  programs/create/.gitignore
  programs/create/LICENSE
  programs/create/README.md
  programs/create/__spec__/create-remote.spec.ts
  programs/create/create.spec.ts
  programs/create/eslint.config.mjs
  programs/create/lib/messages.ts
  programs/create/lib/types.ts
  programs/create/lib/utils.ts
  programs/create/module.ts
  programs/create/package.json
  programs/create/rslib.config.ts
  programs/create/steps/create-directory.ts
  programs/create/steps/generate-extension-types.ts
  programs/create/steps/import-external-template.ts
  programs/create/steps/import-local-template.ts
  programs/create/steps/initialize-git-repository.ts
  programs/create/steps/install-dependencies.ts
  programs/create/steps/setup-built-in-tests.ts
  programs/create/steps/write-gitignore.ts
  programs/create/steps/write-manifest-json.ts
  programs/create/steps/write-package-json.ts
  programs/create/steps/write-readme-file.ts
  programs/create/tsconfig.json
  programs/create/vitest.config.ts
  templates/extension-fixtures.ts
Due: eslint --fix, prettier --write

Update dependencies
  .github/build-deps/package.json
  pnpm-lock.yaml
  programs/develop/package.json
  programs/develop/webpack/webpack-lib/build-dependencies.json
  scripts/sync-build-deps-tracking.mjs
Due: prettier --write

Bring back manager extension primitive components
  .github/workflows/publish-release.yml
  extensions/extension-js-devtools/src/components/ui/card.tsx
  extensions/extension-js-devtools/src/components/ui/collapsible.tsx
  extensions/extension-js-devtools/src/components/ui/copy-button.tsx
  extensions/extension-js-devtools/src/components/ui/drawer.tsx
  extensions/extension-js-devtools/src/components/ui/input.tsx
  extensions/extension-js-devtools/src/components/ui/label.tsx
  extensions/extension-js-devtools/src/components/ui/select.tsx
  extensions/extension-js-devtools/src/components/ui/sonner.tsx
  extensions/extension-js-devtools/src/components/ui/switch.tsx
  extensions/extension-js-devtools/src/components/ui/table.tsx
  extensions/extension-js-devtools/src/components/ui/toggle-group.tsx
Due: eslint --fix, prettier --write

Format
  README.md
  extensions/extension-js-devtools/src/components/ui/badge.tsx
  extensions/extension-js-devtools/src/components/ui/button.tsx
  extensions/extension-js-devtools/src/components/ui/input.tsx
  extensions/extension-js-devtools/src/components/ui/sheet.tsx
  programs/cli/README.md
  programs/cli/cli-lib/telemetry.ts
  programs/cli/commands/build.ts
  programs/cli/commands/dev.ts
  programs/cli/commands/preview.ts
  programs/cli/commands/start.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/shared-utils.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-types.ts
  programs/develop/webpack/plugin-css/__spec__/css-lib/is-content-script.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/stylelint.spec.ts
  programs/develop/webpack/plugin-css/__spec__/tools.spec.ts
  programs/develop/webpack/plugin-extension/feature-icons/__spec__/add-to-file-dependencies.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/preact.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/react.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/svelte.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/typescript.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/vue.spec.ts
Due: eslint --fix, prettier --write

Fix package version not printing in published package
  programs/cli/check-updates.ts
  programs/cli/cli-lib/__spec__/check-updates.spec.ts
  programs/cli/cli-lib/telemetry-cli.ts
  programs/cli/cli-package-json.ts
  programs/cli/commands/create.ts
  programs/cli/index.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/banner.ts
Due: eslint --fix, prettier --write

More tweaks on `create` installation deps
  programs/cli/commands/create.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Update dependencies
  .github/build-deps/package-lock.json
  .github/build-deps/package.json
  package.json
  pnpm-lock.yaml
  programs/cli/__spec__/cache-reuse-offline.spec.ts
  programs/cli/__spec__/dynamic-install.spec.ts
  programs/cli/package.json
  programs/develop/package.json
  programs/develop/rslib.config.ts
  programs/develop/webpack/webpack-lib/build-dependencies.json
  programs/develop/webpack/webpack-lib/validate-user-dependencies.ts
Due: eslint --fix, prettier --write

Update changelog formatting for releases
  .github/workflows/publish-release.yml
  CHANGELOG.md
Due: prettier --write

Fix Vitest blocking release
  programs/cli/vitest.config.ts
Due: eslint --fix, prettier --write

Attempt to ease process termination via start/preview
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-only.ts
Due: eslint --fix, prettier --write

Fix Discord release notification
  .github/workflows/discord-notify-releases.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
