Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Make the content-reload smoke run the CLI it says it is testing
  scripts/validate-content-reload-no-hard-reload.mjs
Due: none

Launch a real browser on Bun and Deno in the nightly
  .github/workflows/programs-nightly.yml
  scripts/validate-bun-runtime.mjs
  scripts/validate-deno-runtime.mjs
Due: none

Make the content-reload smoke run the CLI it says it is testing (#554)
  scripts/validate-content-reload-no-hard-reload.mjs
Due: none

Say when an AMO warning comes from a bundled dependency
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/command-build.ts
  programs/develop/lib/__spec__/addon-lint.spec.ts
  programs/develop/lib/__spec__/chunk-dependency-provenance.spec.ts
  programs/develop/lib/addon-lint.ts
  programs/develop/lib/chunk-dependency-provenance.ts
  programs/develop/lib/messages.ts
Due: eslint --fix, prettier --write

Say when an AMO warning comes from a bundled dependency (#555)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/command-build.ts
  programs/develop/lib/__spec__/addon-lint.spec.ts
  programs/develop/lib/__spec__/chunk-dependency-provenance.spec.ts
  programs/develop/lib/addon-lint.ts
  programs/develop/lib/chunk-dependency-provenance.ts
  programs/develop/lib/messages.ts
Due: eslint --fix, prettier --write

Launch a real browser on Bun and Deno in the nightly (#556)
  .github/workflows/programs-nightly.yml
  scripts/validate-bun-runtime.mjs
  scripts/validate-deno-runtime.mjs
Due: none

Make pnpm format leave the tree lint-clean
  package.json
  programs/develop/lib/__spec__/build-assets-tree.spec.ts
  programs/extension/browsers/__spec__/readiness-producers.unit.spec.ts
  scripts/format-wrapper.cjs
Due: eslint --fix, prettier --write

Keep waiting when the ready contract is read mid-write
  programs/extension/__spec__/exec/dev-wait.contract.spec.ts
  programs/extension/__spec__/exec/dev-wait.unit.spec.ts
  programs/extension/__spec__/exec/start-wait.contract.spec.ts
  programs/extension/commands/dev-wait.ts
Due: eslint --fix, prettier --write

Keep waiting when the ready contract is read mid-write (#558)
  programs/extension/__spec__/exec/dev-wait.contract.spec.ts
  programs/extension/__spec__/exec/dev-wait.unit.spec.ts
  programs/extension/__spec__/exec/start-wait.contract.spec.ts
  programs/extension/commands/dev-wait.ts
Due: eslint --fix, prettier --write

Make pnpm format leave the tree lint-clean (#557)
  package.json
  programs/develop/lib/__spec__/build-assets-tree.spec.ts
  programs/extension/browsers/__spec__/readiness-producers.unit.spec.ts
  scripts/format-wrapper.cjs
Due: eslint --fix, prettier --write

Keep the release deploy key out of every step that runs tree code
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/publish-release.yml
  docs/ASSURANCE_CASE.md
  scripts/push-release-refs.sh
Due: prettier --write

Keep the nightly green in author mode and report red nightly lanes
  .github/workflows/cli-flags-drift.yml
  .github/workflows/programs-nightly.yml
  programs/create/steps/__spec__/initialize-git-repository.spec.ts
Due: eslint --fix, prettier --write

Detect a pnpm workspace member from a zero indent packages list
  programs/develop/lib/__spec__/package-manager.spec.ts
  programs/develop/lib/package-manager.ts
Due: eslint --fix, prettier --write

Refuse a build whose resolved manifest lost its manifest_version
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-manifest-version-required.spec.ts
  programs/develop/lib/manifest-utils.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/update-manifest.browser-prefix.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/messages.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/update-manifest.ts
Due: eslint --fix, prettier --write

Give runtime loaded modules their own import.meta.url
  programs/develop/__spec__/build-traced-import-meta-url.spec.ts
  programs/develop/plugin-compilation/__spec__/env.spec.ts
  programs/develop/plugin-compilation/env.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/trace-runtime-loaded-files.ts
Due: eslint --fix, prettier --write

Write the 4.1.21 release highlights
  RELEASE_HIGHLIGHTS.md
Due: prettier --write

Sharpen the worker, Safari and reconnect warnings and note Solid
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-content-script-worker.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/broker.spec.ts
  programs/develop/dev-server/control-bridge/broker.ts
  programs/develop/plugin-js-frameworks/__spec__/js-tools/solid.spec.ts
  programs/develop/plugin-js-frameworks/js-frameworks-lib/messages.ts
  programs/develop/plugin-js-frameworks/js-tools/solid.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/warn-gecko-unsupported-apis.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/warn-gecko-unsupported-apis.ts
  programs/develop/plugin-web-extension/feature-scripts/__spec__/warn-page-context-worker.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/warn-page-context-worker.ts
Due: eslint --fix, prettier --write

Keep unused CSS module classes through minification
  programs/develop/__spec__/build-css-modules-minify.spec.ts
  programs/develop/rspack-config.ts
Due: eslint --fix, prettier --write

Keep the release deploy key out of every step that runs tree code (#559)
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/publish-release.yml
  docs/ASSURANCE_CASE.md
  scripts/push-release-refs.sh
Due: prettier --write

Cover the Vue runtime build and Edge key drop with real specs
  programs/develop/__spec__/build-edge-key.spec.ts
  programs/develop/__spec__/build-vue-runtime.spec.ts
  programs/develop/lib/__spec__/manifest-utils.property.spec.ts
  programs/develop/plugin-js-frameworks/__spec__/js-tools/typescript.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults-helpers.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/dev-build-war-parity.spec.ts
  programs/extension/helpers/__spec__/node-version-guard.spec.ts
Due: eslint --fix, prettier --write

Emit the dev reload background as scripts on Safari builds
  programs/develop/__spec__/build-dev-safari-background.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults-helpers.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/patch-background.ts
Due: eslint --fix, prettier --write

Write ready.json stamps atomically and run smokes on the built CLI
  programs/extension/__spec__/exec/dev-wait.contract.spec.ts
  programs/extension/__spec__/exec/start-wait.contract.spec.ts
  programs/extension/browsers/__spec__/write-json-atomic.unit.spec.ts
  programs/extension/browsers/browsers-lib/ready-stamp.ts
  programs/extension/browsers/browsers-lib/write-json-atomic.ts
  programs/extension/browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
  scripts/__spec__/resolve-dev-cli.spec.mjs
  scripts/lib/resolve-dev-cli.mjs
  scripts/run-optional-deps-smoke.mjs
  scripts/validate-content-reload-no-hard-reload.mjs
  scripts/validate-first-dev-run.mjs
  scripts/verify-content-template-first-dev.mjs
Due: eslint --fix, prettier --write

Repin the template catalog to the Firefox sidebar fix
  programs/create/steps/import-external-template.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/template-corpus.generated.ts
Due: eslint --fix, prettier --write

Keep the nightly green in author mode and report red nightly lanes (#560)
  .github/workflows/cli-flags-drift.yml
  .github/workflows/programs-nightly.yml
  programs/create/steps/__spec__/initialize-git-repository.spec.ts
Due: eslint --fix, prettier --write

Detect a pnpm workspace member from a zero indent packages list (#561)
  programs/develop/lib/__spec__/package-manager.spec.ts
  programs/develop/lib/package-manager.ts
Due: eslint --fix, prettier --write

Refuse a build whose resolved manifest lost its manifest_version (#562)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-manifest-version-required.spec.ts
  programs/develop/lib/manifest-utils.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/update-manifest.browser-prefix.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/messages.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/update-manifest.ts
Due: eslint --fix, prettier --write

Give runtime loaded modules their own import.meta.url (#563)
  programs/develop/__spec__/build-traced-import-meta-url.spec.ts
  programs/develop/plugin-compilation/__spec__/env.spec.ts
  programs/develop/plugin-compilation/env.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/trace-runtime-loaded-files.ts
Due: eslint --fix, prettier --write

Write the 4.1.21 release highlights (#564)
  RELEASE_HIGHLIGHTS.md
Due: prettier --write

Keep unused CSS module classes through minification (#565)
  programs/develop/__spec__/build-css-modules-minify.spec.ts
  programs/develop/rspack-config.ts
Due: eslint --fix, prettier --write
