Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Improve HTML utils and locales handling
  programs/develop/webpack/plugin-extension/feature-html/html-lib/utils.ts
  programs/develop/webpack/plugin-extension/feature-locales/index.ts
Due: eslint --fix, prettier --write

Tighten cleanup script
  scripts/cleanup-test-artifacts.cjs
Due: none

Update template backgrounds and content app
  templates/javascript/src/background.js
  templates/javascript/src/content/ContentApp.js
  templates/preact/src/background.ts
  templates/react/src/background.ts
  templates/svelte/src/background.ts
  templates/typescript/src/background.ts
  templates/vue/src/background.ts
Due: eslint --fix, prettier --write

Consolidate template tests and tsconfigs
  templates/javascript/template.spec.ts
  templates/preact/template.spec.ts
  templates/preact/tsconfig.json
  templates/react/template.spec.ts
  templates/shared-template-tests.ts
  templates/svelte/template.spec.ts
  templates/template.spec.ts
  templates/typescript/template.spec.ts
  templates/typescript/tsconfig.json
  templates/vue/template.spec.ts
  templates/vue/tsconfig.json
Due: eslint --fix, prettier --write

Add split workflows for tests and telemetry
  .github/workflows/ci-tests.yml
  .github/workflows/e2e.yml
  .github/workflows/telemetry-check.yml
  .github/workflows/tests-cli.yml
  .github/workflows/tests-develop.yml
  .github/workflows/tests-plugin-browsers.yml
  .github/workflows/tests-plugin-compatibility.yml
  .github/workflows/tests-plugin-compilation.yml
  .github/workflows/tests-plugin-css.yml
  .github/workflows/tests-plugin-extension.yml
  .github/workflows/tests-plugin-js-frameworks.yml
  .github/workflows/tests-plugin-static-assets.yml
Due: none

Update releasing guide
  RELEASING.md
Due: prettier --write

Update devtools centralized logger and background
  extensions/extension-js-devtools/.gitignore
  extensions/extension-js-devtools/README.md
  extensions/extension-js-devtools/components.json
  extensions/extension-js-devtools/package.json
  extensions/extension-js-devtools/pages/centralized-logger/SidebarApp.tsx
  extensions/extension-js-devtools/pages/centralized-logger/controls/ActionsRow.tsx
  extensions/extension-js-devtools/pages/centralized-logger/controls/FiltersRow.tsx
  extensions/extension-js-devtools/pages/centralized-logger/controls/SettingsAside.tsx
  extensions/extension-js-devtools/pages/centralized-logger/log-table/columns/timeColumn.tsx
  extensions/extension-js-devtools/pages/centralized-logger/log-table/index.tsx
  extensions/extension-js-devtools/pages/centralized-logger/scripts.tsx
  extensions/extension-js-devtools/src/background/log-central.ts
  extensions/extension-js-devtools/src/background/reload-service.ts
  extensions/extension-js-devtools/src/components/utils.ts
  extensions/extension-js-devtools/src/lib/logger.ts
  extensions/extension-js-devtools/src/lib/utils.ts
  extensions/extension-js-devtools/src/manifest.json
  extensions/extension-js-devtools/template.spec.ts
  extensions/extension-js-devtools/tsconfig.json
Due: eslint --fix, prettier --write

Update test runners and workspace configuration
  playwright.config.ts
  pnpm-workspace.yaml
  vitest.workspace.ts
Due: eslint --fix, prettier --write

Update CLI messages entry and telemetry
  programs/cli/__spec__/cli-source-flags.spec.ts
  programs/cli/__spec__/validation.spec.ts
  programs/cli/cli-lib/manifest-summary.ts
  programs/cli/cli-lib/messages.ts
  programs/cli/cli-lib/telemetry-cli.ts
  programs/cli/cli-lib/telemetry.ts
  programs/cli/cli.ts
  programs/cli/types/polyfill.d.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
