Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix release notes not auto populating new releases
  .github/workflows/publish-release.yml
Due: none

Fix types across plugins
  programs/develop/webpack/plugin-extension/feature-html/steps/minimum-script-file.ts
  programs/develop/webpack/plugin-extension/feature-scripts/scripts-lib/mount-runtime.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/webpack-target-webextension-fork/lib/webpack5/HMRDevServer.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/webpack-target-webextension-fork/lib/webpack5/RuntimeModules/ChunkLoaderFallback.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/webpack-target-webextension-fork/lib/webpack5/RuntimeModules/LoadScript.ts
Due: eslint --fix, prettier --write

Fix Firefox Windows add-on install and args
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/browser-config.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/addons-install.ts
Due: eslint --fix, prettier --write

Attempt to fix content_scripts regerssion after e561f638d6b95cf58d4e035b51addbce8879b7df
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/content-script-wrapper.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/content-script-wrapper.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/index.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/warn-no-default-export.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/apply-manifest-dev-defaults/patch-web-resources.ts
  programs/develop/webpack/webpack-lib/package-json.ts
Due: eslint --fix, prettier --write

Fix tests
  programs/develop/webpack/webpack-lib/__spec__/install-dependencies.spec.ts
Due: eslint --fix, prettier --write

Type fixes
  pnpm-lock.yaml
  programs/develop/rslib.config.ts
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-html/__spec__/html-lib/patch-html.preserve-queryhash.unit.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-html/__spec__/html-lib/patch-html.unit.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/webpack-target-webextension-fork/lib/webpack5/RuntimeModules/AutoPublicPath.ts
  programs/develop/webpack/webpack-config.ts
Due: eslint --fix, prettier --write

Simplify PostCSS patch
  programs/develop/webpack/plugin-css/css-tools/postcss.ts
Due: eslint --fix, prettier --write

Fix dependencies re-running installs when its not needed
  programs/develop/rslib.config.ts
  programs/develop/webpack/command-dev.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/browser-config.ts
  programs/develop/webpack/webpack-lib/check-build-dependencies.ts
  programs/develop/webpack/webpack-lib/ensure-dependencies.ts
  programs/develop/webpack/webpack-lib/install-cache.ts
  programs/develop/webpack/webpack-lib/install-dependencies.ts
  programs/develop/webpack/webpack-lib/paths.ts
Due: eslint --fix, prettier --write

Fix vulnerabilities spot by Dependabot
  package.json
  pnpm-lock.yaml
  programs/create/package.json
Due: prettier --write

Ignore public-only entries in extension build
  programs/develop/webpack/plugin-extension/feature-html/steps/add-scripts-and-styles-to-compilation.ts
  programs/develop/webpack/plugin-extension/feature-icons/steps/emit-file.ts
  programs/develop/webpack/plugin-extension/feature-manifest/manifest-overrides/common/content_scripts.ts
  programs/develop/webpack/plugin-extension/feature-manifest/manifest-overrides/common/index.ts
  programs/develop/webpack/plugin-extension/feature-manifest/manifest-overrides/index.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/add-scripts.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/add-scripts.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/__spec__/get-data.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/get-project-path.spec.ts
  programs/develop/webpack/webpack-lib/project.ts
Due: eslint --fix, prettier --write

Fix warns during monorepo install step
  package.json
  pnpm-lock.yaml
Due: prettier --write

Ask AI its dream feature for --source and implement it
  programs/cli/__spec__/normalize-options.spec.ts
  programs/cli/cli-lib/messages.ts
  programs/cli/commands/dev.ts
  programs/cli/commands/preview.ts
  programs/cli/commands/start.ts
  programs/cli/utils/normalize-options.ts
  programs/develop/README.md
  programs/develop/webpack/plugin-browsers/README.md
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/print-html.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/setup-chrome-inspection.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/source-output.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/source-output.ts
  programs/develop/webpack/plugin-browsers/browsers-types.ts
  programs/develop/webpack/plugin-browsers/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-hard-reload/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/cdp-client.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/extract.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/page.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-types.ts
  programs/develop/webpack/plugin-browsers/run-chromium/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-hard-reload/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/messaging-client.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-types.ts
  programs/develop/webpack/plugin-browsers/run-firefox/index.ts
  programs/develop/webpack/webpack-config.ts
  programs/develop/webpack/webpack-types.ts
Due: eslint --fix, prettier --write

Centralize special-folders discovery
  pnpm-lock.yaml
  programs/cli/__spec__/normalize-options.spec.ts
  programs/cli/commands/build.ts
  programs/cli/commands/dev.ts
  programs/cli/commands/preview.ts
  programs/cli/commands/start.ts
  programs/cli/utils/normalize-options.ts
  programs/develop/README.md
  programs/develop/package.json
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/__spec__/companion-extensions-to-load.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/dev-server/index.ts
  programs/develop/webpack/plugin-compilation/clean-dist.ts
  programs/develop/webpack/plugin-extension/feature-html/html-lib/extra-entries.ts
  programs/develop/webpack/plugin-extension/feature-html/index.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/README.md
  programs/develop/webpack/plugin-extension/feature-special-folders/__spec__/companion-extensions.spec.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/__spec__/get-data.spec.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/folder-extensions/resolve-config.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/folder-extensions/resolve-dirs.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/folder-extensions/types.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/folder-extensions/utils.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/get-data.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/index.ts
  programs/develop/webpack/webpack-lib/__spec__/companion-extensions.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/preflight-optional-deps.spec.ts
  programs/develop/webpack/webpack-types.ts
Due: eslint --fix, prettier --write

Fix compiler eating out manifests within public/ path
  programs/develop/webpack/plugin-extension/feature-special-folders/__spec__/copy-public-folder.spec.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/index.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Fix dependabot warns
  .github/build-deps/package-lock.json
  pnpm-lock.yaml
  programs/cli/__spec__/exec/dev-hmr-content-scripts.contract.spec.ts
  programs/cli/__spec__/exec/help-parity.contract.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/deterministic-hmr-harness.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/source-output.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/source-output.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-hard-reload/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/cdp-client.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/deterministic-hmr-harness.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/page.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/targets.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/index.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/__spec__/content-scripts.override.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/manifest-overrides/common/content_scripts.ts
Due: eslint --fix, prettier --write

Fix Firefox not working on Windows
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/addons-install.ts
Due: eslint --fix, prettier --write

Limit dependabot to major updates
  .github/dependabot.yml
Due: none

Scope out feature-special-folders
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/__spec__/companion-extensions-to-load.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/dev-server/index.ts
  programs/develop/webpack/feature-special-folders/README.md
  programs/develop/webpack/feature-special-folders/__spec__/companion-extensions.spec.ts
  programs/develop/webpack/feature-special-folders/__spec__/copy-public-folder.spec.ts
  programs/develop/webpack/feature-special-folders/__spec__/get-data.spec.ts
  programs/develop/webpack/feature-special-folders/__spec__/warn-upon-folder-changes.spec.ts
  programs/develop/webpack/feature-special-folders/check-manifest-in-public.ts
  programs/develop/webpack/feature-special-folders/folder-extensions/companion-extensions.ts
  programs/develop/webpack/feature-special-folders/folder-extensions/resolve-config.ts
  programs/develop/webpack/feature-special-folders/folder-extensions/resolve-dirs.ts
  programs/develop/webpack/feature-special-folders/folder-extensions/types.ts
  programs/develop/webpack/feature-special-folders/folder-extensions/utils.ts
  programs/develop/webpack/feature-special-folders/get-data.ts
  programs/develop/webpack/feature-special-folders/index.ts
  programs/develop/webpack/feature-special-folders/messages.ts
  programs/develop/webpack/feature-special-folders/package.json
  programs/develop/webpack/feature-special-folders/warn-upon-folder-changes.ts
  programs/develop/webpack/plugin-extension/index.ts
  programs/develop/webpack/webpack-config.ts
  programs/develop/webpack/webpack-types.ts
Due: eslint --fix, prettier --write

Handle malformed WAR
  extensions/sidebar-transformers-js/src/manifest.json
  programs/develop/webpack/plugin-extension/feature-manifest/manifest-overrides/__spec__/web_accessible_resources.spec.ts
  programs/develop/webpack/plugin-extension/feature-manifest/manifest-overrides/common/web_accessible_resources.ts
  programs/develop/webpack/plugin-extension/feature-web-resources/__spec__/index.spec.ts
  programs/develop/webpack/plugin-extension/feature-web-resources/web-resources-lib/resolve-war.ts
  programs/develop/webpack/webpack-lib/install-dependencies.ts
Due: eslint --fix, prettier --write

Update --help and --ai-help commands
  programs/cli/cli-lib/__spec__/messages-ai-help.spec.ts
  programs/cli/cli-lib/messages.ts
  programs/cli/commands/preview.ts
  programs/cli/commands/start.ts
  programs/cli/index.ts
Due: eslint --fix, prettier --write

Add CDP command timeout guards to prevent source-inspection stalls
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/cdp-client.ts
Due: eslint --fix, prettier --write

Add install time hint to project deps
  programs/create/lib/messages.ts
  programs/develop/webpack/webpack-lib/messages.ts
Due: eslint --fix, prettier --write

Fix sequential Firefox runs on multiple projects not working
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/browser-config.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/master-preferences.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/wsl-support.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
