Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Build the workspace dependency a package test needs
  programs/extension/package.json
  scripts/__spec__/ensure-workspace-deps.spec.mjs
  scripts/ensure-workspace-deps.mjs
Due: prettier --write

Turn developer mode on in the Chromium dev profile
  programs/extension/browsers/__spec__/developer-mode.unit.spec.ts
  programs/extension/browsers/__spec__/run-chromium/setup-cdp-after-launch.unit.spec.ts
  programs/extension/browsers/run-chromium/cdp/cdp-extension-controller/index.ts
  programs/extension/browsers/run-chromium/cdp/ensure-developer-mode.ts
  programs/extension/browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
Due: eslint --fix, prettier --write

Print one frame for a create conflict and name a mismatched CLI
  pnpm-lock.yaml
  programs/create/__spec__/create-install-order.spec.ts
  programs/create/__spec__/package-manager-result.spec.ts
  programs/create/lib/messaging.ts
  programs/create/lib/utils.ts
  programs/create/module.ts
  programs/create/steps/__spec__/create-directory-conflict-frame.spec.ts
  programs/create/steps/__spec__/scaffold-type-definitions.spec.ts
  programs/create/steps/create-directory.ts
  programs/develop/lib/messaging.ts
  programs/develop/package.json
  programs/extension/commands/build.ts
  programs/extension/commands/dev.ts
  programs/extension/commands/start.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/extension/helpers/__spec__/project-cli-version.spec.ts
  programs/extension/helpers/__spec__/unhandled-error-frame.spec.ts
  programs/extension/helpers/messages.ts
  programs/extension/helpers/messaging.ts
  programs/extension/helpers/project-cli-version.ts
  programs/install/lib/messaging.ts
Due: eslint --fix, prettier --write

Keep a template working checkout out of the new project
  programs/create/lib/utils.ts
  programs/create/steps/__spec__/scaffold-skips-build-output.spec.ts
Due: eslint --fix, prettier --write

Let a canary of the declared version pass the CLI version check
  programs/extension/helpers/__spec__/project-cli-version.spec.ts
  programs/extension/helpers/project-cli-version.ts
Due: eslint --fix, prettier --write

Cover the colored form of a self-framed error message
  programs/extension/helpers/__spec__/unhandled-error-frame.spec.ts
Due: eslint --fix, prettier --write

Frame a create failure once and name a mismatched CLI
  pnpm-lock.yaml
  programs/create/__spec__/create-install-order.spec.ts
  programs/create/__spec__/package-manager-result.spec.ts
  programs/create/lib/messaging.ts
  programs/create/lib/utils.ts
  programs/create/module.ts
  programs/create/steps/__spec__/create-directory-conflict-frame.spec.ts
  programs/create/steps/__spec__/scaffold-skips-build-output.spec.ts
  programs/create/steps/__spec__/scaffold-type-definitions.spec.ts
  programs/create/steps/create-directory.ts
  programs/develop/lib/messaging.ts
  programs/develop/package.json
  programs/extension/commands/build.ts
  programs/extension/commands/dev.ts
  programs/extension/commands/start.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/extension/helpers/__spec__/project-cli-version.spec.ts
  programs/extension/helpers/__spec__/unhandled-error-frame.spec.ts
  programs/extension/helpers/messages.ts
  programs/extension/helpers/messaging.ts
  programs/extension/helpers/project-cli-version.ts
  programs/install/lib/messaging.ts
Due: eslint --fix, prettier --write

Build svelte with one copy, the compiler when the project is older
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/plugin-js-frameworks/__spec__/svelte-compiler-root.spec.ts
  programs/develop/plugin-js-frameworks/js-frameworks-lib/messages.ts
  programs/develop/plugin-js-frameworks/js-tools/svelte.ts
Due: eslint --fix, prettier --write

Assert the loader version read on a path that cannot resolve
  programs/develop/plugin-js-frameworks/__spec__/svelte-compiler-root.spec.ts
Due: eslint --fix, prettier --write

Repin the template catalog to the transformers-js panel
  programs/create/steps/import-external-template.ts
  programs/extension/helpers/template-corpus.generated.ts
Due: eslint --fix, prettier --write

Move the AI-help snapshot to the new template ref
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
Due: none

Repin the template catalog to the transformers-js panel (#601)
  programs/create/steps/import-external-template.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/template-corpus.generated.ts
Due: eslint --fix, prettier --write

Pin @rspack/core to 2.2.3 so a page with a stylesheet loads clean
  pnpm-lock.yaml
  programs/develop/__spec__/build-html-stylesheet-entry.spec.ts
  programs/develop/package.json
Due: eslint --fix, prettier --write

Pin @rspack/core to 2.2.3 so a page with a stylesheet loads clean (#602)
  pnpm-lock.yaml
  programs/develop/__spec__/build-html-stylesheet-entry.spec.ts
  programs/develop/package.json
Due: eslint --fix, prettier --write

Write the 4.1.24 release highlights
  RELEASE_HIGHLIGHTS.md
Due: prettier --write

Write the 4.1.24 release highlights (#603)
  RELEASE_HIGHLIGHTS.md
Due: prettier --write

Warn on a missing tabs permission only for gated tab fields
  programs/develop/__spec__/dev-injected-permission-warning.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/injected-permission-warning.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/dev-injected-permissions.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
Due: eslint --fix, prettier --write

Warn on a missing tabs permission only for gated tab fields (#604)
  programs/develop/__spec__/dev-injected-permission-warning.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/injected-permission-warning.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/dev-injected-permissions.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
Due: eslint --fix, prettier --write

Use the new Extension.js logo and size the runtime logos at 64px
  README.md
  extensions/extension-js-devtools/src/images/icon-128.png
  extensions/extension-js-devtools/src/images/icon-16.png
  extensions/extension-js-devtools/src/images/icon-32.png
  extensions/extension-js-devtools/src/images/icon-48.png
  extensions/extension-js-devtools/src/images/logo.png
  programs/develop/plugin-compatibility/README.md
  programs/develop/plugin-compilation/README.md
  programs/develop/plugin-css/README.md
  programs/develop/plugin-js-frameworks/README.md
  programs/develop/plugin-static-assets/README.md
  programs/develop/plugin-wasm/README.md
  programs/develop/plugin-web-extension/README.md
  programs/extension/README.md
Due: prettier --write

Use the new Extension.js logo and size the runtime logos at 64px (#605)
  README.md
  extensions/extension-js-devtools/src/images/icon-128.png
  extensions/extension-js-devtools/src/images/icon-16.png
  extensions/extension-js-devtools/src/images/icon-32.png
  extensions/extension-js-devtools/src/images/icon-48.png
  extensions/extension-js-devtools/src/images/logo.png
  programs/develop/plugin-compatibility/README.md
  programs/develop/plugin-compilation/README.md
  programs/develop/plugin-css/README.md
  programs/develop/plugin-js-frameworks/README.md
  programs/develop/plugin-static-assets/README.md
  programs/develop/plugin-wasm/README.md
  programs/develop/plugin-web-extension/README.md
  programs/extension/README.md
Due: prettier --write

Register dev content scripts at runtime so an edit runs one copy
  programs/develop/dev-server/control-bridge/__spec__/producer-runtime.spec.ts
  programs/develop/dev-server/control-bridge/producer-runtime.ts
  programs/develop/plugin-reload/README.md
  programs/develop/plugin-reload/__spec__/classify-reload.unit.spec.ts
  programs/develop/plugin-reload/__spec__/dev-content-scripts.spec.ts
  programs/develop/plugin-reload/__spec__/reload-plugin-gating.spec.ts
  programs/develop/plugin-reload/classify-reload.ts
  programs/develop/plugin-reload/index.ts
  programs/develop/plugin-reload/reload-lib/dev-content-scripts.ts
  programs/develop/plugin-reload/steps/setup-dev-content-scripts.ts
Due: eslint --fix, prettier --write

Register dev content scripts at runtime so an edit runs one copy (#606)
  programs/develop/dev-server/control-bridge/__spec__/producer-runtime.spec.ts
  programs/develop/dev-server/control-bridge/producer-runtime.ts
  programs/develop/plugin-reload/README.md
  programs/develop/plugin-reload/__spec__/classify-reload.unit.spec.ts
  programs/develop/plugin-reload/__spec__/dev-content-scripts.spec.ts
  programs/develop/plugin-reload/__spec__/reload-plugin-gating.spec.ts
  programs/develop/plugin-reload/classify-reload.ts
  programs/develop/plugin-reload/index.ts
  programs/develop/plugin-reload/reload-lib/dev-content-scripts.ts
  programs/develop/plugin-reload/steps/setup-dev-content-scripts.ts
Due: eslint --fix, prettier --write

Write the 4.1.25 release highlights
  RELEASE_HIGHLIGHTS.md
Due: prettier --write

Write the 4.1.25 release highlights (#607)
  RELEASE_HIGHLIGHTS.md
Due: prettier --write

Derive the unpacked extension id from the real path
  programs/develop/lib/__spec__/extension-id.spec.ts
  programs/develop/lib/extension-id.ts
  programs/extension/browsers/__spec__/banner.unit.spec.ts
  programs/extension/browsers/browsers-lib/banner.ts
Due: eslint --fix, prettier --write

Derive the unpacked extension id from the real path (#608)
  programs/develop/lib/__spec__/extension-id.spec.ts
  programs/develop/lib/extension-id.ts
  programs/extension/browsers/__spec__/banner.unit.spec.ts
  programs/extension/browsers/browsers-lib/banner.ts
Due: eslint --fix, prettier --write

Hash the unpacked extension id the way Chrome registers the path on Windows
  programs/develop/lib/__spec__/extension-id.spec.ts
  programs/develop/lib/extension-id.ts
  programs/extension/browsers/__spec__/banner.unit.spec.ts
  programs/extension/browsers/browsers-lib/banner.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
