Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Consolidate ci-scripts into scripts and remove dead scripts
  .github/workflows/optional-deps-matrix.yml
  ci-scripts/run-browser-extension-ci-local.sh
  scripts/__spec__/run-optional-deps-smoke.spec.mjs
  scripts/build-with-manifest.mjs
  scripts/hydrate-templates-from-examples.sh
  scripts/run-optional-deps-smoke.mjs
Due: none

Resolve HMR client paths from extension-develop at injection time
  programs/develop/webpack/plugin-web-extension/feature-html/__spec__/steps/add-scripts-and-styles-to-compilation.unit.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/content-script-wrapper.ts
  programs/develop/webpack/webpack-config.ts
  programs/develop/webpack/webpack-lib/dev-server-client-import.ts
Due: eslint --fix, prettier --write

Normalize path separators in HMR entry assertions for Windows
  programs/develop/webpack/plugin-web-extension/feature-html/__spec__/steps/add-scripts-and-styles-to-compilation.unit.spec.ts
Due: eslint --fix, prettier --write

Use geometric triangle prefix for signature log lines across CLI and webpack
  programs/cli/cli-lib/messages.ts
  programs/cli/cli-lib/telemetry.ts
  programs/cli/rslib.config.ts
  programs/create/lib/messages.ts
  programs/create/steps/install-internal-deps.ts
  programs/develop/webpack/dev-server/messages.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-unified-logger/unified-logging.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/firefox-utils.ts
  programs/develop/webpack/plugin-compatibility/compatibility-lib/messages.ts
  programs/develop/webpack/plugin-compilation/compilation-lib/messages.ts
  programs/develop/webpack/plugin-css/css-lib/messages.ts
  programs/develop/webpack/plugin-css/css-tools/less.ts
  programs/develop/webpack/plugin-css/css-tools/postcss.ts
  programs/develop/webpack/plugin-css/css-tools/sass.ts
  programs/develop/webpack/plugin-css/css-tools/stylelint.ts
  programs/develop/webpack/plugin-css/css-tools/tailwind.ts
  programs/develop/webpack/plugin-js-frameworks/js-frameworks-lib/messages.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/preact.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/react.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/typescript.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/vue.ts
  programs/develop/webpack/plugin-static-assets/static-assets-lib/messages.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/messages.ts
  programs/develop/webpack/webpack-lib/messages.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
  programs/install/lib/messages.ts
Due: eslint --fix, prettier --write

Fix CodeQL Firefox inspection and harden dev-server client resolution
  programs/develop/webpack/plugin-browsers/__spec__/run-firefox/firefox-source-inspection/remote-firefox/rdp-api.spec.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/rdp-api.ts
  programs/develop/webpack/plugin-web-extension/feature-html/__spec__/steps/add-scripts-and-styles-to-compilation.unit.spec.ts
  programs/develop/webpack/webpack-config.ts
  programs/develop/webpack/webpack-lib/__spec__/dev-server-client-import.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/package-manager.spec.ts
  programs/develop/webpack/webpack-lib/dev-server-client-import.ts
Due: eslint --fix, prettier --write

Update Vite/Vitest
  package.json
  pnpm-lock.yaml
  programs/cli/package.json
  programs/create/package.json
  programs/develop/package.json
  programs/install/package.json
Due: prettier --write
