Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Fix Windows process spawning in optional-deps smoke runner
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Fix Windows file specifiers for local package overrides in smoke matrix
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Codify optional-deps runtime contract and lock regressions
  OPTIONAL_DEPS_RUNTIME_CONTRACT.md
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
Due: eslint --fix, prettier --write

Fix optional-deps smoke matrix when browser-extension fixture is absent
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Use registry-mode extension for Windows pnpm smoke lane
  ci-scripts/run-optional-deps-smoke.mjs
  pnpm-lock.yaml
  programs/cli/__spec__/exec/cli-exec.spec.ts
Due: eslint --fix, prettier --write

Simplify optional dependency resolver control flow
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
Due: eslint --fix, prettier --write

Fix optional-deps matrix portability across Windows, Yarn, and Bun
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Further simplify install-root entrypoint resolution helpers
  .github/workflows/optional-deps-matrix.yml
  ci-scripts/run-optional-deps-smoke.mjs
  programs/cli/__spec__/exec/cli-exec.spec.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
Due: eslint --fix, prettier --write

Curate changelog entries for public release notes.
  CHANGELOG.md
Due: prettier --write

Resolve sass-loader in pnpm dlx one-run builds
  programs/develop/webpack/plugin-css/css-in-content-script-loader.ts
  programs/develop/webpack/plugin-css/css-in-html-loader.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Fix bundled extensions regression
  programs/develop/webpack/__spec__/companion-extensions-to-load.spec.ts
  programs/develop/webpack/webpack-lib/extensions-to-load.ts
Due: eslint --fix, prettier --write

Add tests to prevent built-in extension not bundling
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/__spec__/companion-extensions-to-load.spec.ts
  programs/develop/webpack/__spec__/webpack-config.spec.ts
Due: eslint --fix, prettier --write

Follow up on built-in extension overriding user NTP
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/__spec__/companion-extensions-to-load.spec.ts
  programs/develop/webpack/__spec__/webpack-config.spec.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/webpack-config.ts
  programs/develop/webpack/webpack-lib/extensions-to-load.ts
Due: eslint --fix, prettier --write

Fix extension-create not running through Node.js interface
  programs/create/package.json
Due: prettier --write

Fix Windows path assertions in preview spec
  programs/develop/webpack/__spec__/command-preview.spec.ts
Due: eslint --fix, prettier --write

Fix .gitignore writing to avoid GC-closed file handles
  programs/create/steps/__spec__/write-gitignore.spec.ts
  programs/create/steps/write-gitignore.ts
Due: eslint --fix, prettier --write

Avoid Chromium extension hard reload on initial dev build
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.manifest-flow.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-hard-reload/index.ts
Due: eslint --fix, prettier --write

Auto-scan top-level ./extensions
  programs/develop/webpack/feature-special-folders/__spec__/get-data.spec.ts
  programs/develop/webpack/feature-special-folders/get-data.ts
Due: eslint --fix, prettier --write

Fix hard-reload running on first runs and breaking UX
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.manifest-flow.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-hard-reload/index.ts
Due: eslint --fix, prettier --write

Fix first-run Chromium extension disable regressions
  programs/cli/commands/create.ts
  programs/create/steps/__spec__/write-package-json.spec.ts
  programs/create/steps/write-package-json.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/cdp-derive-id.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/cdp-extension-controller.ensure-loaded.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.manifest-flow.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-hard-reload/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/cdp-extension-controller/derive-id.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/cdp-extension-controller/index.ts
Due: eslint --fix, prettier --write

Add more scripts to default creation projects
  programs/create/steps/__spec__/write-package-json.spec.ts
  programs/create/steps/write-package-json.ts
Due: eslint --fix, prettier --write

Fix Chromium hard-reload test
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.warn-dev-mode.unit.spec.ts
Due: eslint --fix, prettier --write

Harden CDP extension ownership during first-run startup
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/cdp-extension-controller.ensure-loaded.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.warn-dev-mode.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/cdp-extension-controller/index.ts
Due: eslint --fix, prettier --write

Fix warn-dev-mode spec logger mock typing
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.warn-dev-mode.unit.spec.ts
Due: eslint --fix, prettier --write

Harden Chromium CDP startup against short-circuit failures
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/cdp-connect-bootstrap-retry.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/cdp-discovery-timeout.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/cdp-extension-controller/connect.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/discovery.ts
Due: eslint --fix, prettier --write

Experimental error overlay
  extensions/extension-js-devtools/src/background/index.ts
  extensions/extension-js-devtools/src/content/ContentApp.tsx
  extensions/extension-js-devtools/src/content/scripts.tsx
  extensions/extension-js-devtools/src/content/styles.css
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/cdp-connect-bootstrap-retry.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/cdp-extension-controller/index.ts
Due: eslint --fix, prettier --write

Gate first-run canary reload regression
  package.json
  pnpm-lock.yaml
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.manifest-flow.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-hard-reload/index.ts
  scripts/validate-first-dev-run.mjs
Due: eslint --fix, prettier --write
