Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

v2.0.0-rc.37
  pnpm-lock.yaml
  programs/cli/package.json
  programs/create/package.json
  programs/develop/package.json
Due: prettier --write

Fix extension.config.js not working on Windows
  programs/develop/commands/commands-lib/get-extension-config.ts
  programs/develop/webpack/__spec__/get-extension-config.spec.ts
  programs/develop/webpack/plugin-js-frameworks/load-loader-options.ts
Due: eslint --fix, prettier --write

Fix extension.config.js tests
  programs/develop/webpack/__spec__/get-extension-config.spec.ts
Due: eslint --fix, prettier --write

v2.0.0-rc.38
  programs/cli/package.json
  programs/create/package.json
  programs/develop/package.json
Due: prettier --write

Update @rspack/core@1.4.8
  pnpm-lock.yaml
  programs/develop/package.json
  programs/develop/webpack/plugin-extension/feature-html/steps/handle-common-errors.ts
Due: eslint --fix, prettier --write

Update README.md icons
  README.md
Due: prettier --write

Update README.md icons (#290)
  README.md
Due: prettier --write

Update lock files
  pnpm-lock.yaml
Due: none

Add support for monorepos
  pnpm-lock.yaml
  programs/create/steps/generate-extension-types.ts
  programs/develop/commands/build.ts
  programs/develop/commands/commands-lib/find-nearest-package.ts
  programs/develop/commands/commands-lib/generate-extension-types.ts
  programs/develop/commands/commands-lib/get-project-path.ts
  programs/develop/commands/commands-lib/messages.ts
  programs/develop/commands/dev.ts
  programs/develop/commands/preview.ts
  programs/develop/commands/start.ts
  programs/develop/package.json
  programs/develop/webpack/dev-server.ts
  programs/develop/webpack/lib/utils.ts
  programs/develop/webpack/plugin-compatibility/feature-polyfill.ts
  programs/develop/webpack/plugin-reload/steps/create-web-socket-server/web-socket-server/start-server.ts
  programs/develop/webpack/webpack-config.ts
Due: eslint --fix, prettier --write

Fix random example logo path mismatches
  examples/content-extension-config/images/logo.png
  examples/content-react-svgr/content/ContentApp.tsx
  examples/content-react-svgr/images/logo.png
Due: eslint --fix, prettier --write

Aesthetic
  .gitignore
  meta.json
  playwright.config.ts
  pnpm-lock.yaml
  programs/publish/README.md
Due: eslint --fix, prettier --write

Use wrapper code for future v2 templates
  pnpm-lock.yaml
  templates/javascript/content/content-script-wrapper.js
  templates/javascript/content/scripts.js
  templates/javascript/images/logo.png
  templates/javascript/manifest.json
  templates/javascript/package.json
  templates/javascript/sidebar/SidebarApp.js
  templates/preact/content/ContentApp.tsx
  templates/preact/content/content-script-wrapper.ts
  templates/preact/content/scripts.tsx
  templates/preact/images/preact.png
  templates/preact/manifest.json
  templates/preact/package.json
  templates/preact/sidebar/SidebarApp.tsx
  templates/react/content/ContentApp.tsx
  templates/react/content/README.md
  templates/react/content/scripts.tsx
  templates/react/package.json
  templates/react/sidebar/SidebarApp.tsx
  templates/react/sidebar/styles.css
  templates/svelte/content/ContentApp.svelte
  templates/svelte/content/content-script-wrapper.ts
  templates/svelte/content/scripts.ts
  templates/svelte/images/logo.png
  templates/svelte/manifest.json
  templates/svelte/package.json
  templates/svelte/sidebar/SidebarApp.svelte
  templates/typescript/content/content-script-wrapper.ts
  templates/typescript/content/scripts.ts
  templates/typescript/images/logo.svg
  templates/typescript/manifest.json
  templates/typescript/package.json
  templates/typescript/sidebar/SidebarApp.ts
  templates/vue/content/ContentApp.vue
  templates/vue/content/content-script-wrapper.ts
  templates/vue/content/scripts.ts
  templates/vue/images/logo.svg
  templates/vue/manifest.json
  templates/vue/package.json
  templates/vue/sidebar/SidebarApp.vue
Due: eslint --fix, prettier --write

Add smart port mechanism
  examples/content/content/scripts.js
  programs/develop/plugin-browsers/browsers-lib/messages.ts
  programs/develop/plugin-browsers/index.ts
  programs/develop/plugin-browsers/run-chromium/browser-config.ts
  programs/develop/plugin-browsers/run-chromium/create-profile.ts
  programs/develop/plugin-browsers/run-chromium/index.ts
  programs/develop/plugin-browsers/run-firefox/firefox/browser-config.ts
  programs/develop/plugin-browsers/run-firefox/firefox/create-profile.ts
  programs/develop/plugin-browsers/run-firefox/index.ts
  programs/develop/plugin-browsers/run-firefox/remote-firefox/index.ts
  programs/develop/webpack/dev-server.ts
  programs/develop/webpack/lib/__spec__/utils.spec.ts
  programs/develop/webpack/lib/port-manager.ts
  programs/develop/webpack/lib/utils.ts
  programs/develop/webpack/plugin-reload/extensions/chrome-manager-extension/reload-service.js
  programs/develop/webpack/plugin-reload/extensions/chromium-based-manager-extension/reload-service.js
  programs/develop/webpack/plugin-reload/extensions/edge-manager-extension/reload-service.js
  programs/develop/webpack/plugin-reload/extensions/firefox-manager-extension/reload-service.js
  programs/develop/webpack/plugin-reload/extensions/gecko-based-manager-extension/reload-service.js
  programs/develop/webpack/plugin-reload/index.ts
  programs/develop/webpack/plugin-reload/steps/create-web-socket-server/index.ts
  programs/develop/webpack/plugin-reload/steps/create-web-socket-server/rewrite-reload-port.ts
  programs/develop/webpack/plugin-reload/steps/create-web-socket-server/web-socket-server/start-server.ts
  programs/develop/webpack/plugin-reload/steps/setup-reload-strategy/generate-manager-extension.ts
  programs/develop/webpack/plugin-reload/steps/setup-reload-strategy/index.ts
Due: eslint --fix, prettier --write

Fix extension manager output path
  programs/develop/webpack/webpack-config.ts
Due: eslint --fix, prettier --write

Prepare templates to public
  templates/javascript/images/javascript.png
  templates/javascript/manifest.json
  templates/javascript/package.json
  templates/javascript/template.spec.ts
  templates/preact/images/preact.png
  templates/preact/manifest.json
  templates/preact/package.json
  templates/preact/template.spec.ts
  templates/react/content/README.md
  templates/react/content/content-script-wrapper.ts
  templates/react/content/scripts.tsx
  templates/react/manifest.json
  templates/react/package.json
  templates/react/template.spec.ts
  templates/svelte/images/svelte.png
  templates/svelte/manifest.json
  templates/svelte/package.json
  templates/svelte/template.spec.ts
  templates/typescript/images/typescript.png
  templates/typescript/manifest.json
  templates/typescript/package.json
  templates/typescript/template.spec.ts
  templates/vue/images/vue.png
  templates/vue/manifest.json
  templates/vue/package.json
  templates/vue/template.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
