Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Exclude the bundled create template from Biome the way ESLint does
  biome.json
Due: prettier --write

Support Deno as a runtime and fix the bare path import
  .github/workflows/ci.yml
  README.md
  docs/CONTRIBUTING.md
  package.json
  programs/develop/__spec__/dist-target-shape.spec.ts
  programs/develop/lib/__spec__/supported-surface.spec.ts
  programs/develop/lib/constants.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
  programs/extension/README.md
  programs/extension/helpers/__spec__/node-version-guard.spec.ts
  programs/extension/helpers/node-version-guard.ts
  scripts/validate-deno-runtime.mjs
Due: eslint --fix, prettier --write

Support Deno as a runtime and fix the bare path import (#543)
  .github/workflows/ci.yml
  README.md
  docs/CONTRIBUTING.md
  package.json
  programs/develop/__spec__/dist-target-shape.spec.ts
  programs/develop/lib/__spec__/supported-surface.spec.ts
  programs/develop/lib/constants.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
  programs/extension/README.md
  programs/extension/helpers/__spec__/node-version-guard.spec.ts
  programs/extension/helpers/node-version-guard.ts
  scripts/validate-deno-runtime.mjs
Due: eslint --fix, prettier --write

Add the Deno highlight for the 4.1.20 release note
  RELEASE_HIGHLIGHTS.md
Due: prettier --write

Keep the docs link readable when the highlight becomes a tweet
  RELEASE_HIGHLIGHTS.md
Due: prettier --write

Add the Deno highlight for the 4.1.20 release note (#544)
  RELEASE_HIGHLIGHTS.md
Due: prettier --write

Resync the bundled javascript template to the sidebar change
  programs/create/steps/import-external-template.ts
  programs/create/templates/javascript/src/manifest.json
  programs/create/templates/javascript/src/sidebar/styles.css
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/template-corpus.generated.ts
Due: eslint --fix, prettier --write

Resync the bundled javascript template to the sidebar change (#545)
  programs/create/steps/import-external-template.ts
  programs/create/templates/javascript/src/manifest.json
  programs/create/templates/javascript/src/sidebar/styles.css
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/template-corpus.generated.ts
Due: eslint --fix, prettier --write

Say native file events are the default watch mode, not polling
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Stop the dev manifest widening web_accessible_resources past the build
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults-helpers.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/dev-build-war-parity.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/patch-web-resources.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
  programs/develop/plugin-web-extension/feature-web-resources/__spec__/unreachable-resources.spec.ts
  programs/develop/plugin-web-extension/feature-web-resources/collect-entry-imports.ts
  programs/develop/plugin-web-extension/feature-web-resources/web-resources-lib/generate-manifest.ts
  programs/develop/plugin-web-extension/feature-web-resources/web-resources-lib/messages.ts
  programs/develop/plugin-web-extension/feature-web-resources/web-resources-lib/unreachable-resources.ts
Due: eslint --fix, prettier --write

Ship one solid-js runtime instead of an ESM and a CommonJS copy
  programs/develop/plugin-js-frameworks/__spec__/js-tools/solid.spec.ts
  programs/develop/plugin-js-frameworks/__spec__/js-tools/typescript.spec.ts
  programs/develop/plugin-js-frameworks/js-tools/solid.ts
  programs/develop/plugin-js-frameworks/js-tools/typescript.ts
Due: eslint --fix, prettier --write

Guard the shipped runtime against innerHTML assignments
  .github/workflows/ci.yml
  package.json
  scripts/__spec__/check-runtime-html.spec.mjs
  scripts/check-runtime-html.mjs
Due: prettier --write

Widen the wait contract budgets on CI runners
  programs/extension/__spec__/exec/dev-wait.contract.spec.ts
  programs/extension/__spec__/exec/start-wait.contract.spec.ts
Due: eslint --fix, prettier --write

Stop listing Solid as a supported framework
  programs/develop/plugin-js-frameworks/README.md
Due: prettier --write

Say native file events are the default watch mode, not polling (#546)
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Warn when a content script starts a worker from the extension origin
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-content-script-worker.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/__spec__/warn-page-context-worker.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/index.ts
  programs/develop/plugin-web-extension/feature-scripts/messages.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/warn-page-context-worker.ts
Due: eslint --fix, prettier --write

Name the measured worker failure on Chromium and Firefox
  programs/develop/__spec__/build-content-script-worker.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/messages.ts
Due: eslint --fix, prettier --write

Warn about a missing permission only when the call reaches the output
  programs/develop/__spec__/dev-injected-permission-warning.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/emitted-evidence.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/warn-gecko-unsupported-apis.ts
Due: eslint --fix, prettier --write

Match dev web_accessible_resources to what the build emits (#547)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults-helpers.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/dev-build-war-parity.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/patch-web-resources.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
  programs/develop/plugin-web-extension/feature-web-resources/__spec__/unreachable-resources.spec.ts
  programs/develop/plugin-web-extension/feature-web-resources/collect-entry-imports.ts
  programs/develop/plugin-web-extension/feature-web-resources/web-resources-lib/generate-manifest.ts
  programs/develop/plugin-web-extension/feature-web-resources/web-resources-lib/messages.ts
  programs/develop/plugin-web-extension/feature-web-resources/web-resources-lib/unreachable-resources.ts
Due: eslint --fix, prettier --write

Guard the shipped runtime against innerHTML assignments (#549)
  .github/workflows/ci.yml
  package.json
  scripts/__spec__/check-runtime-html.spec.mjs
  scripts/check-runtime-html.mjs
Due: prettier --write

Take Bun as a runtime from 1.2 and judge it on its own version
  .github/workflows/ci.yml
  README.md
  docs/CONTRIBUTING.md
  package.json
  programs/develop/lib/__spec__/supported-surface.spec.ts
  programs/develop/lib/constants.ts
  programs/extension/README.md
  programs/extension/helpers/__spec__/node-version-guard.spec.ts
  programs/extension/helpers/node-version-guard.ts
  scripts/validate-bun-runtime.mjs
Due: eslint --fix, prettier --write

Spell the refused worker call without an ellipsis
  programs/develop/__spec__/build-content-script-worker.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/messages.ts
Due: eslint --fix, prettier --write

Widen the wait contract budgets on CI runners (#548)
  programs/extension/__spec__/exec/dev-wait.contract.spec.ts
  programs/extension/__spec__/exec/start-wait.contract.spec.ts
Due: eslint --fix, prettier --write

Scaffold for Bun when the CLI itself runs on the Bun runtime
  programs/create/lib/__spec__/runtime-package-manager.spec.ts
  programs/create/lib/package-manager.ts
Due: eslint --fix, prettier --write

Cover Windows in the Bun and Deno runtime lanes
  .github/workflows/ci.yml
  scripts/validate-bun-runtime.mjs
  scripts/validate-deno-runtime.mjs
Due: none

Warn when a content script starts a worker from an extension URL (#551)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-content-script-worker.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/__spec__/warn-page-context-worker.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/index.ts
  programs/develop/plugin-web-extension/feature-scripts/messages.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/warn-page-context-worker.ts
Due: eslint --fix, prettier --write

Ship one solid-js runtime and stop listing Solid as supported (#550)
  programs/develop/plugin-js-frameworks/README.md
  programs/develop/plugin-js-frameworks/__spec__/js-tools/solid.spec.ts
  programs/develop/plugin-js-frameworks/__spec__/js-tools/typescript.spec.ts
  programs/develop/plugin-js-frameworks/js-tools/solid.ts
  programs/develop/plugin-js-frameworks/js-tools/typescript.ts
Due: eslint --fix, prettier --write

Warn about a missing permission only when it reaches the output (#552)
  programs/develop/__spec__/dev-injected-permission-warning.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/emitted-evidence.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/warn-gecko-unsupported-apis.ts
Due: eslint --fix, prettier --write

Take Bun as a runtime from 1.2 and judge it on its own version (#553)
  .github/workflows/ci.yml
  README.md
  docs/CONTRIBUTING.md
  package.json
  programs/create/lib/__spec__/runtime-package-manager.spec.ts
  programs/create/lib/package-manager.ts
  programs/develop/lib/__spec__/supported-surface.spec.ts
  programs/develop/lib/constants.ts
  programs/extension/README.md
  programs/extension/helpers/__spec__/node-version-guard.spec.ts
  programs/extension/helpers/node-version-guard.ts
  scripts/validate-bun-runtime.mjs
Due: eslint --fix, prettier --write
