Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Wire Safari identity options: --bundle-id/--app-name + config support
  programs/develop/command-build.ts
  programs/develop/command-dev.ts
  programs/develop/types.ts
  programs/extension/browsers/__spec__/run-safari.spec.ts
  programs/extension/browsers/browsers-lib/messages.ts
  programs/extension/browsers/run-safari/safari-launch/index.ts
  programs/extension/browsers/run-safari/safari-launch/safari-config.ts
  programs/extension/browsers/run-safari/safari-types.ts
  programs/extension/commands/build.ts
  programs/extension/commands/dev.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Surface Safari xcrun/xcodebuild output; build skips packaging off-macOS
  programs/extension/browsers/__spec__/run-safari.spec.ts
  programs/extension/browsers/browsers-lib/messages.ts
  programs/extension/browsers/run-safari/safari-launch/index.ts
  programs/extension/commands/build.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-catalog.spec.ts.snap
Due: eslint --fix, prettier --write

Align Safari app/appex bundle ids to --bundle-id after conversion
  programs/extension/browsers/__spec__/run-safari.spec.ts
  programs/extension/browsers/run-safari/safari-launch/index.ts
  programs/extension/browsers/run-safari/safari-launch/safari-config.ts
Due: eslint --fix, prettier --write

Guard bundled javascript template against examples drift
  .github/workflows/programs-nightly.yml
  .github/workflows/publish-release.yml
  scripts/check-bundled-template-drift.sh
Due: none

Repair missing version and CSP unsafe-inline; diagnose unsupported MV
  programs/develop/plugin-web-extension/feature-manifest/__spec__/sanitize-fatal-shapes.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/update-manifest.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/sanitize-fatal-shapes.ts
  programs/extension/browsers/__spec__/manifest-refusal.unit.spec.ts
  programs/extension/browsers/browsers-lib/manifest-refusal.ts
  programs/extension/browsers/browsers-lib/messages.ts
  programs/extension/browsers/run-chromium/chromium-launch/index.ts
Due: eslint --fix, prettier --write

Safari status to Alpha; install explains Xcode instead of a binary
  README.md
  programs/install/__spec__/browser-target.spec.ts
  programs/install/lib/browser-target.ts
Due: eslint --fix, prettier --write

Diagnose live-verified Chrome manifest refusals; repair bad names
  programs/develop/plugin-web-extension/feature-manifest/__spec__/sanitize-fatal-shapes.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/sanitize-fatal-shapes.ts
  programs/extension/browsers/__spec__/manifest-refusal.unit.spec.ts
  programs/extension/browsers/browsers-lib/manifest-refusal.ts
  programs/extension/browsers/run-chromium/chromium-launch/index.ts
  scripts/repro/manifest-refusal-verify/README.md
  scripts/repro/manifest-refusal-verify/make-fixtures.mjs
  scripts/repro/manifest-refusal-verify/make-fixtures2.mjs
  scripts/repro/manifest-refusal-verify/verify-chrome.mjs
  scripts/repro/manifest-refusal-verify/verify-firefox.mjs
Due: eslint --fix, prettier --write

Record Safari converter as a non-surface for manifest refusals
  programs/extension/browsers/browsers-lib/manifest-refusal.ts
  scripts/repro/manifest-refusal-verify/README.md
  scripts/repro/manifest-refusal-verify/verify-safari-converter.mjs
Due: eslint --fix, prettier --write

CI: promote Deno to PR-gating smoke lane (validated locally)
  .github/workflows/optional-deps-matrix.yml
Due: none

Repair named commands missing descriptions Chrome refuses to load
  programs/develop/plugin-web-extension/feature-manifest/__spec__/sanitize-fatal-shapes.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/sanitize-fatal-shapes.ts
Due: eslint --fix, prettier --write

CI: smoke fork build targets; add non-blocking nightly Deno lane
  .github/workflows/optional-deps-matrix.yml
  scripts/run-optional-deps-smoke.mjs
Due: none

README: note Deno support alongside npm/pnpm/yarn/bun
  README.md
Due: prettier --write

Fix npm README logo rewrite regex; resync generated mirror
  programs/extension/README.md
  programs/extension/rslib.config.ts
Due: eslint --fix, prettier --write

Canonicalize supported-surface lists; promote deno to full peer
  README.md
  programs/develop/lib/__spec__/supported-surface.spec.ts
  programs/develop/lib/constants.ts
  programs/develop/lib/package-manager.ts
Due: eslint --fix, prettier --write

Stop claiming Preact HMR in author-mode summary and dev help
  programs/develop/plugin-js-frameworks/index.ts
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write
