Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Use extension-develop as a regular dep. This is a trade-off between speed/reliability
  .github/workflows/discord-notify-releases.yml
  pnpm-lock.yaml
  programs/cli/__spec__/require-or-dlx.spec.ts
  programs/cli/__spec__/telemetry-default.spec.ts
  programs/cli/commands/build.ts
  programs/cli/commands/dev.ts
  programs/cli/commands/preview.ts
  programs/cli/commands/start.ts
  programs/cli/package.json
  programs/cli/types/extension-develop-shim.d.ts
  programs/cli/utils.ts
Due: eslint --fix, prettier --write

Ensure complementary extensions are built on dist cli
  .github/workflows/publish-release.yml
Due: none

Ensure complementary extensions are built on dist cli
  .github/workflows/publish-release.yml
  programs/cli/__spec__/telemetry-default.spec.ts
  programs/cli/types/extension-develop-shim.d.ts
  scripts/build-extensions.cjs
Due: eslint --fix, prettier --write

Fix boring message output
  programs/develop/webpack/plugin-compilation/boring.ts
Due: eslint --fix, prettier --write

Fix tests
  programs/develop/webpack/plugin-compilation/__spec__/compilation.spec.ts
Due: eslint --fix, prettier --write

Fix build for the extension-js-devtools
  extensions/extension-js-devtools/package.json
Due: prettier --write

Fix TypeScript message suggesting tsconfig.json intsall wrongfully
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/typescript.spec.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/typescript.ts
  programs/develop/webpack/webpack-lib/messages.ts
Due: eslint --fix, prettier --write

Pass down browser version for both dev/prod commands for Chromium
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/banner.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-types.ts
Due: eslint --fix, prettier --write

Pass down browser version for both dev/prod commands for Firefox
  programs/develop/webpack/plugin-browsers/browsers-lib/banner.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/setup-rdp-after-launch.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/rdp-extension-controller/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/firefox-utils.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-types.ts
Due: eslint --fix, prettier --write

Add Extension.js own theme
  extensions/extension-js-theme/manifest.json
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  scripts/build-extensions.cjs
Due: eslint --fix, prettier --write
