Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Fix Ci take 2
  programs/cli/tsconfig.json
  programs/create/tsconfig.json
  programs/develop/tsconfig.json
Due: prettier --write

Fix CI take 3
  programs/create/tsconfig.json
  programs/create/types/browser.d.ts
  programs/develop/tsconfig.json
  programs/develop/types/browser.d.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/vue.ts
Due: eslint --fix, prettier --write

Fix CI once forever
  programs/develop/webpack/plugin-reload/steps/setup-firefox-reload-client/minimum-firefox-file.ts
Due: eslint --fix, prettier --write

Fix vulnerabilities found by npm audit
  pnpm-lock.yaml
  programs/develop/package.json
Due: prettier --write

Remove broken monorepo sample
  examples/_not_working_monorepo/.gitignore
  examples/_not_working_monorepo/.npmrc
  examples/_not_working_monorepo/README.md
  examples/_not_working_monorepo/apps/extension/.gitignore
  examples/_not_working_monorepo/apps/extension/background.ts
  examples/_not_working_monorepo/apps/extension/content/ContentApp.tsx
  examples/_not_working_monorepo/apps/extension/content/scripts.tsx
  examples/_not_working_monorepo/apps/extension/content/styles.css
  examples/_not_working_monorepo/apps/extension/images/chromeWindow.png
  examples/_not_working_monorepo/apps/extension/images/extension_48.png
  examples/_not_working_monorepo/apps/extension/images/react.png
  examples/_not_working_monorepo/apps/extension/images/tailwind.png
  examples/_not_working_monorepo/apps/extension/images/tailwind_bg.png
  examples/_not_working_monorepo/apps/extension/images/typescript.png
  examples/_not_working_monorepo/apps/extension/manifest.json
  examples/_not_working_monorepo/apps/extension/options/OptionsApp.tsx
  examples/_not_working_monorepo/apps/extension/options/index.html
  examples/_not_working_monorepo/apps/extension/options/scripts.tsx
  examples/_not_working_monorepo/apps/extension/options/styles.css
  examples/_not_working_monorepo/apps/extension/postcss.config.js
  examples/_not_working_monorepo/apps/extension/public/extension.svg
  examples/_not_working_monorepo/apps/extension/public/logo.svg
  examples/_not_working_monorepo/apps/extension/tsconfig.json
  examples/_not_working_monorepo/package.json
  examples/_not_working_monorepo/postcss.config.js
  examples/_not_working_monorepo/template.BROKENspec.ts
  examples/_not_working_monorepo/tsconfig.json
Due: eslint --fix, prettier --write

Update lock file
  pnpm-lock.yaml
Due: none

Meta updates
  README.md
  programs/cli/README.md
  programs/cli/package.json
Due: prettier --write

Add missing dependencies
  pnpm-lock.yaml
  programs/create/package.json
  programs/develop/package.json
  programs/develop/webpack/plugin-reload/steps/setup-firefox-reload-client/minimum-firefox-file.ts
Due: eslint --fix, prettier --write

Fix weird unrelated type err
  programs/develop/webpack/plugin-extension/feature-web-resources/__spec__/index.spec.ts
Due: eslint --fix, prettier --write

v2.0.0-rc.35
  programs/cli/package.json
  programs/create/package.json
  programs/develop/package.json
Due: prettier --write

Add guard to html-lib/utils file
  programs/develop/webpack/plugin-extension/feature-html/html-lib/utils.ts
Due: eslint --fix, prettier --write

Fix vulnerabilities found by npm audit (#283)
  README.md
  examples/_not_working_monorepo/.gitignore
  examples/_not_working_monorepo/.npmrc
  examples/_not_working_monorepo/README.md
  examples/_not_working_monorepo/apps/extension/.gitignore
  examples/_not_working_monorepo/apps/extension/background.ts
  examples/_not_working_monorepo/apps/extension/content/ContentApp.tsx
  examples/_not_working_monorepo/apps/extension/content/scripts.tsx
  examples/_not_working_monorepo/apps/extension/content/styles.css
  examples/_not_working_monorepo/apps/extension/images/chromeWindow.png
  examples/_not_working_monorepo/apps/extension/images/extension_48.png
  examples/_not_working_monorepo/apps/extension/images/react.png
  examples/_not_working_monorepo/apps/extension/images/tailwind.png
  examples/_not_working_monorepo/apps/extension/images/tailwind_bg.png
  examples/_not_working_monorepo/apps/extension/images/typescript.png
  examples/_not_working_monorepo/apps/extension/manifest.json
  examples/_not_working_monorepo/apps/extension/options/OptionsApp.tsx
  examples/_not_working_monorepo/apps/extension/options/index.html
  examples/_not_working_monorepo/apps/extension/options/scripts.tsx
  examples/_not_working_monorepo/apps/extension/options/styles.css
  examples/_not_working_monorepo/apps/extension/postcss.config.js
  examples/_not_working_monorepo/apps/extension/public/extension.svg
  examples/_not_working_monorepo/apps/extension/public/logo.svg
  examples/_not_working_monorepo/apps/extension/tsconfig.json
  examples/_not_working_monorepo/package.json
  examples/_not_working_monorepo/postcss.config.js
  examples/_not_working_monorepo/template.BROKENspec.ts
  examples/_not_working_monorepo/tsconfig.json
  pnpm-lock.yaml
  programs/cli/README.md
  programs/cli/package.json
  programs/create/package.json
  programs/develop/package.json
  programs/develop/webpack/plugin-extension/feature-html/html-lib/utils.ts
  programs/develop/webpack/plugin-extension/feature-web-resources/__spec__/index.spec.ts
  programs/develop/webpack/plugin-reload/steps/setup-firefox-reload-client/minimum-firefox-file.ts
Due: eslint --fix, prettier --write

Create CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

Create SECURITY.md
  .github/SECURITY.md
Due: prettier --write
