Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Probe only emitted stylesheets from the content script wrapper
  programs/develop/plugin-web-extension/feature-scripts/__spec__/resolve-bundle-css-probe.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/contracts.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/add-content-script-wrapper/content-script-wrapper.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/add-content-script-wrapper/index.ts
Due: eslint --fix, prettier --write

Resolve the background worker entry against entries that exist
  programs/develop/plugin-reload/__spec__/get-background-entry-name.spec.ts
  programs/develop/plugin-reload/__spec__/setup-chunk-loading-target.spec.ts
  programs/develop/plugin-reload/__spec__/setup-reload-strategy.spec.ts
  programs/develop/plugin-reload/steps/setup-chunk-loading-target.ts
  programs/develop/plugin-reload/steps/setup-reload-strategy/index.ts
  programs/develop/plugin-web-extension/feature-scripts/scripts-lib/utils.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/add-scripts.ts
Due: eslint --fix, prettier --write

Route the overlay badge to an options page with an on-off toggle
  extensions/extension-js-devtools/src/background/index.ts
  extensions/extension-js-devtools/src/content/ContentApp.tsx
  extensions/extension-js-devtools/src/lib/overlay-settings.ts
  extensions/extension-js-devtools/src/manifest.json
  extensions/extension-js-devtools/src/options/index.html
  extensions/extension-js-devtools/src/options/scripts.tsx
Due: eslint --fix, prettier --write

Reopen the panel from the badge and add a settings gear button
  extensions/extension-js-devtools/src/content/ContentApp.tsx
Due: eslint --fix, prettier --write

Honor extension.config.js commands.dev.browser when no flag is given
  programs/develop/__spec__/command-dev.spec.ts
  programs/develop/command-dev.ts
  programs/extension/__spec__/dev-command.spec.ts
  programs/extension/commands/dev.ts
  programs/extension/helpers/config-browser.ts
Due: eslint --fix, prettier --write

Enable HMR on extension HTML pages and scrub stale hot=false guards
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/minimum-script-file.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/steps/minimum-script-file.ts
Due: eslint --fix, prettier --write

Hold a failed compile's changed files until a build consumes them
  programs/develop/plugin-browsers/__spec__/classify.unit.spec.ts
  programs/develop/plugin-reload/__spec__/reload-dispatch.unit.spec.ts
  programs/develop/plugin-reload/reload-dispatch.ts
Due: eslint --fix, prettier --write

Rewrite a page reference into the attribute it came from
  programs/develop/plugin-web-extension/feature-html/__spec__/html-lib/patch-html.static-attributes.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/html-lib/utils.clean-asset-url.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/html-lib/utils.get-assets-from-html.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/add-assets-to-compilation.emit-relative-assets.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/html-lib/assets.ts
  programs/develop/plugin-web-extension/feature-html/html-lib/parse-html.ts
  programs/develop/plugin-web-extension/feature-html/html-lib/patch-html.ts
  programs/develop/plugin-web-extension/feature-html/html-lib/utils.ts
Due: eslint --fix, prettier --write

Emit public-hosted JSON manifest resources at their manifest paths
  programs/develop/__spec__/build-public-json.spec.ts
  programs/develop/plugin-web-extension/feature-json/__spec__/json-plugin.spec.ts
  programs/develop/plugin-web-extension/feature-json/__spec__/json-validation.spec.ts
  programs/develop/plugin-web-extension/feature-json/__spec__/resolve-json-resource.spec.ts
  programs/develop/plugin-web-extension/feature-json/json-validation.ts
  programs/develop/plugin-web-extension/feature-json/process-assets.ts
  programs/develop/plugin-web-extension/feature-json/resolve-json-resource.ts
  programs/develop/plugin-web-extension/feature-json/track-dependencies.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/common/__spec__/storage.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/common/index.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/common/storage.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/index.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/mv3/__spec__/declarative_net_request.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/mv3/declarative_net_request.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/mv3/index.ts
  programs/develop/plugin-web-extension/feature-manifest/normalize-manifest-path.ts
Due: eslint --fix, prettier --write

Keep a getURL-bound dynamic import native in every binding shape
  programs/develop/plugin-web-extension/feature-scripts/steps/native-geturl-import-loader.ts
Due: eslint --fix, prettier --write

Take the manifest-fields release resolving prefixed keys by precedence
  pnpm-lock.yaml
  programs/develop/package.json
Due: prettier --write

Resolve a renamed template's alias in every consumer, not just the fetch
  programs/create/module.ts
  programs/create/steps/import-external-template.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Read publish and share doc links from the environment
  .env.example
  programs/create/steps/__spec__/write-readme-file.spec.ts
  programs/create/steps/write-readme-file.ts
  programs/create/templates/javascript/STORE.md
  programs/develop/__spec__/build-share-hint.spec.ts
  programs/develop/command-build.ts
  programs/develop/lib/messages.ts
  programs/extension/__spec__/platform-links.spec.ts
  programs/extension/__spec__/publish-command.spec.ts
  programs/extension/__spec__/publish.spec.ts
  programs/extension/commands/publish.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Bump fast-uri and postcss-selector-parser to their patched releases
  package.json
  pnpm-lock.yaml
Due: prettier --write

Bump browserslist to its patched release
  package.json
  pnpm-lock.yaml
Due: prettier --write

Keep the develop message surface and the bundled template as pinned
  programs/create/steps/write-readme-file.ts
  programs/create/templates/javascript/STORE.md
  programs/develop/lib/messages.ts
  programs/extension/__spec__/platform-links.spec.ts
Due: eslint --fix, prettier --write

Let a publish resume after its tag and wait longer for npm
  .github/workflows/publish-release.yml
Due: none

Pin the patched dependency overrides to releases older than three days
  package.json
  pnpm-lock.yaml
Due: prettier --write

Resolve the lockfile under the release-age rule Dependabot applies
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

Reload an extension page when its own HTML changes under HMR
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/minimum-script-file.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/steps/minimum-script-file.ts
Due: eslint --fix, prettier --write

Survive stray RDP frames and fail Firefox requests fast on a dead socket
  programs/extension/browsers/__spec__/run-firefox/rdp-transport-death.unit.spec.ts
  programs/extension/browsers/run-firefox/rdp/remote-firefox/messaging-client.ts
  programs/extension/browsers/run-firefox/rdp/remote-firefox/transport.ts
Due: eslint --fix, prettier --write
