Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Replace em dashes in user-facing strings to satisfy the prose gate
  programs/develop/lib/session-paths.ts
  programs/develop/plugin-compilation/zip.ts
  programs/develop/plugin-playwright/index.ts
  programs/develop/plugin-web-extension/feature-html/html-lib/messages.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
  programs/extension/browsers/browsers-lib/resolve-profile.ts
Due: eslint --fix, prettier --write

Bump the js-yaml override to 4.3.0 to clear GHSA-52cp-r559-cp3m
  package.json
  pnpm-lock.yaml
Due: prettier --write

Sync bundled javascript template: STORE.md and manifest key order
  programs/create/templates/javascript/STORE.md
  programs/create/templates/javascript/src/manifest.json
Due: prettier --write

Align log/event runId with ready.json and publish Firefox rdpPort
  programs/develop/dev-server/__spec__/config-root-resolution.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/broker.spec.ts
  programs/develop/dev-server/control-bridge/broker.ts
  programs/develop/dev-server/control-bridge/contracts.ts
  programs/develop/dev-server/index.ts
  programs/develop/plugin-playwright/__spec__/ready-writer.spec.ts
  programs/develop/plugin-playwright/index.ts
  programs/extension/browsers/__spec__/ready-stamp.unit.spec.ts
  programs/extension/browsers/browsers-lib/ready-stamp.ts
  programs/extension/browsers/run-firefox/firefox-launch/index.ts
Due: eslint --fix, prettier --write

Drain stdout before exit so piped --output json frames arrive intact
  programs/extension/__spec__/exec/act-json-drain.contract.spec.ts
  programs/extension/commands/act.ts
  programs/extension/commands/doctor.ts
  programs/extension/commands/publish.ts
  programs/extension/helpers/exit-after-drain.ts
  programs/extension/index.ts
Due: eslint --fix, prettier --write

Bump fast-uri to 3.1.4 and immutable to 5.1.9 (Dependabot)
  pnpm-lock.yaml
Due: none

List Safari as a supported target in the README
  README.md
Due: prettier --write

Add the brand banner to the README
  README.md
Due: prettier --write

Add a package managers table and drop the README top banner
  README.md
Due: prettier --write

Match the release-notes tooling to the new release commit subjects
  .github/workflows/clean-release-notes.yml
  .github/workflows/publish-release.yml
  scripts/__spec__/generate-release-notes.spec.mjs
  scripts/clean-release-notes.mjs
  scripts/generate-release-notes.mjs
Due: none

Fail the build on missing theme images, warn on 0-byte ones
  programs/develop/lib/__spec__/build-assets-tree.spec.ts
  programs/develop/lib/messages.ts
  programs/develop/plugin-web-extension/feature-icons/__spec__/emit-file.spec.ts
  programs/develop/plugin-web-extension/feature-icons/messages.ts
  programs/develop/plugin-web-extension/feature-icons/steps/emit-file.ts
Due: eslint --fix, prettier --write

Refresh the messages catalog snapshot for themeImageIsEmpty
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
Due: none

Honor EXTENSION_HEADLESS so automated runs never steal focus
  programs/extension/browsers/__spec__/chromium-flags.spec.ts
  programs/extension/browsers/__spec__/run-firefox/binary-detector.spec.ts
  programs/extension/browsers/browsers-lib/shared-utils.ts
  programs/extension/browsers/run-chromium/chromium-launch/browser-config.ts
  programs/extension/browsers/run-firefox/firefox-launch/binary-detector.ts
  programs/extension/browsers/run-firefox/firefox-launch/index.ts
Due: eslint --fix, prettier --write

Leave static themes uninstrumented in dev on Firefox too
  programs/develop/lib/manifest-utils.ts
  programs/develop/plugin-reload/steps/setup-reload-strategy/setup-background-entry.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/static-theme-exemption.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/patch-war.ts
Due: eslint --fix, prettier --write
