Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Refuse unknown log filters and report dropped log events (#698)
  programs/develop/bridge-entry.ts
  programs/develop/dev-server/control-bridge/__spec__/logs-query.spec.ts
  programs/develop/dev-server/control-bridge/contracts.ts
  programs/develop/dev-server/control-bridge/logs-query.ts
  programs/develop/plugin-reload/steps/inject-bridge-relay.ts
  programs/extension/__spec__/logs-command.spec.ts
  programs/extension/commands/logs.ts
Due: eslint --fix, prettier --write

Record the Firefox store check outcome and say when it failed (#699)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-addon-lint-outcome.spec.ts
  programs/develop/__spec__/command-build.spec.ts
  programs/develop/command-build.ts
  programs/develop/lib/__spec__/addon-lint.spec.ts
  programs/develop/lib/addon-lint.ts
  programs/develop/lib/build-summary.ts
  programs/develop/lib/messages.ts
Due: eslint --fix, prettier --write

Never adopt a companion manifest as the project's own (#700)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/lib/__spec__/get-project-path.spec.ts
  programs/develop/lib/__spec__/session-paths.layout.spec.ts
  programs/develop/lib/messages.ts
  programs/develop/lib/project.ts
  programs/develop/lib/session-paths.ts
Due: eslint --fix, prettier --write

Report ring overflow once, fail commands when the executor leaves (#701)
  programs/develop/dev-server/control-bridge/__spec__/broker-act.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/broker.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/consumer-client.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/controller-client.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/ring-buffer.spec.ts
  programs/develop/dev-server/control-bridge/broker.ts
  programs/develop/dev-server/control-bridge/contracts.ts
  programs/develop/dev-server/control-bridge/controller-client.ts
  programs/develop/dev-server/control-bridge/ring-buffer.ts
  programs/extension/__spec__/doctor.spec.ts
  programs/extension/__spec__/logs-follow-live.spec.ts
  programs/extension/commands/doctor.ts
  programs/extension/commands/logs.ts
Due: eslint --fix, prettier --write

Fail the postcompile on a stale companion and vacuous smoke runs (#702)
  scripts/__spec__/build-extensions.spec.mjs
  scripts/__spec__/smoke-npx.spec.mjs
  scripts/__spec__/validate-browser-identity.spec.mjs
  scripts/build-extensions.cjs
  scripts/lib/browser-identity-verdict.mjs
  scripts/smoke-npx.mjs
  scripts/validate-browser-identity.mjs
Due: none

Warn when a build uses the browser global without the polyfill (#703)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-browser-global-polyfill-warning.spec.ts
  programs/develop/plugin-compatibility/__spec__/free-browser-references.spec.ts
  programs/develop/plugin-compatibility/compatibility-lib/free-browser-references.ts
  programs/develop/plugin-compatibility/compatibility-lib/messages.ts
  programs/develop/plugin-compatibility/feature-browser-global.ts
  programs/develop/plugin-compatibility/index.ts
  programs/develop/rspack-config.ts
  programs/extension/commands/build.ts
  programs/extension/commands/dev.ts
  programs/extension/commands/start.ts
Due: eslint --fix, prettier --write

Guard cache groups and runtimeChunk, background.page is a page (#704)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-background-page-chunks.spec.ts
  programs/develop/__spec__/build-runtime-chunk-guard.spec.ts
  programs/develop/__spec__/build-user-entry-cache-group.spec.ts
  programs/develop/lib/__spec__/keep-user-entries-whole.spec.ts
  programs/develop/lib/__spec__/normalize-split-chunks.spec.ts
  programs/develop/lib/messages.ts
  programs/develop/lib/normalize-split-chunks.ts
  programs/develop/lib/split-chunks.ts
  programs/develop/plugin-web-extension/feature-scripts/__spec__/warn-split-initial-chunks.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/messages.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/warn-split-initial-chunks.ts
Due: eslint --fix, prettier --write

Give the Safari build the same config layers and gates as dev
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/command-build.spec.ts
  programs/develop/__spec__/config-safari-parity.spec.ts
  programs/develop/command-build.ts
  programs/develop/command-dev.ts
  programs/develop/lib/messages.ts
  programs/develop/lib/safari-identity.ts
  programs/develop/types.ts
Due: eslint --fix, prettier --write

Give the Safari build the same config layers and gates as dev (#705)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/command-build.spec.ts
  programs/develop/__spec__/config-safari-parity.spec.ts
  programs/develop/command-build.ts
  programs/develop/command-dev.ts
  programs/develop/lib/messages.ts
  programs/develop/lib/safari-identity.ts
  programs/develop/types.ts
Due: eslint --fix, prettier --write

Strip types before Svelte compiles a .svelte.ts rune module (#706)
  programs/develop/__spec__/build-svelte-rune-module.spec.ts
  programs/develop/plugin-js-frameworks/__spec__/js-tools/svelte.spec.ts
  programs/develop/plugin-js-frameworks/js-tools/svelte.ts
Due: eslint --fix, prettier --write

Honor nested gitignore rules in the source zip on Windows (#708)
  programs/develop/plugin-compilation/__spec__/zip.spec.ts
  programs/develop/plugin-compilation/zip.ts
Due: eslint --fix, prettier --write

Make dev content script registrations shrink, heal and stamp CSS (#709)
  programs/develop/dev-server/control-bridge/__spec__/producer-runtime.spec.ts
  programs/develop/dev-server/control-bridge/producer-runtime.ts
  programs/develop/plugin-reload/__spec__/dev-content-scripts.spec.ts
  programs/develop/plugin-reload/reload-lib/dev-content-scripts.ts
Due: eslint --fix, prettier --write

Let the install runner spec wait for the child data before close
  programs/install/__spec__/runner.spec.ts
Due: eslint --fix, prettier --write

Name a package that resolves nowhere in the peer check spec
  programs/extension/__spec__/rspack-peer-check.spec.ts
Due: eslint --fix, prettier --write

Route unsolicited RDP packets apart and close the client on exit (#710)
  programs/extension/__spec__/rspack-peer-check.spec.ts
  programs/extension/browsers/__spec__/run-firefox/rdp-client-lifecycle.unit.spec.ts
  programs/extension/browsers/__spec__/run-firefox/rdp-evaluate-exception.unit.spec.ts
  programs/extension/browsers/__spec__/run-firefox/rdp-transport-death.unit.spec.ts
  programs/extension/browsers/__spec__/run-firefox/rdp-transport.unit.spec.ts
  programs/extension/browsers/__spec__/run-firefox/rdp-unsolicited-packets.unit.spec.ts
  programs/extension/browsers/__spec__/run-firefox/setup-rdp-load-refusal.unit.spec.ts
  programs/extension/browsers/__spec__/run-firefox/setup-rdp-newtab-courtesy.unit.spec.ts
  programs/extension/browsers/run-firefox/firefox-launch/index.ts
  programs/extension/browsers/run-firefox/firefox-launch/setup-rdp-after-launch.ts
  programs/extension/browsers/run-firefox/rdp/rdp-extension-controller/index.ts
  programs/extension/browsers/run-firefox/rdp/remote-firefox/evaluate.ts
  programs/extension/browsers/run-firefox/rdp/remote-firefox/index.ts
  programs/extension/browsers/run-firefox/rdp/remote-firefox/manager-tab.ts
  programs/extension/browsers/run-firefox/rdp/remote-firefox/messaging-client.ts
  programs/extension/browsers/run-firefox/rdp/remote-firefox/transport.ts
  programs/install/__spec__/runner.spec.ts
Due: eslint --fix, prettier --write

Keep the session ignore file inside the dist session root
  programs/develop/types.ts
  programs/extension/__spec__/preview-command.spec.ts
  programs/extension/browsers/__spec__/copy-from-profile-seed.unit.spec.ts
  programs/extension/browsers/browsers-lib/resolve-profile.ts
Due: eslint --fix, prettier --write

Scope the session ignore file and drop a dead preview option (#711)
  programs/develop/types.ts
  programs/extension/__spec__/preview-command.spec.ts
  programs/extension/browsers/__spec__/copy-from-profile-seed.unit.spec.ts
  programs/extension/browsers/browsers-lib/resolve-profile.ts
Due: eslint --fix, prettier --write

Adopt a project root only when it owns the manifest
  programs/develop/__spec__/build-declined-project-root.spec.ts
  programs/develop/lib/__spec__/owns-manifest.spec.ts
  programs/develop/lib/messages.ts
  programs/develop/lib/project.ts
Due: eslint --fix, prettier --write

Keep a stranger project root out of the resolution specs
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/session-project-root.spec.ts
  programs/develop/lib/__spec__/get-project-path.spec.ts
Due: eslint --fix, prettier --write

Adopt a project root only when it owns the manifest (#712)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-declined-project-root.spec.ts
  programs/develop/__spec__/session-project-root.spec.ts
  programs/develop/lib/__spec__/get-project-path.spec.ts
  programs/develop/lib/__spec__/owns-manifest.spec.ts
  programs/develop/lib/messages.ts
  programs/develop/lib/project.ts
Due: eslint --fix, prettier --write

Bump github/codeql-action to 4.38.2 across every workflow
  .github/workflows/codeql.yml
  .github/workflows/scorecard.yml
Due: none

Keep Babel on 7 until the Solid preset accepts Babel 8
  .github/dependabot.yml
Due: none

Bump brace-expansion and fast-uri past their advisories
  package.json
  pnpm-lock.yaml
Due: prettier --write

Pass TMPDIR through turbo so tasks and direct runs agree
  scripts/__spec__/turbo-passthrough-env.spec.mjs
  turbo.json
Due: prettier --write

Bump devalue past its advisories
  package.json
  pnpm-lock.yaml
Due: prettier --write

Bump github/codeql-action to 4.38.2 across every workflow (#713)
  .github/workflows/codeql.yml
  .github/workflows/scorecard.yml
Due: none

Keep Babel on 7 until the Solid preset accepts Babel 8 (#714)
  .github/dependabot.yml
Due: none

Pass TMPDIR through turbo so tasks and direct runs agree (#716)
  scripts/__spec__/turbo-passthrough-env.spec.mjs
  turbo.json
Due: prettier --write

Bump brace-expansion, fast-uri and devalue past their advisories (#715)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Publish with the npm bundled in Node 24 and drop the tool lockfile
  .github/dependabot.yml
  .github/tools/npm/package-lock.json
  .github/tools/npm/package.json
  .github/workflows/publish-release.yml
Due: prettier --write

Publish with the npm bundled in Node 24 and drop the tool lockfile (#717)
  .github/dependabot.yml
  .github/tools/npm/package-lock.json
  .github/tools/npm/package.json
  .github/workflows/publish-release.yml
Due: prettier --write

Refuse the open gesture only on Chromium, not every Gecko fork
  programs/extension/__spec__/act-commands.spec.ts
  programs/extension/commands/act.ts
Due: eslint --fix, prettier --write

Refuse the open gesture only on Chromium, not every Gecko fork (#719)
  programs/extension/__spec__/act-commands.spec.ts
  programs/extension/commands/act.ts
Due: eslint --fix, prettier --write

Stop the dev log relay from posing as the extension's devtools port
  programs/develop/dev-server/control-bridge/__spec__/producer-runtime.spec.ts
  programs/develop/dev-server/control-bridge/producer-runtime.ts
Due: eslint --fix, prettier --write

Stop the dev log relay from posing as the extension's devtools port (#720)
  programs/develop/dev-server/control-bridge/__spec__/producer-runtime.spec.ts
  programs/develop/dev-server/control-bridge/producer-runtime.ts
Due: eslint --fix, prettier --write

Confirm reload delivery and report a control port that cannot bind
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/dev-server/__spec__/control-bridge-start-failure.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/broker-act.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/broker.spec.ts
  programs/develop/dev-server/control-bridge/broker.ts
  programs/develop/dev-server/control-bridge/ws-control-server.ts
  programs/develop/dev-server/index.ts
  programs/develop/dev-server/messages.ts
Due: eslint --fix, prettier --write

Confirm reload delivery and report a control port that cannot bind (#721)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/dev-server/__spec__/control-bridge-start-failure.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/broker-act.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/broker.spec.ts
  programs/develop/dev-server/control-bridge/broker.ts
  programs/develop/dev-server/control-bridge/ws-control-server.ts
  programs/develop/dev-server/index.ts
  programs/develop/dev-server/messages.ts
Due: eslint --fix, prettier --write

Harden the dev server HTTP surface, port probe and emulator route
  programs/develop/dev-server/__spec__/config-root-resolution.spec.ts
  programs/develop/dev-server/__spec__/cors.spec.ts
  programs/develop/dev-server/__spec__/emulator-lane.spec.ts
  programs/develop/dev-server/__spec__/port-manager.spec.ts
  programs/develop/dev-server/__spec__/public-folder-off.spec.ts
  programs/develop/dev-server/cors.ts
  programs/develop/dev-server/emulator-lane.ts
  programs/develop/dev-server/index.ts
  programs/develop/dev-server/port-manager.ts
  programs/develop/plugin-css/dead-css-url-loader.ts
  programs/develop/plugin-css/public-css-url-loader.ts
  programs/develop/plugin-special-folders/resolve-public-folder.ts
Due: eslint --fix, prettier --write

Stop telemetry from swallowing crashes and reprinting the notice
  docs/TELEMETRY.md
  programs/extension/__spec__/telemetry-crash-exit.spec.ts
  programs/extension/__spec__/telemetry-first-run-notice.spec.ts
  programs/extension/helpers/telemetry-cli.ts
  programs/extension/helpers/telemetry.ts
Due: eslint --fix, prettier --write

Fail a crashed dev session, cap its event log, scope its stamps
  programs/develop/dev-server/__spec__/auto-exit.spec.ts
  programs/develop/dev-server/__spec__/cleanup-exit-code.spec.ts
  programs/develop/dev-server/__spec__/fixtures/cleanup-exit-code-child.ts
  programs/develop/dev-server/auto-exit.ts
  programs/develop/dev-server/cleanup.ts
  programs/develop/plugin-playwright/README.md
  programs/develop/plugin-playwright/__spec__/events-budget.spec.ts
  programs/develop/plugin-playwright/index.ts
  programs/extension/browsers/__spec__/ready-stamp.unit.spec.ts
  programs/extension/browsers/browsers-lib/ready-stamp.ts
  programs/extension/browsers/run-chromium/chromium-launch/index.ts
  programs/extension/browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
  programs/extension/browsers/run-chromium/chromium-types.ts
  programs/extension/browsers/run-firefox/firefox-launch/index.ts
  programs/extension/browsers/run-safari/safari-launch/index.ts
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write
