Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Revalidate the packument so a good release stops failing
  scripts/verify-published-artifact.mjs
Due: none

Report a failed create to telemetry before the process exits
  programs/extension/__spec__/exec/create-failure-telemetry.contract.spec.ts
  programs/extension/index.ts
Due: eslint --fix, prettier --write

Name the browser doctor ran on and keep screenshots out of the zip
  .gitignore
  CODE_OF_CONDUCT.md
  programs/create/steps/__spec__/write-readme-file.spec.ts
  programs/create/steps/write-readme-file.ts
  programs/create/templates/javascript/README.md
  programs/create/templates/javascript/screenshot.png
  programs/develop/plugin-web-extension/feature-scripts/steps/add-content-script-wrapper/content-script-wrapper.ts
  programs/extension/__spec__/doctor.spec.ts
  programs/extension/commands/doctor.ts
Due: eslint --fix, prettier --write

Let the nightly e2e fail red and find the CLI it builds with
  .github/workflows/e2e.yml
  scripts/build-with-manifest.mjs
Due: none

Gate held share-hint strings in the extension-develop publish
  .github/workflows/publish-release.yml
  scripts/__spec__/check-held-strings.spec.mjs
  scripts/check-held-strings.mjs
Due: none

Scope the firefox e2e project to the real Firefox specs
  playwright.config.ts
Due: eslint --fix, prettier --write

Size the nightly e2e to a verdict and assert the CLI boots first
  .github/workflows/e2e.yml
  playwright.config.ts
Due: eslint --fix, prettier --write

Drop copied template lockfiles so npm ci works in a fresh scaffold
  programs/create/lib/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/create/lib/messages.ts
  programs/create/steps/__spec__/import-external-template.lockfiles.spec.ts
  programs/create/steps/__spec__/import-external-template.scaffolding.spec.ts
  programs/create/steps/import-external-template.ts
Due: eslint --fix, prettier --write

Name the requested template truthfully in the create banner and help
  programs/create/lib/messages.ts
  programs/create/module.ts
  programs/create/steps/__spec__/import-external-template.init-alias.spec.ts
  programs/extension/__spec__/template-catalog.spec.ts
  programs/extension/helpers/messages.ts
  programs/extension/helpers/template-catalog.ts
Due: eslint --fix, prettier --write

Bump nine location package pins to the which 6 releases
  pnpm-lock.yaml
  programs/extension/package.json
Due: prettier --write

Pin waterfox-location 2.1.1 to finish the which 6 rollout
  pnpm-lock.yaml
  programs/extension/package.json
Due: prettier --write

Resync the bundled javascript template to the public screenshot
  programs/create/templates/javascript/README.md
  programs/create/templates/javascript/public/screenshot.png
Due: prettier --write

Disable deno minimum dependency age in the optional deps smoke
  scripts/run-optional-deps-smoke.mjs
Due: none

Cover per-script reinject identity for multi-script content entries
  programs/develop/plugin-web-extension/feature-scripts/__spec__/content-script-wrapper.spec.ts
Due: eslint --fix, prettier --write

Merge the .extension-js ignore line into adopted project gitignores
  extensions/extension-js-devtools/.gitignore
  programs/develop/command-build.ts
  programs/develop/dev-server/index.ts
  programs/develop/lib/__spec__/session-gitignore.spec.ts
  programs/develop/lib/session-paths.ts
Due: eslint --fix, prettier --write

Deny secrets in the source zip independent of any gitignore
  programs/develop/plugin-compilation/__spec__/zip.spec.ts
  programs/develop/plugin-compilation/zip.ts
Due: eslint --fix, prettier --write

Read the stored device login as the publish token fallback
  programs/extension/__spec__/publish-command.spec.ts
  programs/extension/__spec__/publish.spec.ts
  programs/extension/commands/publish.ts
Due: eslint --fix, prettier --write

Gitignore the env files the framework loads in new scaffolds
  programs/create/steps/__spec__/write-gitignore.spec.ts
  programs/create/steps/write-gitignore.ts
Due: eslint --fix, prettier --write

Emit one-shot builds into a staging dir and rename into dist on success
  programs/develop/__spec__/build-atomic-dist.spec.ts
  programs/develop/command-build.ts
  programs/develop/lib/__spec__/atomic-dist.spec.ts
  programs/develop/lib/atomic-dist.ts
  programs/develop/plugin-playwright/index.ts
  programs/develop/rspack-config.ts
  programs/develop/types.ts
Due: eslint --fix, prettier --write

Fix boring line dist classification, name fallback and warn arming
  programs/develop/plugin-compilation/__spec__/boring-first-line.spec.ts
  programs/develop/plugin-compilation/__spec__/boring.spec.ts
  programs/develop/plugin-compilation/boring.ts
Due: eslint --fix, prettier --write

Detect the system Edge binary when the lookup exits zero
  programs/install/__spec__/runner.spec.ts
  programs/install/lib/runner.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
