Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update pnpm lockfile
  pnpm-lock.yaml
Due: none

Add Linux CI Chromium sandbox flags for CDP dev tooling
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/browser-config.ts
Due: eslint --fix, prettier --write

Resolve release notes range when stable tag is off current branch
  scripts/generate-release-notes.mjs
Due: none

Remove build-dependencies.json and its entire sync/tracking infrastructure
  .github/build-deps/package-lock.json
  .github/build-deps/package.json
  .github/dependabot.yml
  .github/workflows/build-deps-sync-check.yml
  .github/workflows/update-build-dependencies.yml
  programs/create/__spec__/install-internal-deps.spec.ts
  programs/create/lib/messages.ts
  programs/create/steps/install-internal-deps.ts
  programs/develop/CHANGELOG.md
  programs/develop/__spec__/unit/sync-build-dependencies.spec.ts
  programs/develop/package.json
  programs/develop/scripts/sync-build-dependencies.mjs
  programs/develop/webpack/webpack-lib/build-dependencies.json
  scripts/sync-build-deps-tracking.mjs
Due: eslint --fix, prettier --write

Bump axios from 1.13.5 to 1.15.0
  pnpm-lock.yaml
  programs/create/package.json
Due: prettier --write

Fix invalid process event name in dev server cleanup
  programs/develop/webpack/dev-server/cleanup.ts
Due: eslint --fix, prettier --write

Fix race condition in resolve-paths-loader via shared global
  programs/develop/webpack/plugin-web-extension/feature-resolve/resolve-paths-loader.ts
Due: eslint --fix, prettier --write

Fix CDP load event race in source inspection
  programs/browser/run-chromium/chromium-source-inspection/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
