Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix Vitest blocking release
  programs/cli/vitest.config.ts
Due: eslint --fix, prettier --write

Attempt to ease process termination via start/preview
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-only.ts
Due: eslint --fix, prettier --write

Update changelog formatting for releases
  .github/workflows/publish-release.yml
  CHANGELOG.md
Due: prettier --write

Bring back create/
  programs/cli/examples/init/manifest.json
  programs/cli/examples/init/src/background.js
  programs/cli/examples/init/src/manifest.json
  programs/create/.changeset/config.json
  programs/create/.github/actions/extension-create/action.yml
  programs/create/.github/actions/setup/action.yml
  programs/create/.github/workflows/ci.yml
  programs/create/.github/workflows/publish-on-tag.yml
  programs/create/.github/workflows/release.yml
  programs/create/.gitignore
  programs/create/LICENSE
  programs/create/README.md
  programs/create/__spec__/create-remote.spec.ts
  programs/create/create.spec.ts
  programs/create/eslint.config.mjs
  programs/create/lib/messages.ts
  programs/create/lib/types.ts
  programs/create/lib/utils.ts
  programs/create/module.ts
  programs/create/package.json
  programs/create/rslib.config.ts
  programs/create/steps/create-directory.ts
  programs/create/steps/generate-extension-types.ts
  programs/create/steps/import-external-template.ts
  programs/create/steps/import-local-template.ts
  programs/create/steps/initialize-git-repository.ts
  programs/create/steps/install-dependencies.ts
  programs/create/steps/setup-built-in-tests.ts
  programs/create/steps/write-gitignore.ts
  programs/create/steps/write-manifest-json.ts
  programs/create/steps/write-package-json.ts
  programs/create/steps/write-readme-file.ts
  programs/create/tsconfig.json
  programs/create/vitest.config.ts
  templates/extension-fixtures.ts
Due: eslint --fix, prettier --write

Fix package version in the CLI output
  programs/cli/index.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
Due: eslint --fix, prettier --write

Fix HMR not working for content_scripts using Vue
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/ensure-hmr-for-scripts.unit.spec.ts
  programs/develop/webpack/plugin-extension/feature-html/steps/ensure-hmr-for-scripts.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/content-script-wrapper.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/content-script-wrapper.ts
  templates/vue/src/content/ContentApp.vue
Due: eslint --fix, prettier --write

Update release workflow
  .github/workflows/discord-notify-releases.yml
  .github/workflows/publish-release.yml
  CHANGELOG.md
Due: prettier --write

Split heavy deps
  .github/actions/setup/action.yml
  .github/build-deps/package.json
  .github/workflows/build-deps-sync-check.yml
  .github/workflows/ci.yml
  .github/workflows/discord-notify-releases.yml
  .github/workflows/sync-build-deps-from-tracking.yml
  programs/cli/vitest.config.ts
  programs/develop/package.json
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/command-dev.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/extension-output-path.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/browser-config.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/setup-rdp-after-launch.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/rdp-extension-controller/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/addons-install.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/index.ts
  programs/develop/webpack/plugin-browsers/run-only.ts
  programs/develop/webpack/webpack-lib/build-dependencies.json
  programs/develop/webpack/webpack-lib/config-loader.ts
Due: eslint --fix, prettier --write

Update dependencies
  .github/build-deps/package-lock.json
  .github/build-deps/package.json
  package.json
  pnpm-lock.yaml
  programs/cli/__spec__/cache-reuse-offline.spec.ts
  programs/cli/__spec__/dynamic-install.spec.ts
  programs/cli/package.json
  programs/develop/package.json
  programs/develop/rslib.config.ts
  programs/develop/webpack/webpack-lib/build-dependencies.json
  programs/develop/webpack/webpack-lib/validate-user-dependencies.ts
Due: eslint --fix, prettier --write

Enhance preflight install script capabitlies
  .gitignore
  programs/cli/commands/create.ts
  programs/cli/types/extension-develop-shim.d.ts
  programs/create/lib/messages.ts
  programs/develop/module.ts
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/__spec__/command-dev.spec.ts
  programs/develop/webpack/__spec__/command-start.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/command-dev.ts
  programs/develop/webpack/command-start.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/plugin-js-frameworks/frameworks-lib/integrations.ts
  programs/develop/webpack/plugin-js-frameworks/js-frameworks-lib/messages.ts
  programs/develop/webpack/webpack-lib/__spec__/preflight-cache.spec.ts
  programs/develop/webpack/webpack-lib/dependency-manager.ts
  programs/develop/webpack/webpack-lib/preflight-cache.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Sync react, react-dom, sonner, lucide-react versions
  extensions/extension-js-devtools/package.json
  pnpm-lock.yaml
  templates/preact/package.json
  templates/react/package.json
Due: prettier --write

Tweak welcome page
  extensions/extension-js-devtools/pages/welcome/scripts.tsx
  extensions/extension-js-theme/manifest.json
Due: eslint --fix, prettier --write

Update create/ message
  programs/create/lib/messages.ts
Due: eslint --fix, prettier --write

More preflight install kungfu
  programs/create/module.ts
  programs/create/steps/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Update all packags as per dependabot
  extensions/extension-js-devtools/package.json
  package.json
  pnpm-lock.yaml
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/extension-output-path.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-only.ts
  programs/develop/webpack/plugin-compatibility/__spec__/feature-polyfill.alias.spec.ts
  programs/develop/webpack/plugin-compilation/__spec__/clean-dist.spec.ts
  programs/develop/webpack/plugin-compilation/__spec__/compilation.spec.ts
  programs/develop/webpack/plugin-extension/feature-manifest/__spec__/manifest-plugin.spec.ts
  programs/develop/webpack/webpack-lib/config-loader.ts
  templates/preact/package.json
  templates/svelte/package.json
Due: eslint --fix, prettier --write

Fix nightly check
  .github/workflows/programs-nightly.yml
  pnpm-lock.yaml
  programs/develop/webpack/plugin-extension/feature-scripts/steps/add-scripts.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/setup-background-entry.ts
  programs/develop/webpack/webpack-lib/paths.ts
  scripts/build-extensions.cjs
Due: eslint --fix, prettier --write

Format
  README.md
  extensions/extension-js-devtools/src/components/ui/badge.tsx
  extensions/extension-js-devtools/src/components/ui/button.tsx
  extensions/extension-js-devtools/src/components/ui/input.tsx
  extensions/extension-js-devtools/src/components/ui/sheet.tsx
  programs/cli/README.md
  programs/cli/cli-lib/telemetry.ts
  programs/cli/commands/build.ts
  programs/cli/commands/dev.ts
  programs/cli/commands/preview.ts
  programs/cli/commands/start.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/shared-utils.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-types.ts
  programs/develop/webpack/plugin-css/__spec__/css-lib/is-content-script.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/stylelint.spec.ts
  programs/develop/webpack/plugin-css/__spec__/tools.spec.ts
  programs/develop/webpack/plugin-extension/feature-icons/__spec__/add-to-file-dependencies.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/preact.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/react.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/svelte.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/typescript.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/vue.spec.ts
Due: eslint --fix, prettier --write

Update dependencies
  .github/build-deps/package.json
  pnpm-lock.yaml
  programs/develop/package.json
  programs/develop/webpack/webpack-lib/build-dependencies.json
  scripts/sync-build-deps-tracking.mjs
Due: prettier --write

Update messages
  programs/cli/cli-lib/messages.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-extension/feature-html/html-lib/messages.ts
  programs/develop/webpack/plugin-extension/feature-locales/__spec__/index.spec.ts
  programs/develop/webpack/plugin-extension/feature-locales/messages.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/messages.ts
Due: eslint --fix, prettier --write

Avoid calling SASS/LESS when not needed
  programs/develop/webpack/plugin-css/__spec__/loaders.spec.ts
  programs/develop/webpack/plugin-css/css-in-content-script-loader.ts
  programs/develop/webpack/plugin-css/css-in-html-loader.ts
  programs/develop/webpack/plugin-css/index.ts
Due: eslint --fix, prettier --write

Bring back manager extension primitive components
  .github/workflows/publish-release.yml
  extensions/extension-js-devtools/src/components/ui/card.tsx
  extensions/extension-js-devtools/src/components/ui/collapsible.tsx
  extensions/extension-js-devtools/src/components/ui/copy-button.tsx
  extensions/extension-js-devtools/src/components/ui/drawer.tsx
  extensions/extension-js-devtools/src/components/ui/input.tsx
  extensions/extension-js-devtools/src/components/ui/label.tsx
  extensions/extension-js-devtools/src/components/ui/select.tsx
  extensions/extension-js-devtools/src/components/ui/sonner.tsx
  extensions/extension-js-devtools/src/components/ui/switch.tsx
  extensions/extension-js-devtools/src/components/ui/table.tsx
  extensions/extension-js-devtools/src/components/ui/toggle-group.tsx
Due: eslint --fix, prettier --write

Resolve polyfill from the consumer project first
  programs/develop/webpack/plugin-compatibility/__spec__/feature-polyfill.alias.spec.ts
  programs/develop/webpack/plugin-compatibility/feature-polyfill.ts
Due: eslint --fix, prettier --write

Avoid throwing when extension runtime is missing
  programs/develop/webpack/plugin-extension/feature-scripts/steps/__spec__/add-public-path-runtime-module.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/add-public-path-runtime-module.ts
Due: eslint --fix, prettier --write

Ensure theme bundled with devtools
  scripts/build-extensions.cjs
Due: none

Fix create init template alias in remote installs
  programs/create/steps/__spec__/import-external-template.init-alias.spec.ts
  programs/create/steps/import-external-template.ts
Due: eslint --fix, prettier --write

Fix background rewrites for browser-prefixed manifest fields
  programs/develop/webpack/plugin-extension/feature-manifest/__spec__/update-manifest.browser-prefix.spec.ts
  programs/develop/webpack/plugin-extension/feature-manifest/index.ts
  programs/develop/webpack/plugin-extension/feature-manifest/steps/update-manifest.ts
Due: eslint --fix, prettier --write

Force tar 7.5.6 to resolve security update
  package.json
  pnpm-lock.yaml
Due: prettier --write

Drop chokidar in favor of rspack watch
  .github/build-deps/package.json
  pnpm-lock.yaml
  programs/develop/package.json
  programs/develop/webpack/plugin-extension/feature-special-folders/__spec__/warn-upon-folder-changes.spec.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/warn-upon-folder-changes.ts
Due: eslint --fix, prettier --write

Harden telemetry storage fallback
  programs/cli/__spec__/telemetry-default.spec.ts
  programs/cli/cli-lib/__spec__/telemetry-storage.spec.ts
  programs/cli/cli-lib/telemetry.ts
  programs/cli/package.json
Due: eslint --fix, prettier --write

Stop loading extension-develop during create
  programs/cli/cli-lib/__spec__/check-updates.spec.ts
  programs/cli/cli-lib/__spec__/messages.spec.ts
  programs/cli/commands/create.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
