Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Attempt to fix published version not running
  programs/cli/commands/dev.ts
  programs/cli/index.ts
Due: eslint --fix, prettier --write

Use forked version of webpack-target-webextension for local testing
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/index.ts
Due: eslint --fix, prettier --write

Second attempt
  programs/cli/commands/dev.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/index.ts
Due: eslint --fix, prettier --write

Fix: correctly allow /* as pathname in matches
  programs/develop/webpack/plugin-extension/feature-web-resources/web-resources-lib/resolve-war.ts
Due: eslint --fix, prettier --write

Use EXTENSION_AUTHOR_MODE instead of EXTENSION_ENV
  .env.example
  .github/workflows/programs-nightly.yml
  CONTRIBUTING.md
  programs/cli/check-updates.ts
  programs/cli/cli-lib/__spec__/check-updates.spec.ts
  programs/cli/cli-lib/messages.ts
  programs/cli/types/index.d.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/setup-chrome-inspection.unit.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/index.ts
  programs/develop/webpack/plugin-compilation/__spec__/clean-dist.spec.ts
  programs/develop/webpack/plugin-compilation/clean-dist.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/less.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/postcss.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/sass.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/stylelint.spec.ts
  programs/develop/webpack/plugin-css/__spec__/tools.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/plugin-css/css-tools/less.ts
  programs/develop/webpack/plugin-css/css-tools/postcss.ts
  programs/develop/webpack/plugin-css/css-tools/sass.ts
  programs/develop/webpack/plugin-css/css-tools/stylelint.ts
  programs/develop/webpack/plugin-css/css-tools/tailwind.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/preact.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/react.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/svelte.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/typescript.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/vue.spec.ts
  programs/develop/webpack/plugin-js-frameworks/js-frameworks-lib/__spec__/load-loader-options.spec.ts
  programs/develop/webpack/plugin-js-frameworks/js-frameworks-lib/load-loader-options.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/preact.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/react.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/svelte.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/typescript.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/vue.ts
  turbo.json
Due: eslint --fix, prettier --write

Fix npx runs not consuming extension-develop
  .env.example
  package.json
  pnpm-lock.yaml
  programs/cli/__spec__/cache-reuse-offline.spec.ts
  programs/cli/__spec__/dlx-pnpm.spec.ts
  programs/cli/__spec__/dynamic-install.spec.ts
  programs/cli/__spec__/require-or-dlx.spec.ts
  programs/cli/cli-lib/__spec__/check-updates.spec.ts
  programs/cli/utils.ts
  programs/develop/package.json
  programs/develop/webpack/plugin-js-frameworks/js-frameworks-lib/load-loader-options.ts
  scripts/smoke-npx.mjs
Due: eslint --fix, prettier --write

Fix: correctly allow /* as pathname in matches (#308)
  programs/develop/webpack/plugin-extension/feature-web-resources/web-resources-lib/resolve-war.ts
Due: eslint --fix, prettier --write

Another day. Another attempt to fix auto publishign
  .github/workflows/publish-next.yml
  .github/workflows/publish-stable.yml
  programs/develop/package.json
Due: prettier --write

Another day. Another attempt to fix auto publishign #2
  .github/workflows/publish-next.yml
  .github/workflows/publish-stable.yml
Due: none
