Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Scaffold reload-matrix CDP harness for ground-truth reload measurement
  scripts/reload-matrix/cdp-observer.mjs
  scripts/reload-matrix/harness.mjs
  scripts/reload-matrix/run-smoke.mjs
Due: none

Stop firing chrome.runtime.reload for page-only edits in non-content-script extensions
  programs/develop/plugin-browsers/__spec__/classify.unit.spec.ts
  programs/develop/plugin-browsers/index.ts
Due: eslint --fix, prettier --write

Relocate reload-matrix harness to _FUTURE/examples per workspace convention
  scripts/reload-matrix/README.md
  scripts/reload-matrix/cdp-observer.mjs
  scripts/reload-matrix/harness.mjs
  scripts/reload-matrix/run-matrix.mjs
  scripts/reload-matrix/run-smoke.mjs
  scripts/reload-matrix/scenarios.mjs
Due: prettier --write

Revert "Serialize and coalesce reload requests at the controller boundary"
  programs/extension/browsers/__spec__/reload-serialization.unit.spec.ts
  programs/extension/browsers/index.ts
Due: eslint --fix, prettier --write

Serialize and coalesce reload requests at the controller boundary
  programs/extension/browsers/__spec__/reload-serialization.unit.spec.ts
  programs/extension/browsers/index.ts
Due: eslint --fix, prettier --write

Extend reload-matrix harness with multi-scenario runner and 5-row matrix
  scripts/reload-matrix/cdp-observer.mjs
  scripts/reload-matrix/harness.mjs
  scripts/reload-matrix/run-matrix.mjs
  scripts/reload-matrix/scenarios.mjs
Due: none

Add remote-mode and template-name fixture resolution to reload-matrix harness
  scripts/reload-matrix/README.md
  scripts/reload-matrix/harness.mjs
  scripts/reload-matrix/run-matrix.mjs
  scripts/reload-matrix/run-smoke.mjs
  scripts/reload-matrix/scenarios.mjs
Due: prettier --write

Inline content-script CSS as data URLs to close the WAR gap on rspack 2.x
  CHANGELOG.md
  programs/develop/command-build.ts
  programs/develop/plugin-css/__spec__/css-in-content-script-loader.spec.ts
  programs/develop/plugin-css/__spec__/index.spec.ts
  programs/develop/plugin-css/__spec__/loaders.spec.ts
  programs/develop/plugin-css/css-in-content-script-loader.ts
  programs/develop/plugin-css/css-in-html-loader.ts
  programs/develop/plugin-css/index.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/patch-dev-content-script-manifest-paths.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/patch-dev-content-script-manifest-paths.ts
  programs/develop/plugin-web-extension/feature-web-resources/__spec__/war-stale-css-regression.spec.ts
  programs/develop/plugin-web-extension/feature-web-resources/web-resources-lib/generate-manifest.ts
Due: eslint --fix, prettier --write

Preserve sibling content_scripts entries during dev reinject
  programs/extension/browsers/__spec__/run-chromium/cdp-extension-controller.bundle-scoped-cleanup.unit.spec.ts
  programs/extension/browsers/__spec__/run-chromium/cdp-extension-controller.context-cache.unit.spec.ts
  programs/extension/browsers/run-chromium/chromium-source-inspection/cdp-extension-controller/index.ts
Due: eslint --fix, prettier --write
