Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Flip extension-develop to ESM output for @rspack/core@2 compatibility
  programs/develop/__spec__/command-build.spec.ts
  programs/develop/command-build.ts
  programs/develop/dev-server/messages.ts
  programs/develop/lib/__spec__/companion-firefox-mv3-apis.spec.ts
  programs/develop/lib/dev-server-client-import.ts
  programs/develop/lib/develop-context.ts
  programs/develop/lib/generate-extension-types.ts
  programs/develop/lib/package-manager.ts
  programs/develop/package.json
  programs/develop/plugin-browsers/index.ts
  programs/develop/plugin-compatibility/feature-polyfill.ts
  programs/develop/plugin-css/css-tools/sass.ts
  programs/develop/plugin-web-extension/feature-html/steps/emit-html-file.ts
  programs/develop/plugin-web-extension/feature-html/steps/handle-common-errors.ts
  programs/develop/plugin-web-extension/feature-html/steps/throw-if-recompile-is-needed.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/manifest.ts
  programs/develop/plugin-web-extension/feature-web-resources/web-resources-lib/resolve-war.ts
  programs/develop/rslib.config.ts
  programs/develop/scripts/write-dist-js-aliases.mjs
  programs/extension/browsers/__spec__/chromium-flags.spec.ts
  programs/extension/browsers/__spec__/run-chromium/cdp-extension-controller.context-cache.unit.spec.ts
  programs/extension/browsers/__spec__/run-chromium/cdp-extension-controller.initial-burst-suppression.unit.spec.ts
  programs/extension/commands/build.ts
  programs/extension/commands/dev.ts
  programs/extension/commands/preview.ts
  programs/extension/commands/start.ts
  programs/extension/helpers/__spec__/extension-develop-runtime.spec.ts
  programs/extension/helpers/extension-develop-runtime.ts
  programs/extension/internal-types/extension-packages.d.ts
Due: eslint --fix, prettier --write

Scope ESM banner to Node-side bundles and add regression gates
  programs/develop/__spec__/build-content-script.spec.ts
  programs/develop/__spec__/dist-target-shape.spec.ts
  programs/develop/rslib.config.ts
  scripts/run-optional-deps-smoke.mjs
Due: eslint --fix, prettier --write

Compile extension-develop before vitest so dist-shape spec has artifacts
  programs/develop/package.json
  programs/extension/README.md
Due: prettier --write

Force-exit optional-deps smoke after main() so Linux orphans don't hang the CI step
  scripts/run-optional-deps-smoke.mjs
Due: none

Ignore benign socket teardown errors in browser process handlers (Templates Nightly Edge ECONNRESET)
  programs/extension/browsers/__spec__/run-chromium/process-handlers.unit.spec.ts
  programs/extension/browsers/run-chromium/chromium-launch/process-handlers.ts
  programs/extension/browsers/run-firefox/firefox-launch/process-handlers.ts
Due: eslint --fix, prettier --write

Derive Chromium extension ID from load path when no manifest key + no runtime target
  programs/extension/browsers/__spec__/banner.unit.spec.ts
  programs/extension/browsers/browsers-lib/banner.ts
Due: eslint --fix, prettier --write

Honor namespaced manifest_version in SetupBackgroundEntry default background entry
  programs/develop/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/setup-background-entry.ts
Due: eslint --fix, prettier --write

Auto-resolve workspace subpackage when extension dev is given the monorepo root
  programs/develop/lib/__spec__/get-project-path.spec.ts
  programs/develop/lib/messages.ts
  programs/develop/lib/project.ts
Due: eslint --fix, prettier --write

Gate devtools overlay at content-script entry and harden launcher UX
  extensions/extension-js-devtools/src/background/index.ts
  extensions/extension-js-devtools/src/content/ContentApp.tsx
  extensions/extension-js-devtools/src/content/scripts.tsx
Due: eslint --fix, prettier --write
