Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Setup internal standalone library for installing and resolving on-demand tooling
  .github/workflows/ci.yml
  .github/workflows/optional-deps-matrix.yml
  CHANGELOG.md
  package.json
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/feature-special-folders/__spec__/warn-upon-folder-changes.spec.ts
  programs/develop/webpack/optional-deps-lib/README.md
  programs/develop/webpack/optional-deps-lib/__spec__/installer-engine.spec.ts
  programs/develop/webpack/optional-deps-lib/__spec__/scenarios.spec.ts
  programs/develop/webpack/optional-deps-lib/cache-state.ts
  programs/develop/webpack/optional-deps-lib/index.ts
  programs/develop/webpack/optional-deps-lib/installer-engine.ts
  programs/develop/webpack/optional-deps-lib/runtime-context.ts
  programs/develop/webpack/plugin-compilation/__spec__/compilation.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/less.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/postcss.integration.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/postcss.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/sass.spec.ts
  programs/develop/webpack/plugin-css/__spec__/index.spec.ts
  programs/develop/webpack/plugin-css/__spec__/loaders.spec.ts
  programs/develop/webpack/plugin-css/__spec__/tools.spec.ts
  programs/develop/webpack/plugin-css/css-tools/less.ts
  programs/develop/webpack/plugin-css/css-tools/postcss.ts
  programs/develop/webpack/plugin-css/css-tools/sass.ts
  programs/develop/webpack/plugin-css/css-tools/tailwind.ts
  programs/develop/webpack/plugin-css/index.ts
  programs/develop/webpack/plugin-js-frameworks/frameworks-lib/integrations.ts
  programs/develop/webpack/plugin-static-assets/__spec__/index.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/warn-no-default-export.ts
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/install-cache.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
  programs/develop/webpack/webpack-lib/preflight-cache.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
  scripts/verify-content-template-first-dev.mjs
Due: eslint --fix, prettier --write

Fix pre-existing test failures in dev-server and update-manifest specs
  programs/develop/webpack/dev-server/__spec__/config-root-resolution.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/__spec__/update-manifest.spec.ts
Due: eslint --fix, prettier --write

Show Firefox add-on ready line in dev and align ready copy
  programs/develop/webpack/dev-server/messages.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
Due: eslint --fix, prettier --write

Replace in-tree optional-deps installer with isolated-deps package
  package.json
  pnpm-lock.yaml
  programs/develop/package.json
  programs/develop/webpack/optional-deps-lib/README.md
  programs/develop/webpack/optional-deps-lib/__spec__/install-root-packages.spec.ts
  programs/develop/webpack/optional-deps-lib/__spec__/installer-engine.spec.ts
  programs/develop/webpack/optional-deps-lib/__spec__/scenarios.spec.ts
  programs/develop/webpack/optional-deps-lib/cache-state.ts
  programs/develop/webpack/optional-deps-lib/contract-types.ts
  programs/develop/webpack/optional-deps-lib/index.ts
  programs/develop/webpack/optional-deps-lib/install-root-packages.ts
  programs/develop/webpack/optional-deps-lib/installer-engine.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/less.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/postcss.integration.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/postcss.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/sass.spec.ts
  programs/develop/webpack/plugin-css/__spec__/loaders.spec.ts
  programs/develop/webpack/plugin-css/__spec__/tools.spec.ts
  programs/develop/webpack/plugin-css/css-tools/less.ts
  programs/develop/webpack/plugin-css/css-tools/postcss.ts
  programs/develop/webpack/plugin-css/css-tools/sass.ts
  programs/develop/webpack/plugin-css/css-tools/tailwind.ts
  programs/develop/webpack/plugin-css/index.ts
  programs/develop/webpack/plugin-js-frameworks/frameworks-lib/integrations.ts
  programs/develop/webpack/plugin-web-extension/feature-html/index.ts
  programs/develop/webpack/plugin-web-extension/feature-html/steps/add-scripts-and-styles-to-compilation.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/index.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/setup-background-entry.ts
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/preflight-cache.spec.ts
  programs/develop/webpack/webpack-lib/develop-context.ts
  programs/develop/webpack/webpack-lib/install-cache.ts
  programs/develop/webpack/webpack-lib/optional-dependencies.json
  programs/develop/webpack/webpack-lib/optional-dependencies.ts
  programs/develop/webpack/webpack-lib/optional-deps-contracts.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
  programs/develop/webpack/webpack-lib/preflight-cache.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Normalize Windows drive slashes after backslash replace
  programs/develop/webpack/plugin-browsers/__spec__/banner.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/content-script-targets.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/content-script-targets.ts
Due: eslint --fix, prettier --write

Bump go-git-it to 5.1.5
  .github/build-deps/package-lock.json
  .github/build-deps/package.json
  pnpm-lock.yaml
  programs/create/package.json
  programs/develop/package.json
  programs/develop/webpack/webpack-lib/build-dependencies.json
Due: prettier --write

Ignore programs/create/.npmrc so local npm tokens are never committed
  .gitignore
Due: none

Consolidate ci-scripts into scripts and remove dead scripts
  .github/workflows/optional-deps-matrix.yml
  ci-scripts/run-browser-extension-ci-local.sh
  scripts/__spec__/run-optional-deps-smoke.spec.mjs
  scripts/build-with-manifest.mjs
  scripts/hydrate-templates-from-examples.sh
  scripts/run-optional-deps-smoke.mjs
Due: none

Fix CI workflow script name and Windows path double-slash normalization
  .github/workflows/ci.yml
  .github/workflows/optional-deps-matrix.yml
  programs/develop/webpack/plugin-browsers/browsers-lib/content-script-targets.ts
Due: eslint --fix, prettier --write

Simplify reload internals before release
  programs/develop/webpack/plugin-browsers/browsers-lib/content-script-targets.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-hard-reload/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-hard-reload/index.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/remove-content-script-dev-server-runtime.ts
Due: eslint --fix, prettier --write

Use pnpm/action-setup v5 for Node 24 runtime on Actions
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/optional-deps-matrix.yml
  .github/workflows/publish-release.yml
  CHANGELOG.md
  RELEASING.md
  scripts/generate-release-notes.mjs
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
