Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Repin the template catalog so scaffolds carry the chrome types
  programs/create/steps/import-external-template.ts
  programs/create/templates/javascript/src/background.js
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/template-corpus.generated.ts
Due: eslint --fix, prettier --write

Build the em dash from its code point so the prose check passes
  programs/extension/__spec__/browser-launch-flag-help.spec.ts
Due: eslint --fix, prettier --write

Open no tab at all when --no-open is set, on every browser
  programs/extension/browsers/__spec__/no-open-starting-url.spec.ts
  programs/extension/browsers/__spec__/runtime-options.spec.ts
  programs/extension/browsers/browsers-lib/runtime-options.ts
  programs/extension/browsers/run-chromium/chromium-launch/browser-config.ts
  programs/extension/browsers/run-chromium/chromium-launch/index.ts
  programs/extension/browsers/run-firefox/firefox-launch/browser-config.ts
  programs/extension/browsers/run-safari/safari-launch/safari-config.ts
Due: eslint --fix, prettier --write

Warn when dev grants a host the manifest never declared
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/dev-injected-hosts.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/dev-injected-hosts.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
Due: eslint --fix, prettier --write

Explain the Bun runtime refusal instead of blaming installed Node
  programs/extension/helpers/__spec__/node-version-guard.spec.ts
  programs/extension/helpers/node-version-guard.ts
Due: eslint --fix, prettier --write

Refuse --no-browser with --wait instead of waiting for nothing
  programs/extension/__spec__/dev-command.spec.ts
  programs/extension/__spec__/start-command.spec.ts
  programs/extension/commands/dev.ts
  programs/extension/commands/start.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Take the dependabot majors and patch the js-yaml advisory
  package.json
  pnpm-lock.yaml
  programs/create/package.json
  programs/develop/package.json
  programs/develop/plugin-compilation/__spec__/compilation.spec.ts
  programs/develop/plugin-web-extension/feature-html/steps/ensure-hmr-for-scripts.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/add-content-script-wrapper/content-script-wrapper.ts
  programs/extension/package.json
  programs/install/package.json
Due: eslint --fix, prettier --write

Raise the rspack floor to the version rslib 1.0 needs
  pnpm-lock.yaml
  programs/develop/package.json
Due: prettier --write

Add a focused rspack test entry for ecosystem CI
  package.json
Due: prettier --write

Cover the dev server boot and React refresh with real compiles
  package.json
  programs/develop/dev-server/__spec__/real-dev-server-boot.spec.ts
  programs/develop/plugin-js-frameworks/__spec__/real-refresh-compile.spec.ts
Due: eslint --fix, prettier --write

Stop the test lane from hiding failures and racing itself
  package.json
  programs/develop/lib/__spec__/companion-firefox-mv3-apis.spec.ts
  scripts/ensure-templates.mjs
  scripts/run-test.mjs
  turbo.json
Due: eslint --fix, prettier --write

Make the end-to-end lane runnable outside CI
  .gitignore
  package.json
  scripts/run-e2e.mjs
Due: prettier --write

Keep hot update chunks out of the scripts a page loads
  programs/develop/plugin-web-extension/shared/__spec__/initial-files.spec.ts
  programs/develop/plugin-web-extension/shared/initial-files.ts
Due: eslint --fix, prettier --write

Run the page-executing specs on every push and report a red lane
  .github/workflows/e2e-smoke.yml
  .github/workflows/e2e.yml
  scripts/report-red-lane.sh
Due: none

Spawn the package manager through a shell on Windows
  programs/develop/lib/__spec__/companion-firefox-mv3-apis.spec.ts
Due: eslint --fix, prettier --write

Close the tabs the session opens for itself when --no-open is set
  programs/extension/browsers/__spec__/no-open-self-opened-tabs.unit.spec.ts
  programs/extension/browsers/run-chromium/cdp/cdp-extension-controller/index.ts
  programs/extension/browsers/run-chromium/chromium-launch/index.ts
  programs/extension/browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
Due: eslint --fix, prettier --write

Print the pinned Firefox dry-run plan without probing the binary
  programs/extension/browsers/__spec__/dry-run-plan.unit.spec.ts
  programs/extension/browsers/run-firefox/firefox-launch/index.ts
Due: eslint --fix, prettier --write

Keep a page under a user folder named hot from losing its chunk
  programs/develop/plugin-web-extension/shared/__spec__/initial-files.spec.ts
  programs/develop/plugin-web-extension/shared/initial-files.ts
Due: eslint --fix, prettier --write

Let excludeBrowserFlags cancel the tooling flags too
  programs/extension/browsers/__spec__/chromium-flags.spec.ts
  programs/extension/browsers/run-chromium/chromium-launch/browser-config.ts
Due: eslint --fix, prettier --write

Fail the suite when a spec file matches no include glob
  programs/develop/__spec__/spec-include-coverage.spec.ts
  programs/extension/__spec__/spec-include-coverage.spec.ts
  programs/extension/vitest.config.ts
Due: eslint --fix, prettier --write
