Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Mirror the contributing section on the published package README
  programs/extension/README.md
Due: prettier --write

Render the Scorecard badge in the project blue like the other badges
  README.md
  programs/extension/README.md
Due: prettier --write

Add one always-reporting CI passed check and run CI on every PR
  .github/workflows/ci.yml
Due: none

Push release commits with a deploy key that can bypass main's ruleset
  .github/workflows/publish-release.yml
  scripts/__spec__/push-release-refs.spec.mjs
  scripts/push-release-refs.sh
Due: none

Build the push spec's fake git from plain strings so it loads
  scripts/__spec__/push-release-refs.spec.mjs
Due: none

Add one always-reporting CI passed check and run CI on every PR (#516)
  .github/workflows/ci.yml
Due: none

Push release commits with a deploy key that bypasses the ruleset (#517)
  .github/workflows/publish-release.yml
  scripts/__spec__/push-release-refs.spec.mjs
  scripts/push-release-refs.sh
Due: none

Retry a failed template install once and show the pnpm error
  scripts/hydrate-templates-from-examples.sh
Due: none

Add a CODEOWNERS file naming the maintainer as owner of every path
  .github/CODEOWNERS
Due: none

Pass the optional deps matrix values to the smoke step through env
  .github/workflows/optional-deps-matrix.yml
Due: none

Attest release tarballs with the commit-pinned GitHub provenance action
  .github/workflows/release-attest.yml
Due: none

Bundle the Vue runtime ESM build instead of the CommonJS full build
  programs/develop/plugin-js-frameworks/__spec__/js-tools/vue.spec.ts
  programs/develop/plugin-js-frameworks/js-tools/vue.ts
Due: eslint --fix, prettier --write

Define global as globalThis so rspack skips its Function-based shim
  programs/develop/plugin-compilation/env.ts
  programs/develop/rspack-config.ts
Due: eslint --fix, prettier --write

Fail the companion spec when its Firefox build has AMO store warnings
  programs/develop/lib/__spec__/companion-firefox-mv3-apis.spec.ts
Due: eslint --fix, prettier --write

Clear the companion's AMO warnings with sized icons and plain DOM
  extensions/extension-js-devtools/package.json
  extensions/extension-js-devtools/pages/welcome/index.html
  extensions/extension-js-devtools/pages/welcome/scripts.ts
  extensions/extension-js-devtools/pages/welcome/scripts.tsx
  extensions/extension-js-devtools/src/images/icon-128.png
  extensions/extension-js-devtools/src/images/icon-16.png
  extensions/extension-js-devtools/src/images/icon-32.png
  extensions/extension-js-devtools/src/images/icon-48.png
  extensions/extension-js-devtools/src/lib/utils.ts
  extensions/extension-js-devtools/src/manifest.json
  extensions/extension-js-devtools/src/styles.css
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Retry a failed template install once and show the pnpm error (#519)
  scripts/hydrate-templates-from-examples.sh
Due: none

Add a CODEOWNERS file naming the maintainer as owner (#521)
  .github/CODEOWNERS
Due: none

Attest release tarballs with the commit-pinned GitHub action (#522)
  .github/workflows/release-attest.yml
Due: none

Bundle the Vue runtime build and drop the rspack global shim (#524)
  programs/develop/plugin-compilation/env.ts
  programs/develop/plugin-js-frameworks/__spec__/js-tools/vue.spec.ts
  programs/develop/plugin-js-frameworks/js-tools/vue.ts
  programs/develop/rspack-config.ts
Due: eslint --fix, prettier --write

Run the optional deps smoke step under bash on every OS
  .github/workflows/optional-deps-matrix.yml
Due: none

Declare react and react-dom at the root for the refresh compile spec
  package.json
  pnpm-lock.yaml
Due: prettier --write

Make chrome: and edge: manifest prefixes vendor exact
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/lib/__spec__/manifest-utils.property.spec.ts
  programs/develop/lib/manifest-utils.ts
  programs/develop/plugin-css/__spec__/css-lib/is-content-script-prefixed.spec.ts
  programs/develop/plugin-js-frameworks/__spec__/browser-prefixed-content-scripts.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/index.unit.spec.ts
  programs/develop/plugin-web-extension/feature-icons/__spec__/extract-action-theme-icons.spec.ts
  programs/develop/plugin-web-extension/feature-icons/__spec__/omnibox-fields.spec.ts
  programs/develop/plugin-web-extension/feature-icons/__spec__/theme-image-fields.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/manifest.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/update-manifest.browser-prefix.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/messages.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/update-manifest.ts
  programs/develop/plugin-web-extension/shared/__spec__/discover-devtools-panels.spec.ts
  programs/develop/plugin-web-extension/shared/__spec__/manifest-fields.vendor-prefix.spec.ts
  programs/develop/plugin-web-extension/shared/__spec__/manifest-path-assets.spec.ts
  programs/develop/plugin-web-extension/shared/manifest-fields.ts
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Use manifest-fields 3.0.1 and drop the resolved manifest copy
  .npmrc
  pnpm-lock.yaml
  programs/develop/lib/manifest-utils.ts
  programs/develop/package.json
  programs/develop/plugin-web-extension/shared/__spec__/manifest-fields.vendor-prefix.spec.ts
  programs/develop/plugin-web-extension/shared/manifest-fields.ts
Due: eslint --fix, prettier --write

Pass optional deps matrix values to the smoke step through env (#520)
  .github/workflows/optional-deps-matrix.yml
Due: none

Clear the companion AMO warnings in Firefox builds (#523)
  extensions/extension-js-devtools/package.json
  extensions/extension-js-devtools/pages/welcome/index.html
  extensions/extension-js-devtools/pages/welcome/scripts.ts
  extensions/extension-js-devtools/pages/welcome/scripts.tsx
  extensions/extension-js-devtools/src/images/icon-128.png
  extensions/extension-js-devtools/src/images/icon-16.png
  extensions/extension-js-devtools/src/images/icon-32.png
  extensions/extension-js-devtools/src/images/icon-48.png
  extensions/extension-js-devtools/src/lib/utils.ts
  extensions/extension-js-devtools/src/manifest.json
  extensions/extension-js-devtools/src/styles.css
  package.json
  pnpm-lock.yaml
  programs/develop/lib/__spec__/companion-firefox-mv3-apis.spec.ts
Due: eslint --fix, prettier --write

Document release verification and the vulnerability response process
  .github/SECURITY.md
  docs/RELEASING.md
  docs/VERIFYING_RELEASES.md
Due: prettier --write

Add an architecture overview and a security assurance case
  .github/SECURITY.md
  docs/ARCHITECTURE.md
  docs/ASSURANCE_CASE.md
Due: prettier --write

Make chrome: and edge: manifest prefixes vendor exact (#526)
  .npmrc
  pnpm-lock.yaml
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/lib/__spec__/manifest-utils.property.spec.ts
  programs/develop/lib/manifest-utils.ts
  programs/develop/package.json
  programs/develop/plugin-css/__spec__/css-lib/is-content-script-prefixed.spec.ts
  programs/develop/plugin-js-frameworks/__spec__/browser-prefixed-content-scripts.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/index.unit.spec.ts
  programs/develop/plugin-web-extension/feature-icons/__spec__/extract-action-theme-icons.spec.ts
  programs/develop/plugin-web-extension/feature-icons/__spec__/omnibox-fields.spec.ts
  programs/develop/plugin-web-extension/feature-icons/__spec__/theme-image-fields.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/manifest.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/update-manifest.browser-prefix.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/messages.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/update-manifest.ts
  programs/develop/plugin-web-extension/shared/__spec__/discover-devtools-panels.spec.ts
  programs/develop/plugin-web-extension/shared/__spec__/manifest-fields.vendor-prefix.spec.ts
  programs/develop/plugin-web-extension/shared/__spec__/manifest-path-assets.spec.ts
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Document release verification, architecture and security (#525)
  .github/SECURITY.md
  docs/ARCHITECTURE.md
  docs/ASSURANCE_CASE.md
  docs/RELEASING.md
  docs/VERIFYING_RELEASES.md
Due: prettier --write
