Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Prepare plugin-browsers to v2
  programs/develop/plugin-browsers/README.md
  programs/develop/plugin-browsers/__spec__/index.spec.ts
  programs/develop/plugin-browsers/__spec__/port-fallback.spec.ts
  programs/develop/plugin-browsers/__spec__/profile-normalization.spec.ts
  programs/develop/plugin-browsers/browsers-lib/add-progress-bar.ts
  programs/develop/plugin-browsers/browsers-lib/dynamic-extension-manager.ts
  programs/develop/plugin-browsers/browsers-lib/html-merge.ts
  programs/develop/plugin-browsers/browsers-lib/messages.ts
  programs/develop/plugin-browsers/browsers-lib/rdp-wire.ts
  programs/develop/plugin-browsers/browsers-lib/shared-utils.ts
  programs/develop/plugin-browsers/browsers-types.ts
  programs/develop/plugin-browsers/index.ts
  programs/develop/plugin-browsers/run-chromium/browser-config.ts
  programs/develop/plugin-browsers/run-chromium/create-profile.ts
  programs/develop/plugin-browsers/run-chromium/index.ts
  programs/develop/plugin-browsers/run-chromium/setup-chrome-inspection/cdp-client.ts
  programs/develop/plugin-browsers/run-chromium/setup-chrome-inspection/index.ts
  programs/develop/plugin-browsers/run-firefox/firefox/binary-detector.ts
  programs/develop/plugin-browsers/run-firefox/firefox/browser-config.ts
  programs/develop/plugin-browsers/run-firefox/firefox/create-profile.ts
  programs/develop/plugin-browsers/run-firefox/index.ts
  programs/develop/plugin-browsers/run-firefox/remote-firefox/index.ts
  programs/develop/plugin-browsers/run-firefox/remote-firefox/messaging-client.ts
  programs/develop/plugin-browsers/run-firefox/remote-firefox/setup-firefox-inspection.ts
Due: eslint --fix, prettier --write

Prepare dev commands to v2
  programs/develop/commands/README.md
  programs/develop/commands/__spec__/dev.unit.spec.ts
  programs/develop/commands/build.ts
  programs/develop/commands/commands-lib/__spec__/build-branches.spec.ts
  programs/develop/commands/commands-lib/__spec__/get-extension-config.spec.ts
  programs/develop/commands/commands-lib/__spec__/messages-build.spec.ts
  programs/develop/commands/commands-lib/__spec__/validate-user-dependencies.spec.ts
  programs/develop/commands/commands-lib/__spec__/zip-paths.spec.ts
  programs/develop/commands/commands-lib/config-types.ts
  programs/develop/commands/commands-lib/find-nearest-package.ts
  programs/develop/commands/commands-lib/generate-zip.ts
  programs/develop/commands/commands-lib/get-project-path.ts
  programs/develop/commands/commands-lib/messages.ts
  programs/develop/commands/commands-lib/validate-user-dependencies.ts
  programs/develop/commands/dev.ts
  programs/develop/commands/preview.ts
Due: eslint --fix, prettier --write

Prepare develop/ to v2
  programs/develop/README.md
  programs/develop/__spec__/build.spec.ts
  programs/develop/__spec__/dev.spec.ts
  programs/develop/__spec__/preview.spec.ts
  programs/develop/__spec__/start.spec.ts
  programs/develop/build.spec.ts
  programs/develop/develop.todo_spec.ts
  programs/develop/lib/dynamic-extension-manager.ts
  programs/develop/lib/instance-manager.ts
  programs/develop/package.json
  programs/develop/vitest.config.mts
  programs/develop/vitest.config.ts
  programs/develop/webpack/README.md
  programs/develop/webpack/__spec__/get-extension-config.spec.ts
  programs/develop/webpack/dev-server.ts
  programs/develop/webpack/lib/__spec__/auto-exit.spec.ts
  programs/develop/webpack/lib/__spec__/constants.spec.ts
  programs/develop/webpack/lib/__spec__/messages.spec.ts
  programs/develop/webpack/lib/__spec__/port-manager.spec.ts
  programs/develop/webpack/lib/auto-exit.ts
  programs/develop/webpack/lib/messages.ts
  programs/develop/webpack/lib/utils.ts
  programs/develop/webpack/webpack-config.ts
Due: eslint --fix, prettier --write

Prepare create/ to v2
  programs/create/README.md
  programs/create/create.spec.ts
  programs/create/lib/messages.ts
  programs/create/module.ts
  programs/create/package.json
  programs/create/steps/write-readme-file.ts
Due: eslint --fix, prettier --write

Prepare cli/ to v2
  programs/cli/README.md
  programs/cli/__spec__/cli.spec.ts
  programs/cli/cli-lib/__spec__/check-updates.spec.ts
  programs/cli/cli-lib/__spec__/messages-ai-help.spec.ts
  programs/cli/cli-lib/__spec__/messages.spec.ts
  programs/cli/cli-lib/messages.ts
  programs/cli/cli.ts
  programs/cli/package.json
  programs/cli/rslib.config.ts
  programs/cli/types/index.d.ts
  programs/cli/vitest.config.ts
Due: eslint --fix, prettier --write

Prepare Extension.js to v2
  .changeset/config.json
  .env.example
  .github/SECURITY.md
  .github/actions/setup/action.yml
  .github/markdown-link-check.json
  .github/vale/.vale.ini
  .github/vale/styles/write-good/TooWordy.yml
  .github/workflows/canary.yml
  .github/workflows/ci.yml
  .github/workflows/command-tests.yml
  .github/workflows/develop-plugins.yml
  .github/workflows/develop-tests.yml
  .github/workflows/discord-notify-releases.yml
  .github/workflows/e2e.yml
  .github/workflows/preview.yml
  .github/workflows/programs-cli.yml
  .github/workflows/programs-create.yml
  .github/workflows/programs-develop.yml
  .github/workflows/programs-nightly.yml
  .github/workflows/publish.yml
  .github/workflows/readme-validation.yml
  .github/workflows/release-preview.yml
  CONTRIBUTING.md
  LOGO.png
  README.md
  RELEASING.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  programs/README.md
  scripts/aggregate-changelog.cjs
  scripts/check-readme-assumptions.cjs
  scripts/render-aggregated-changelog.cjs
  scripts/sync-readme.cjs
  tsconfig.json
Due: prettier --write

Attempt to fix CI publishing
  .github/actions/setup/action.yml
  .github/workflows/canary.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Format
  programs/develop/develop-lib/__spec__/build-branches.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/create-profile.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox/create-profile.ts
  programs/develop/webpack/plugin-browsers/run-firefox/index.ts
Due: eslint --fix, prettier --write
