Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Pick user extension over companion when version + manifest_version tie
  programs/extension/browsers/__spec__/run-chromium/cdp-derive-id.unit.spec.ts
  programs/extension/browsers/run-chromium/chromium-source-inspection/cdp-extension-controller/derive-id.ts
Due: eslint --fix, prettier --write

Bump browser-extension-manifest-fields
  pnpm-lock.yaml
  programs/develop/package.json
Due: prettier --write

Anchor relative profile paths to the rspack context so sequential examples do not share one profile
  programs/extension/browsers/__spec__/chromium-flags.spec.ts
  programs/extension/browsers/__spec__/firefox-launch.spec.ts
  programs/extension/browsers/run-chromium/chromium-launch/browser-config.ts
  programs/extension/browsers/run-firefox/firefox-launch/browser-config.ts
Due: eslint --fix, prettier --write

Fire chrome.runtime.reload() once per save instead of N times racing on the eval response
  programs/extension/browsers/__spec__/run-chromium/cdp-client.reload.unit.spec.ts
  programs/extension/browsers/run-chromium/chromium-source-inspection/cdp-client.ts
Due: eslint --fix, prettier --write

Add remote-mode and template-name fixture resolution to reload-matrix harness
  scripts/reload-matrix/README.md
  scripts/reload-matrix/harness.mjs
  scripts/reload-matrix/run-matrix.mjs
  scripts/reload-matrix/run-smoke.mjs
  scripts/reload-matrix/scenarios.mjs
Due: prettier --write

Scaffold reload-matrix CDP harness for ground-truth reload measurement
  scripts/reload-matrix/cdp-observer.mjs
  scripts/reload-matrix/harness.mjs
  scripts/reload-matrix/run-smoke.mjs
Due: none

Revert "Serialize and coalesce reload requests at the controller boundary"
  programs/extension/browsers/__spec__/reload-serialization.unit.spec.ts
  programs/extension/browsers/index.ts
Due: eslint --fix, prettier --write

Stop firing chrome.runtime.reload for page-only edits in non-content-script extensions
  programs/develop/plugin-browsers/__spec__/classify.unit.spec.ts
  programs/develop/plugin-browsers/index.ts
Due: eslint --fix, prettier --write

Relocate reload-matrix harness to _FUTURE/examples per workspace convention
  scripts/reload-matrix/README.md
  scripts/reload-matrix/cdp-observer.mjs
  scripts/reload-matrix/harness.mjs
  scripts/reload-matrix/run-matrix.mjs
  scripts/reload-matrix/run-smoke.mjs
  scripts/reload-matrix/scenarios.mjs
Due: prettier --write

Serialize and coalesce reload requests at the controller boundary
  programs/extension/browsers/__spec__/reload-serialization.unit.spec.ts
  programs/extension/browsers/index.ts
Due: eslint --fix, prettier --write

Extend reload-matrix harness with multi-scenario runner and 5-row matrix
  scripts/reload-matrix/cdp-observer.mjs
  scripts/reload-matrix/harness.mjs
  scripts/reload-matrix/run-matrix.mjs
  scripts/reload-matrix/scenarios.mjs
Due: none
