Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Include copied fonts in web_accessible_resources
  programs/develop/webpack/plugin-extension/feature-web-resources/__spec__/index.spec.ts
  programs/develop/webpack/plugin-extension/feature-web-resources/web-resources-lib/generate-manifest.ts
  programs/develop/webpack/plugin-static-assets/index.ts
Due: eslint --fix, prettier --write

Enable production sourcemaps when devtool is set
  programs/develop/webpack/plugin-js-frameworks/__spec__/index.spec.ts
  programs/develop/webpack/plugin-js-frameworks/index.ts
Due: eslint --fix, prettier --write

Update release workflow
  .github/workflows/publish-release.yml
Due: none

Resolve polyfill from the consumer project first
  programs/develop/webpack/plugin-compatibility/__spec__/feature-polyfill.alias.spec.ts
  programs/develop/webpack/plugin-compatibility/feature-polyfill.ts
Due: eslint --fix, prettier --write

Avoid running vue-loader twice when users add a Vue rule
  programs/develop/webpack/plugin-js-frameworks/__spec__/index.spec.ts
  programs/develop/webpack/plugin-js-frameworks/index.ts
Due: eslint --fix, prettier --write

Add optional deps overrides for package manager
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
Due: eslint --fix, prettier --write

Update templates
  templates/javascript/src/content/ContentApp.js
  templates/javascript/src/sidebar/SidebarApp.js
  templates/preact/src/content/ContentApp.tsx
  templates/preact/src/sidebar/SidebarApp.tsx
  templates/react/src/content/ContentApp.tsx
  templates/react/src/sidebar/SidebarApp.tsx
  templates/typescript/src/content/ContentApp.ts
  templates/typescript/src/sidebar/SidebarApp.ts
Due: eslint --fix, prettier --write

Fallback to npm cli when package managers missing
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
Due: eslint --fix, prettier --write

Honor env package manager in optional deps
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
Due: eslint --fix, prettier --write

Allow chromium build fallback to chrome output.
  scripts/build-extensions.cjs
Due: none

Stabilize optional dependency installs and error branding
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/plugin-css/css-lib/messages.ts
  programs/develop/webpack/webpack-lib/__spec__/branding.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/preflight-optional-deps.spec.ts
  programs/develop/webpack/webpack-lib/branding.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
  programs/develop/webpack/webpack-lib/stats-handler.ts
Due: eslint --fix, prettier --write

Improve WSL optional deps installs
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
Due: eslint --fix, prettier --write

Add bun support for optional deps
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
Due: eslint --fix, prettier --write

Install optional CSS tooling into extension-develop
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Fix wrong optional dependency installation path
  pnpm-lock.yaml
  scripts/build-extensions.cjs
Due: none

Revert "Allow chromium build fallback to chrome output."
  scripts/build-extensions.cjs
Due: none

Enable npm fallback when no package manager is detected
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
Due: eslint --fix, prettier --write

Stabilize optional deps and WSL launch
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/wsl-support.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-firefox/wsl-support.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/wsl-support.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/wsl-support.ts
Due: eslint --fix, prettier --write

Add no-runner option for dev flows
  programs/cli/commands/dev.ts
  programs/cli/commands/preview.ts
  programs/cli/commands/start.ts
  programs/develop/README.md
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/dev-server/index.ts
  programs/develop/webpack/dev-server/messages.ts
  programs/develop/webpack/webpack-config.ts
  programs/develop/webpack/webpack-lib/messages.ts
  programs/develop/webpack/webpack-types.ts
Due: eslint --fix, prettier --write

Add corepack fallback for optional deps
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
Due: eslint --fix, prettier --write

Use local CLI for theme builds.
  extensions/extension-js-theme/package.json
Due: prettier --write

Harden optional dependency installs against injection.
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
Due: eslint --fix, prettier --write

Harden optional dependency install root.
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/plugin-css/css-lib/messages.ts
Due: eslint --fix, prettier --write

Resolve npm.cmd on Windows
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
