Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Keep Opera production builds unminified by default and add --minify
  programs/develop/__spec__/build-opera-unminified.spec.ts
  programs/develop/command-build.ts
  programs/develop/lib/messages.ts
  programs/develop/rspack-config.ts
  programs/develop/types.ts
  programs/extension/__spec__/minify-negation.spec.ts
  programs/extension/commands/build.ts
  programs/extension/config-types.ts
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Ship the files a custom manifest key names, a worker loads them by getManifest
  programs/develop/__spec__/build-manifest-named-files.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/trace-runtime-loaded-files.ts
Due: eslint --fix, prettier --write

Name the project path for a missing root-absolute page ref and ship it once
  programs/develop/__spec__/build-root-absolute-page-refs.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/add-assets-to-compilation.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/hint-behavior.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/html-lib/messages.ts
  programs/develop/plugin-web-extension/feature-html/steps/add-assets-to-compilation.ts
  programs/develop/plugin-web-extension/feature-html/steps/handle-common-errors.ts
  programs/develop/plugin-web-extension/feature-icons/__spec__/emit-file.spec.ts
  programs/develop/plugin-web-extension/feature-icons/messages.ts
  programs/develop/plugin-web-extension/feature-icons/steps/emit-file.ts
  programs/develop/plugin-web-extension/feature-json/__spec__/json-plugin.spec.ts
  programs/develop/plugin-web-extension/feature-json/messages.ts
  programs/develop/plugin-web-extension/feature-json/process-assets.ts
Due: eslint --fix, prettier --write

Admit the Opera minify notice to the develop message catalog snapshot
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
Due: none

Say the Opera build does not minify instead of naming it unminified
  programs/develop/lib/messages.ts
Due: eslint --fix, prettier --write

Add a funding.json manifest and funding fields to published packages
  funding.json
  programs/create/package.json
  programs/develop/package.json
  programs/extension/package.json
  programs/install/package.json
Due: prettier --write

Add a context7.json so coding agents get the right usage rules
  context7.json
Due: prettier --write

Launch Zen and Floorp by name as gecko fork targets
  .npmrc
  pnpm-lock.yaml
  programs/create/lib/messaging.ts
  programs/develop/lib/__spec__/browser-normalization.spec.ts
  programs/develop/lib/__spec__/constants.spec.ts
  programs/develop/lib/constants.ts
  programs/develop/lib/messaging.ts
  programs/develop/lib/paths.ts
  programs/develop/plugin-reload/__spec__/setup-background-entry.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/update-manifest.browser-prefix.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/__spec__/browser-family-fallback.spec.ts
  programs/develop/types.ts
  programs/extension/browsers/__spec__/card-binary-provenance.spec.ts
  programs/extension/browsers/__spec__/run-only.spec.ts
  programs/extension/browsers/browsers-lib/browser-family.ts
  programs/extension/browsers/browsers-lib/output-binaries-resolver.ts
  programs/extension/browsers/browsers-types.ts
  programs/extension/browsers/run-firefox/firefox-launch/index.ts
  programs/extension/config-types.ts
  programs/extension/helpers/__spec__/vendors.spec.ts
  programs/extension/helpers/messaging.ts
  programs/extension/helpers/vendors.ts
  programs/extension/package.json
  programs/install/lib/messaging.ts
Due: eslint --fix, prettier --write

Ship manifest-named files and keep Opera builds readable (#609)
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-manifest-named-files.spec.ts
  programs/develop/__spec__/build-opera-unminified.spec.ts
  programs/develop/__spec__/build-root-absolute-page-refs.spec.ts
  programs/develop/command-build.ts
  programs/develop/lib/__spec__/extension-id.spec.ts
  programs/develop/lib/extension-id.ts
  programs/develop/lib/messages.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/add-assets-to-compilation.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/hint-behavior.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/html-lib/messages.ts
  programs/develop/plugin-web-extension/feature-html/steps/add-assets-to-compilation.ts
  programs/develop/plugin-web-extension/feature-html/steps/handle-common-errors.ts
  programs/develop/plugin-web-extension/feature-icons/__spec__/emit-file.spec.ts
  programs/develop/plugin-web-extension/feature-icons/messages.ts
  programs/develop/plugin-web-extension/feature-icons/steps/emit-file.ts
  programs/develop/plugin-web-extension/feature-json/__spec__/json-plugin.spec.ts
  programs/develop/plugin-web-extension/feature-json/messages.ts
  programs/develop/plugin-web-extension/feature-json/process-assets.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/trace-runtime-loaded-files.ts
  programs/develop/rspack-config.ts
  programs/develop/types.ts
  programs/extension/__spec__/minify-negation.spec.ts
  programs/extension/browsers/__spec__/banner.unit.spec.ts
  programs/extension/browsers/browsers-lib/banner.ts
  programs/extension/commands/build.ts
  programs/extension/config-types.ts
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Add a context7.json so coding agents get the right usage rules (#611)
  context7.json
Due: prettier --write

Add a funding manifest and funding fields to published packages (#610)
  funding.json
  programs/create/package.json
  programs/develop/package.json
  programs/extension/package.json
  programs/install/package.json
Due: prettier --write

Launch Zen and Floorp by name as gecko fork targets (#612)
  .npmrc
  pnpm-lock.yaml
  programs/create/lib/messaging.ts
  programs/develop/lib/__spec__/browser-normalization.spec.ts
  programs/develop/lib/__spec__/constants.spec.ts
  programs/develop/lib/constants.ts
  programs/develop/lib/messaging.ts
  programs/develop/lib/paths.ts
  programs/develop/plugin-reload/__spec__/setup-background-entry.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/update-manifest.browser-prefix.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/__spec__/browser-family-fallback.spec.ts
  programs/develop/types.ts
  programs/extension/browsers/__spec__/card-binary-provenance.spec.ts
  programs/extension/browsers/__spec__/run-only.spec.ts
  programs/extension/browsers/browsers-lib/browser-family.ts
  programs/extension/browsers/browsers-lib/output-binaries-resolver.ts
  programs/extension/browsers/browsers-types.ts
  programs/extension/browsers/run-firefox/firefox-launch/index.ts
  programs/extension/config-types.ts
  programs/extension/helpers/__spec__/vendors.spec.ts
  programs/extension/helpers/messaging.ts
  programs/extension/helpers/vendors.ts
  programs/extension/package.json
  programs/install/lib/messaging.ts
Due: eslint --fix, prettier --write

Compile a manifest page that lives under pages/ once
  programs/develop/__spec__/build-pages-folder-manifest-page.spec.ts
  programs/develop/plugin-web-extension/index.ts
  programs/develop/plugin-web-extension/shared/__spec__/omit-owned-pages.spec.ts
  programs/develop/plugin-web-extension/shared/omit-owned-pages.ts
Due: eslint --fix, prettier --write

Compile a manifest page that lives under pages/ once (#613)
  programs/develop/__spec__/build-pages-folder-manifest-page.spec.ts
  programs/develop/plugin-web-extension/index.ts
  programs/develop/plugin-web-extension/shared/__spec__/omit-owned-pages.spec.ts
  programs/develop/plugin-web-extension/shared/omit-owned-pages.ts
Due: eslint --fix, prettier --write

Read the emulated Chromium origin before opening it and name a hold or a rate limit
  programs/extension/__spec__/emulator-lane.spec.ts
  programs/extension/browsers/run-emulator/index.ts
Due: eslint --fix, prettier --write

Fold an empty path segment in the emulator files index and list the file once
  programs/develop/dev-server/__spec__/emulator-lane.spec.ts
  programs/develop/dev-server/emulator-lane.ts
Due: eslint --fix, prettier --write

Serve the emulated Chromium page a file index and a viewer channel
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/dev-server/__spec__/emulator-lane.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/viewer-admission.spec.ts
  programs/develop/dev-server/control-bridge/broker.ts
  programs/develop/dev-server/control-bridge/consumer-client.ts
  programs/develop/dev-server/control-bridge/contracts.ts
  programs/develop/dev-server/control-bridge/ws-control-server.ts
  programs/develop/dev-server/emulator-lane.ts
  programs/develop/dev-server/index.ts
  programs/develop/dev-server/messages.ts
  programs/develop/plugin-browsers/index.ts
  programs/develop/plugin-playwright/index.ts
  programs/develop/plugin-reload/__spec__/reload-plugin-emulator.spec.ts
  programs/develop/plugin-reload/index.ts
Due: eslint --fix, prettier --write

Make the content-script step spy constructible the way the formatter keeps it
  programs/develop/plugin-reload/__spec__/reload-plugin-emulator.spec.ts
Due: eslint --fix, prettier --write

Keep emulated Chromium on static content scripts, the lane injects no producer to re-register them
  programs/develop/plugin-reload/__spec__/reload-plugin-emulator.spec.ts
  programs/develop/plugin-reload/index.ts
Due: eslint --fix, prettier --write

Reword the emulated Chromium refusals so each one names a next step
  programs/develop/dev-server/messages.ts
  programs/extension/__spec__/emulator-lane.spec.ts
  programs/extension/browsers/run-emulator/index.ts
  programs/extension/helpers/emulator-session.ts
Due: eslint --fix, prettier --write

List only served files in the emulator index and name its livereload path
  programs/develop/dev-server/__spec__/emulator-files-restart.spec.ts
  programs/develop/dev-server/__spec__/emulator-lane.spec.ts
  programs/develop/dev-server/emulator-lane.ts
  programs/develop/dev-server/index.ts
Due: eslint --fix, prettier --write

Serve a one-byte asset with its byte on the dev server
  programs/develop/dev-server/__spec__/dev-middleware-body.spec.ts
  programs/develop/dev-server/dev-middleware-body.ts
  programs/develop/dev-server/index.ts
Due: eslint --fix, prettier --write

Open emulated Chromium and refuse logs, act and doctor against it
  programs/extension/__spec__/emulator-lane.spec.ts
  programs/extension/browsers/index.ts
  programs/extension/browsers/run-emulator/index.ts
  programs/extension/commands/act.ts
  programs/extension/commands/doctor.ts
  programs/extension/commands/logs.ts
  programs/extension/helpers/emulator-session.ts
Due: eslint --fix, prettier --write

Accept chromium-emulator as a browser name behind an env flag
  programs/develop/lib/__spec__/emulator-name-gating.spec.ts
  programs/develop/lib/constants.ts
  programs/develop/lib/paths.ts
  programs/develop/types.ts
  programs/extension/browsers/browsers-lib/browser-family.ts
  programs/extension/browsers/browsers-lib/output-binaries-resolver.ts
  programs/extension/browsers/browsers-types.ts
  programs/extension/commands/preview.ts
  programs/extension/commands/start.ts
  programs/extension/helpers/vendors.ts
Due: eslint --fix, prettier --write

Mock the dev content-script step in the emulator reload spec after the rebase
  programs/develop/plugin-reload/__spec__/reload-plugin-emulator.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
