Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Stop warning about a port conflict when port 0 asked for any port
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/dev-server/__spec__/port-conflict.spec.ts
  programs/develop/dev-server/index.ts
  programs/develop/dev-server/messages.ts
Due: eslint --fix, prettier --write

Honor commands noBrowser from the file config, flag still wins
  programs/develop/module.ts
  programs/extension/commands/dev.ts
  programs/extension/commands/preview.ts
  programs/extension/commands/start.ts
  programs/extension/helpers/__spec__/no-browser.spec.ts
  programs/extension/helpers/no-browser.ts
Due: eslint --fix, prettier --write

Publish all four packages through OIDC instead of a shared npm token
  .github/workflows/publish-release.yml
Due: none

Pin npm and drop a pnpm flag that npm 12 turns into a hard error
  .github/workflows/publish-release.yml
Due: none

Name the sponsor in the README every scaffold keeps
  programs/create/steps/__spec__/write-readme-file.spec.ts
  programs/create/steps/write-readme-file.ts
Due: eslint --fix, prettier --write

Print where to share a build and name the sponsor in the README
  README.md
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-share-hint.spec.ts
  programs/develop/command-build.ts
  programs/develop/lib/messages.ts
  programs/extension/README.md
Due: eslint --fix, prettier --write

Stop reporting telemetry from CI, where nobody can consent
  .github/workflows/telemetry-check.yml
  docs/TELEMETRY.md
  programs/extension/helpers/__spec__/telemetry-ci-consent.spec.ts
  programs/extension/helpers/telemetry.ts
Due: eslint --fix, prettier --write

Resync the bundled javascript template with the examples repo
  programs/create/templates/javascript/STORE.md
Due: prettier --write

Keep reporting when CI is set but a person has a terminal
  docs/TELEMETRY.md
  programs/extension/helpers/__spec__/telemetry-ci-consent.spec.ts
  programs/extension/helpers/telemetry.ts
Due: eslint --fix, prettier --write

Prove a release shipped the fix by reading the published tarball
  .github/workflows/publish-release.yml
  scripts/__spec__/verify-published-artifact.spec.mjs
  scripts/verify-published-artifact.mjs
Due: none

Tell the reader where to get a token when publish has none
  programs/extension/__spec__/publish-command.spec.ts
  programs/extension/__spec__/publish.spec.ts
  programs/extension/commands/publish.ts
Due: eslint --fix, prettier --write

Give the default scaffold its own name, identity, and first commit
  programs/create/__spec__/default-scaffold-identity.spec.ts
  programs/create/__spec__/package-manager-result.spec.ts
  programs/create/lib/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/create/lib/git-identity.ts
  programs/create/lib/messages.ts
  programs/create/lib/package-manager.ts
  programs/create/module.ts
  programs/create/steps/__spec__/initialize-git-repository.spec.ts
  programs/create/steps/__spec__/write-manifest-json.spec.ts
  programs/create/steps/__spec__/write-package-json.spec.ts
  programs/create/steps/__spec__/write-store-metadata.spec.ts
  programs/create/steps/initialize-git-repository.ts
  programs/create/steps/write-manifest-json.ts
  programs/create/steps/write-package-json.ts
  programs/create/steps/write-store-metadata.ts
Due: eslint --fix, prettier --write

Resync the bundled javascript template with the examples repo
  programs/create/templates/javascript/README.md
  programs/create/templates/javascript/STORE.md
  programs/create/templates/javascript/package.json
  programs/create/templates/javascript/src/manifest.json
Due: prettier --write

Stop a stored consent from speaking for a pipeline that inherited it
  docs/TELEMETRY.md
  programs/extension/helpers/__spec__/telemetry-ci-consent.spec.ts
  programs/extension/helpers/__spec__/telemetry-source-build.spec.ts
  programs/extension/helpers/telemetry.ts
Due: eslint --fix, prettier --write

Show every template name in create help instead of only to agents
  programs/extension/__spec__/template-catalog.spec.ts
  programs/extension/commands/create.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/messages.ts
  programs/extension/helpers/template-catalog.ts
Due: eslint --fix, prettier --write

Say the template rules in sentences the messaging check allows
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Update the AI help snapshot for the reworded template note
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
Due: none

Make init scaffold the init template instead of a different one
  programs/create/steps/__spec__/import-external-template.init-alias.spec.ts
  programs/create/steps/import-external-template.ts
  programs/extension/__spec__/template-catalog.spec.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/template-catalog.ts
Due: eslint --fix, prettier --write

Stop a missing Discord webhook from blocking a release
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
Due: none

Flush telemetry before exiting so a failure is actually reported
  programs/extension/commands/create.ts
  programs/extension/helpers/exit-after-drain.ts
Due: eslint --fix, prettier --write

Revalidate the packument so a good release stops failing
  scripts/verify-published-artifact.mjs
Due: none
