Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Format
  programs/develop/develop-lib/__spec__/build-branches.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/create-profile.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox/create-profile.ts
  programs/develop/webpack/plugin-browsers/run-firefox/index.ts
Due: eslint --fix, prettier --write

Attempt to fix CI publishing #2
  .github/workflows/canary.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Attempt to fix flaky tests
  programs/cli/__spec__/cli.spec.ts
  programs/create/create.spec.ts
  programs/develop/webpack/plugin-extension/feature-manifest/__spec__/integration.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-hmr.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-public-path.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-service-worker.spec.ts
  programs/develop/webpack/plugin-extension/feature-web-resources/__spec__/integration.spec.ts
Due: eslint --fix, prettier --write

Meta updates
  README.md
  programs/cli/README.md
  programs/cli/package.json
  programs/create/package.json
  programs/develop/package.json
Due: prettier --write

Increase timeout for flaky tests
  programs/develop/__spec__/build.spec.ts
  programs/develop/webpack/plugin-extension/feature-manifest/__spec__/integration.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/index.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-service-worker.spec.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/__spec__/index.spec.ts
  programs/develop/webpack/plugin-extension/feature-web-resources/__spec__/integration.spec.ts
Due: eslint --fix, prettier --write

v2.0.1
  programs/cli/package.json
  programs/create/package.json
  programs/develop/package.json
Due: prettier --write

Remove socket errors from the final user
  programs/develop/webpack/dev-server.ts
Due: eslint --fix, prettier --write

Ensure extension.config.js runs for ESM and CJS
  programs/develop/develop-lib/get-extension-config.ts
Due: eslint --fix, prettier --write

Fix messages on browsers' first run
  programs/develop/webpack/plugin-reload/start-server.ts
  programs/develop/webpack/webpack-lib/utils.ts
Due: eslint --fix, prettier --write
