Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix create init template alias in remote installs
  programs/create/steps/__spec__/import-external-template.init-alias.spec.ts
  programs/create/steps/import-external-template.ts
Due: eslint --fix, prettier --write

Avoid git for built-in create templates
  programs/create/steps/__spec__/import-external-template.init-alias.spec.ts
  programs/create/steps/import-external-template.ts
Due: eslint --fix, prettier --write

Stop HMR websocket from using the page port
  programs/develop/webpack/dev-server/index.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/__spec__/hmr-dev-server-websocket-url.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/webpack-target-webextension-fork/lib/webpack5/HMRDevServer.ts
Due: eslint --fix, prettier --write

Avoid throwing when extension runtime is missing
  programs/develop/webpack/plugin-extension/feature-scripts/steps/__spec__/add-public-path-runtime-module.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/add-public-path-runtime-module.ts
Due: eslint --fix, prettier --write

Resolve polyfill from the consumer project first
  programs/develop/webpack/plugin-compatibility/__spec__/feature-polyfill.alias.spec.ts
  programs/develop/webpack/plugin-compatibility/feature-polyfill.ts
Due: eslint --fix, prettier --write

Provide a safe process env stub for browser builds
  programs/develop/webpack/plugin-compilation/__spec__/compilation.spec.ts
  programs/develop/webpack/plugin-compilation/__spec__/env.spec.ts
  programs/develop/webpack/plugin-compilation/env.ts
  programs/develop/webpack/plugin-compilation/index.ts
Due: eslint --fix, prettier --write

Add internal type shims for CLI
  programs/cli/internal-types/extension-packages.d.ts
  programs/cli/tsconfig.json
Due: eslint --fix, prettier --write

Include copied fonts in web_accessible_resources
  programs/develop/webpack/plugin-extension/feature-web-resources/__spec__/index.spec.ts
  programs/develop/webpack/plugin-extension/feature-web-resources/web-resources-lib/generate-manifest.ts
  programs/develop/webpack/plugin-static-assets/index.ts
Due: eslint --fix, prettier --write

Generate browser polyfill types directly in extension-env.d.ts
  programs/cli/package.json
  programs/cli/tsconfig.json
  programs/cli/types/css-content.d.ts
  programs/cli/types/css-modules.d.ts
  programs/cli/types/extension-create-shim.d.ts
  programs/cli/types/extension-develop-shim.d.ts
  programs/cli/types/images.d.ts
  programs/cli/types/index.d.ts
  programs/cli/types/index.ts
  programs/cli/types/js-frameworks.d.ts
  programs/cli/types/polyfill.d.ts
  programs/create/steps/generate-extension-types.ts
  programs/create/tsconfig.json
  programs/create/vitest.config.ts
  programs/develop/webpack/webpack-lib/__spec__/generate-extension-types.spec.ts
  programs/develop/webpack/webpack-lib/generate-extension-types.ts
Due: eslint --fix, prettier --write

Open startingUrl when launching Firefox
  programs/develop/webpack/plugin-browsers/__spec__/firefox-launch.spec.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/browser-config.ts
Due: eslint --fix, prettier --write

Update tests/README links
  README.md
  programs/cli/README.md
  programs/cli/cli-lib/__spec__/check-updates.spec.ts
  programs/cli/cli-lib/__spec__/messages.spec.ts
  programs/create/steps/__spec__/import-external-template.init-alias.spec.ts
  programs/create/steps/import-external-template.ts
  programs/develop/webpack/plugin-browsers/__spec__/browser-not-installed.wsl.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/chromium-launch.logs-errors.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-compilation/index.ts
  programs/develop/webpack/plugin-extension/feature-manifest/__spec__/update-manifest.browser-prefix.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/__spec__/add-public-path-runtime-module.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/__spec__/hmr-dev-server-websocket-url.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/webpack-target-webextension-fork/lib/webpack5/HMRDevServer.ts
  programs/develop/webpack/plugin-js-frameworks/index.ts
  programs/develop/webpack/plugin-static-assets/__spec__/index.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/generate-extension-types.spec.ts
Due: eslint --fix, prettier --write

Improve WSL guidance and error reporting for browser launch
  programs/develop/webpack/plugin-browsers/__spec__/browser-not-installed.wsl.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/chromium-launch.logs-errors.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
Due: eslint --fix, prettier --write

Avoid running vue-loader twice when users add a Vue rule
  programs/develop/webpack/plugin-js-frameworks/__spec__/index.spec.ts
  programs/develop/webpack/plugin-js-frameworks/index.ts
Due: eslint --fix, prettier --write

Respect custom font asset rules
  programs/develop/webpack/plugin-static-assets/__spec__/index.spec.ts
  programs/develop/webpack/plugin-static-assets/index.ts
Due: eslint --fix, prettier --write

Stop loading extension-develop during create
  programs/cli/cli-lib/__spec__/check-updates.spec.ts
  programs/cli/cli-lib/__spec__/messages.spec.ts
  programs/cli/commands/create.ts
Due: eslint --fix, prettier --write

Ensure theme bundled with devtools
  scripts/build-extensions.cjs
Due: none

Fix release build not working for stable (attempt #1)
  .github/workflows/publish-release.yml
Due: none

Fix default theme background tab text/bg contrast
  extensions/extension-js-theme/README.md
  extensions/extension-js-theme/manifest.json
Due: prettier --write

Stabilize optional dependency installs and error branding
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/plugin-css/css-lib/messages.ts
  programs/develop/webpack/webpack-lib/__spec__/branding.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/preflight-optional-deps.spec.ts
  programs/develop/webpack/webpack-lib/branding.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
  programs/develop/webpack/webpack-lib/stats-handler.ts
Due: eslint --fix, prettier --write

Fix wrong optional dependency installation path
  pnpm-lock.yaml
  scripts/build-extensions.cjs
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
