Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove the implemented readiness design docs
  docs/readiness/README.md
  docs/readiness/readiness.example.json
  docs/readiness/readiness.schema.json
Due: prettier --write

Snapshot the 21 messages.ts catalogs (readiness item 5c)
  docs/readiness/README.md
  programs/create/lib/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/create/lib/__spec__/messages-catalog.spec.ts
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/messages-catalog.spec.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/extension/helpers/__spec__/messages-catalog.spec.ts
  programs/install/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/install/__spec__/messages-catalog.spec.ts
Due: eslint --fix, prettier --write

Add the extension logs command to read and stream the bridge
  programs/develop/bridge-entry.ts
  programs/develop/package.json
  programs/develop/rslib.config.ts
  programs/extension/__spec__/exec/help-parity.contract.spec.ts
  programs/extension/commands/logs.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/__spec__/messages-ai-help.spec.ts
  programs/extension/helpers/extension-develop-runtime.ts
  programs/extension/helpers/messages.ts
  programs/extension/index.ts
Due: eslint --fix, prettier --write

Refresh pnpm-lock.yaml for the ws control-bridge dependency
  pnpm-lock.yaml
Due: none

Pierce closed shadow roots in dev source deep dom
  programs/extension/browsers/run-chromium/chromium-source-inspection/cdp-client.ts
  programs/extension/browsers/run-chromium/chromium-source-inspection/extract.ts
Due: eslint --fix, prettier --write

Ensure `build` also produces the extension.d.ts file
  programs/develop/__spec__/command-build.spec.ts
  programs/develop/command-build.ts
Due: eslint --fix, prettier --write

Add the agent bridge slice 1 control websocket broker and log file
  programs/develop/dev-server/control-bridge/__spec__/broker.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/logs-file.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/ring-buffer.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/ws-control-server.spec.ts
  programs/develop/dev-server/control-bridge/broker.ts
  programs/develop/dev-server/control-bridge/contracts.ts
  programs/develop/dev-server/control-bridge/logs-file.ts
  programs/develop/dev-server/control-bridge/ring-buffer.ts
  programs/develop/dev-server/control-bridge/ws-control-server.ts
  programs/develop/dev-server/index.ts
  programs/develop/plugin-playwright/__spec__/index.spec.ts
  programs/develop/plugin-playwright/index.ts
  programs/develop/rspack-config.ts
  programs/develop/types.ts
Due: eslint --fix, prettier --write

Raise perf-budget defaults to 512/512/1024 KiB
  programs/develop/plugin-perf-budgets/__spec__/index.spec.ts
  programs/develop/plugin-perf-budgets/categorize.ts
  programs/develop/plugin-perf-budgets/index.ts
Due: eslint --fix, prettier --write

Declare the ws dependency for the control bridge
  programs/develop/package.json
  programs/develop/rslib.config.ts
Due: eslint --fix, prettier --write

Surface real CDP port into ready.json for out-of-process source inspect
  programs/develop/plugin-playwright/index.ts
  programs/extension/browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
Due: eslint --fix, prettier --write

Fix the three CI failures revealed once the lockfile was synced
  pnpm-lock.yaml
  programs/develop/package.json
  programs/develop/scripts/write-dist-js-aliases.mjs
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/__spec__/messages-ai-help.spec.ts
  scripts/verify-content-template-first-dev.mjs
Due: eslint --fix, prettier --write

Add CI lint/typecheck gate, readiness schema, producer tests, and reload-matrix smoke
  .github/workflows/ci.yml
  .github/workflows/reload-matrix-smoke.yml
  docs/readiness/README.md
  docs/readiness/readiness.example.json
  docs/readiness/readiness.schema.json
  package.json
  programs/develop/plugin-css/css-in-content-script-loader.ts
  programs/develop/plugin-css/css-in-html-loader.ts
  programs/extension/browsers/__spec__/readiness-producers.unit.spec.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/__spec__/messages-ai-help.spec.ts
  scripts/hydrate-templates-from-examples.sh
Due: eslint --fix, prettier --write

Add the agent bridge consumer client and ready contract reader
  programs/develop/dev-server/control-bridge/__spec__/consumer-client.spec.ts
  programs/develop/dev-server/control-bridge/consumer-client.ts
Due: eslint --fix, prettier --write

Add the extension publish command for a shareable url
  programs/extension/__spec__/exec/help-parity.contract.spec.ts
  programs/extension/__spec__/publish.spec.ts
  programs/extension/commands/publish.ts
  programs/extension/helpers/messages.ts
  programs/extension/index.ts
Due: eslint --fix, prettier --write

Bump ws to ^8.20.1 to patch GHSA-58qx-3vcg-4xpx
  pnpm-lock.yaml
  programs/develop/package.json
  programs/extension/package.json
Due: prettier --write

Restore the @rspack/dev-server@2.0.2 SCAFFOLD_OVERRIDES workaround
  scripts/verify-content-template-first-dev.mjs
Due: none

Inspect extension surface dom through the in bundle relay
  programs/develop/dev-server/control-bridge/__spec__/producer-runtime.spec.ts
  programs/develop/dev-server/control-bridge/producer-runtime.ts
  programs/extension/commands/act.ts
Due: eslint --fix, prettier --write

Enhance zip download mechanism
  programs/develop/lib/__spec__/get-project-path.spec.ts
  programs/develop/lib/__spec__/validate-user-dependencies.spec.ts
  programs/develop/lib/__spec__/zip.spec.ts
  programs/develop/lib/messages.ts
  programs/develop/lib/project.ts
  programs/develop/lib/validate-user-dependencies.ts
  programs/develop/lib/zip.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/update-manifest.browser-prefix.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/manifest.ts
  programs/extension/__spec__/exec/dev-wait.unit.spec.ts
  programs/extension/commands/dev-wait.ts
  programs/extension/helpers/__spec__/messages-ai-help.spec.ts
  programs/extension/helpers/messages.ts
  programs/install/__spec__/runner.spec.ts
  turbo.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
