Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Update README.emd
  .github/workflows/ci.yml
  programs/cli/README.md
Due: prettier --write

Skip themed builds for now
  scripts/build-extensions.cjs
Due: none

Streamline templates with other examples
  extensions/extension-js-devtools/pages/welcome/scripts.tsx
  programs/cli/README.md
  templates/javascript/README.md
  templates/javascript/package.json
  templates/javascript/src/manifest.json
  templates/preact/README.md
  templates/preact/package.json
  templates/preact/src/manifest.json
  templates/react/README.md
  templates/react/package.json
  templates/react/src/manifest.json
  templates/svelte/README.md
  templates/svelte/package.json
  templates/svelte/src/manifest.json
  templates/typescript/README.md
  templates/typescript/package.json
  templates/typescript/src/manifest.json
  templates/vue/README.md
  templates/vue/package.json
  templates/vue/src/manifest.json
Due: eslint --fix, prettier --write

Fix failing scheduled workflows
  .github/workflows/programs-nightly.yml
  .github/workflows/telemetry-check.yml
Due: none

Lint again
  templates/javascript/src/manifest.json
  templates/preact/src/manifest.json
  templates/react/src/manifest.json
  templates/svelte/src/manifest.json
  templates/typescript/src/manifest.json
  templates/vue/src/manifest.json
Due: prettier --write

Fix type errors
  programs/develop/tsconfig.json
  programs/develop/webpack/plugin-browsers/browsers-types.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/targets.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-types.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-unified-logger/unified-logging.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/rdp-extension-controller/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-types.ts
  programs/develop/webpack/plugin-browsers/run-firefox/index.ts
  programs/develop/webpack/plugin-css/css-lib/is-content-script.ts
  programs/develop/webpack/webpack-lib/messages.ts
Due: eslint --fix, prettier --write

Fix tests
  playwright.config.ts
  programs/develop/webpack/plugin-browsers/browsers-types.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/index.ts
  programs/develop/webpack/plugin-extension/feature-html/html-lib/patch-html.ts
  programs/develop/webpack/plugin-extension/feature-html/steps/update-html-file.ts
  programs/develop/webpack/plugin-extension/feature-resolve/__spec__/performance.spec.ts
  templates/shared-template-tests.ts
Due: eslint --fix, prettier --write
