Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Fix dev-server manifest disk write guard on CI
  programs/develop/webpack/dev-server/index.ts
Due: eslint --fix, prettier --write

Fix content_script bridge resolution in development
  programs/develop/webpack/plugin-js-frameworks/index.ts
  programs/develop/webpack/plugin-web-extension/feature-html/index.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/__spec__/content-scripts.override.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/manifest-overrides/common/content_scripts.ts
  programs/develop/webpack/plugin-web-extension/feature-resolve/index.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/__spec__/add-scripts.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/scripts-lib/manifest.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/scripts-lib/utils.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/get-bridge-scripts.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/get-bridge-scripts.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/index.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/apply-manifest-dev-defaults/__spec__/index.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/apply-manifest-dev-defaults/index.ts
Due: eslint --fix, prettier --write

Generate curated stable release notes
  .github/workflows/publish-release.yml
  RELEASING.md
  scripts/generate-release-notes.mjs
Due: prettier --write

Fix next/canary publish workflows
  .github/workflows/publish-release.yml
Due: none

Exclude chore(release)/release() from changelog, add retroactive clean script
  .github/workflows/clean-release-notes.yml
  .github/workflows/publish-release.yml
  scripts/clean-release-notes.mjs
Due: none

Fix monorepo root env fallback for nested extension builds
  programs/develop/webpack/plugin-compilation/__spec__/env.spec.ts
  programs/develop/webpack/plugin-compilation/env.ts
  programs/develop/webpack/webpack-lib/messages.ts
Due: eslint --fix, prettier --write

Guard Chromium reloads when developer mode is disabled
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/cdp-extension-controller.developer-mode.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.warn-dev-mode.unit.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-hard-reload/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/cdp-extension-controller/index.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/less.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/postcss.integration.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/postcss.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/sass.spec.ts
  programs/develop/webpack/plugin-css/__spec__/tools.spec.ts
Due: eslint --fix, prettier --write

Fix manifest pipeline ordering and disk persistence
  programs/cli/commands/dev-wait.ts
  programs/develop/webpack/dev-server/__spec__/config-root-resolution.spec.ts
  programs/develop/webpack/dev-server/__spec__/no-browser-banner.unit.spec.ts
  programs/develop/webpack/dev-server/compiler-hooks.ts
  programs/develop/webpack/dev-server/index.ts
  programs/develop/webpack/plugin-browsers/__spec__/chromium-launch.logs-errors.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/manifest-readiness.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/manifest-readiness.ts
  programs/develop/webpack/plugin-compilation/__spec__/env.spec.ts
  programs/develop/webpack/plugin-compilation/env.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/__spec__/manifest-plugin.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/__spec__/update-manifest.browser-prefix.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/index.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/manifest-lib/manifest.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/patch-background.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/patch-csp.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/patch-externally-connectable.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/patch-web-resources.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/apply-dev-defaults.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/emit-manifest.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/patch-war.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/persist-manifest.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/update-manifest.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/__spec__/index.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/apply-manifest-dev-defaults/__spec__/patch-csp.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/apply-manifest-dev-defaults/index.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/index.ts
  programs/develop/webpack/plugin-web-extension/feature-web-resources/__spec__/index.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-web-resources/__spec__/war-output-presence.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-web-resources/index.ts
  programs/develop/webpack/plugin-web-extension/feature-web-resources/steps/patch-manifest-war.ts
  programs/develop/webpack/plugin-web-extension/feature-web-resources/web-resources-lib/generate-manifest.ts
Due: eslint --fix, prettier --write

Fix Dependabot alerts
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix startup recompiles when special folders are missing
  programs/develop/webpack/feature-special-folders/__spec__/warn-upon-folder-changes.spec.ts
  programs/develop/webpack/feature-special-folders/warn-upon-folder-changes.ts
Due: eslint --fix, prettier --write

Improve managed browser install guidance.
  programs/cli/cli-lib/messages.ts
  programs/cli/commands/install.ts
  programs/develop/webpack/plugin-browsers/__spec__/pretty-install-guidance.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/install/README.md
  programs/install/__spec__/runner.spec.ts
  programs/install/lib/runner.ts
Due: eslint --fix, prettier --write

Fix CLI banner consistency across dev, preview, and start
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/dev-server/messages.ts
  programs/develop/webpack/plugin-browsers/__spec__/banner.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/chromium-launch.logs-errors.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-only.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/banner.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-only.ts
Due: eslint --fix, prettier --write

Enhance output data view for performance hints
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/webpack-lib/messages.ts
Due: eslint --fix, prettier --write

Fix extension.config root resolution with src manifests
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/dev-server/__spec__/config-root-resolution.spec.ts
  programs/develop/webpack/dev-server/index.ts
Due: eslint --fix, prettier --write

Preserve webpackIgnore comments in production builds
  programs/develop/webpack/plugin-js-frameworks/__spec__/index.spec.ts
  programs/develop/webpack/plugin-js-frameworks/index.ts
Due: eslint --fix, prettier --write

Prefer the project-local develop runtime during create
  programs/create/__spec__/install-internal-deps.spec.ts
  programs/create/steps/install-internal-deps.ts
Due: eslint --fix, prettier --write

Fix publish workflow
  programs/cli/__spec__/exec/cli-exec.spec.ts
Due: eslint --fix, prettier --write

Harden managed browser profile reuse
  programs/develop/webpack/plugin-browsers/__spec__/chromium-flags.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/shared-utils.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/browser-config.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/browser-config.ts
Due: eslint --fix, prettier --write

Fix regression on optional deps install on Windows
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/webpack-lib/messages.ts
Due: eslint --fix, prettier --write

Fix manifest.json writes across plugin passes
  programs/develop/webpack/dev-server/__spec__/config-root-resolution.spec.ts
  programs/develop/webpack/dev-server/compiler-hooks.ts
  programs/develop/webpack/dev-server/index.ts
  programs/develop/webpack/plugin-browsers/__spec__/chromium-launch.logs-errors.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.manifest-flow.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.service-worker-source-deps.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.warn-dev-mode.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/manifest-readiness.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-hard-reload/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/manifest-readiness.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
  programs/develop/webpack/plugin-compatibility/__spec__/compatibility-plugin.spec.ts
  programs/develop/webpack/plugin-compatibility/__spec__/feature-browser-fields.spec.ts
  programs/develop/webpack/plugin-compatibility/__spec__/feature-browser-specific-fields.apply.spec.ts
  programs/develop/webpack/plugin-compatibility/compatibility-lib/manifest.ts
  programs/develop/webpack/plugin-compatibility/compatibility-lib/messages.ts
  programs/develop/webpack/plugin-compatibility/feature-browser-specific-fields.ts
  programs/develop/webpack/plugin-compatibility/index.ts
  programs/develop/webpack/plugin-compilation/__spec__/compilation.spec.ts
  programs/develop/webpack/plugin-compilation/index.ts
  programs/develop/webpack/plugin-web-extension/feature-html/html-lib/manifest.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/__spec__/emit-manifest.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/__spec__/legacy-warnings.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/__spec__/manifest-plugin.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/__spec__/persist-manifest.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/__spec__/update-manifest.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/index.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/manifest-lib/manifest.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/manifest-overrides/__spec__/web_accessible_resources.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/manifest-overrides/common/web_accessible_resources.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/emit-manifest.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/legacy-warnings.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/persist-manifest.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/update-manifest.ts
  programs/develop/webpack/plugin-web-extension/feature-web-resources/__spec__/index.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-web-resources/web-resources-lib/generate-manifest.ts
  programs/develop/webpack/webpack-config.ts
Due: eslint --fix, prettier --write

Stabilize optional dependency installs during build
  ci-scripts/run-optional-deps-smoke.mjs
  programs/develop/package.json
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/package-manager.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/preflight-cache.spec.ts
  programs/develop/webpack/webpack-lib/optional-dependencies.json
  programs/develop/webpack/webpack-lib/optional-dependencies.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
  programs/develop/webpack/webpack-lib/package-manager.ts
  programs/develop/webpack/webpack-lib/preflight-cache.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Fix publish workflow
  .github/actions/setup/action.yml
  .github/workflows/publish-release.yml
Due: none
