Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Compile package before sanity check
  .github/workflows/sanity.yml
Due: none

Compile package before sanity check pt 2
  .github/workflows/sanity.yml
Due: none

Add support to Vue/Svelte loader files
  programs/develop/webpack/plugin-js-frameworks/js-tools/svelte.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/vue.ts
  templates/svelte/svelte.loader.js
  templates/vue/vue.loader.js
Due: eslint --fix, prettier --write

v2.0.0-rc.28
  programs/cli/package.json
  programs/create/package.json
  programs/develop/package.json
Due: prettier --write

Update local template creation
  programs/create/steps/import-local-template.ts
Due: eslint --fix, prettier --write

Always use remote templates
  programs/create/create.spec.ts
  programs/create/module.ts
  programs/create/steps/import-local-template.ts
  programs/create/template/README.md
  programs/create/template/manifest.json
  programs/create/template/package.json
  programs/develop/package.json
Due: eslint --fix, prettier --write

Always use remote templates
  programs/create/create.spec.ts
  programs/create/install_scripts.sh
  programs/create/lib/utils.ts
  programs/create/module.ts
  programs/create/steps/import-local-template.ts
  programs/create/steps/write-package-json.ts
  programs/create/template/README.md
  programs/create/template/manifest.json
  programs/create/template/package.json
  programs/develop/package.json
Due: eslint --fix, prettier --write

Fix `create` not working for default template
  programs/create/create.spec.ts
  programs/create/install_scripts.sh
  programs/create/lib/utils.ts
  programs/create/module.ts
  programs/create/package.json
  programs/create/steps/import-local-template.ts
  programs/create/steps/write-package-json.ts
  programs/create/template/README.md
  programs/create/template/manifest.json
  programs/create/template/package.json
  tsconfig.json
Due: eslint --fix, prettier --write

v2.0.0-rc.32
  programs/cli/package.json
  programs/develop/package.json
Due: prettier --write

Move managers and profiles to user dist
  programs/cli/package.json
  programs/develop/plugin-browsers/browsers-lib/messages.ts
  programs/develop/plugin-browsers/index.ts
  programs/develop/plugin-browsers/run-chromium/browser-config.ts
  programs/develop/plugin-browsers/run-chromium/create-profile.ts
  programs/develop/plugin-browsers/run-chromium/index.ts
  programs/develop/plugin-browsers/run-firefox/firefox/browser-config.ts
  programs/develop/plugin-browsers/run-firefox/firefox/create-profile.ts
  programs/develop/plugin-browsers/run-firefox/index.ts
  programs/develop/plugin-browsers/run-firefox/remote-firefox/index.ts
  programs/develop/webpack/lib/__spec__/utils.spec.ts
  programs/develop/webpack/lib/utils.ts
  programs/develop/webpack/plugin-reload/steps/create-web-socket-server/web-socket-server/start-server.ts
  programs/develop/webpack/plugin-reload/steps/setup-reload-strategy/generate-manager-extension.ts
  programs/develop/webpack/plugin-reload/steps/setup-reload-strategy/index.ts
  programs/develop/webpack/webpack-config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
