Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Format for the format king
  RELEASING.md
  programs/cli/__spec__/exec/cli-exec.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/postcss.integration.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/install-dependencies.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/package-manager.spec.ts
  programs/develop/webpack/webpack-lib/package-manager.ts
  scripts/format-wrapper.cjs
Due: eslint --fix, prettier --write

Fix Svelte browser resolution to avoid server entry regressions
  CHANGELOG.md
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/svelte.spec.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/svelte.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
  programs/cli/README.md
Due: prettier --write

Add experimental "install" command
  .github/workflows/publish-release.yml
  README.md
  RELEASING.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  programs/cli/README.md
  programs/cli/__spec__/dynamic-install.spec.ts
  programs/cli/__spec__/exec/help-parity.contract.spec.ts
  programs/cli/cli-lib/__spec__/messages-ai-help.spec.ts
  programs/cli/cli-lib/messages.ts
  programs/cli/commands/install.ts
  programs/cli/index.ts
  programs/cli/internal-types/extension-packages.d.ts
  programs/cli/package.json
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
  programs/install/README.md
  programs/install/__spec__/browser-target.spec.ts
  programs/install/__spec__/module.spec.ts
  programs/install/__spec__/runner.spec.ts
  programs/install/lib/browser-target.ts
  programs/install/lib/cache-root.ts
  programs/install/lib/messages.ts
  programs/install/lib/runner.ts
  programs/install/module.ts
  programs/install/package.json
  programs/install/rslib.config.ts
  programs/install/tsconfig.json
  programs/install/vitest.config.ts
  scripts/run-test.mjs
Due: eslint --fix, prettier --write

Another day, another extension ID output regresson fix
  programs/cli/__spec__/exec/cli-exec.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/banner.unit.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/banner.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
Due: eslint --fix, prettier --write

Stabilize remote zip project/template handling and companion loading defaults
  programs/cli/__spec__/exec/cli-exec.spec.ts
  programs/create/__spec__/create-remote.spec.ts
  programs/create/steps/import-external-template.ts
  programs/develop/webpack/feature-special-folders/__spec__/get-data.spec.ts
  programs/develop/webpack/feature-special-folders/get-data.ts
  programs/develop/webpack/webpack-lib/__spec__/get-project-path.spec.ts
  programs/develop/webpack/webpack-lib/project.ts
Due: eslint --fix, prettier --write

Delegate browser banner E2E coverage to examples repo
  programs/cli/__spec__/exec/cli-exec.spec.ts
Due: eslint --fix, prettier --write

Improve path handling on Windows
  programs/cli/__spec__/exec/cli-exec.spec.ts
  programs/create/lib/utils.ts
  programs/develop/webpack/webpack-lib/__spec__/package-manager.spec.ts
  programs/develop/webpack/webpack-lib/package-manager.ts
  scripts/smoke-npx.mjs
Due: eslint --fix, prettier --write

Fix package-manager binary invocation for optional dependency installs
  SVELTE_TEMPLATE_VALIDATION.md
  programs/develop/webpack/webpack-lib/__spec__/package-manager.spec.ts
  programs/develop/webpack/webpack-lib/package-manager.ts
Due: eslint --fix, prettier --write

Fix Firefox preview lifecycle on Windows so terminal stays attached
  programs/develop/webpack/plugin-browsers/__spec__/run-firefox/binary-detector.spec.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/binary-detector.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
Due: eslint --fix, prettier --write

Update dependencies by Dependabot recommendation
  .github/build-deps/package-lock.json
  .github/build-deps/package.json
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix nightly test CI
  .github/workflows/e2e.yml
  .github/workflows/programs-nightly.yml
  ci-scripts/build-with-manifest.mjs
  scripts/hydrate-templates-from-examples.sh
Due: none

Suppress duplicate startup compile line with runner state
  CHANGELOG.md
  programs/develop/webpack/dev-server/index.ts
  programs/develop/webpack/plugin-browsers/__spec__/banner.unit.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/banner.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/shared-state.ts
  programs/develop/webpack/plugin-compilation/boring.ts
Due: eslint --fix, prettier --write

Another run to ensure Extension ID is reliable + tests
  programs/cli/__spec__/exec/cli-exec.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/setup-cdp-after-launch.unit.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/banner.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
Due: eslint --fix, prettier --write

Fix WSL detection false positives on Windows
  programs/develop/webpack/plugin-browsers/__spec__/browser-not-installed.wsl.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/wsl-support.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-firefox/wsl-support.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/wsl-support.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/wsl-support.ts
Due: eslint --fix, prettier --write

Fix source output printing outside AUTHOR_MODE
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.manifest-flow.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/source-output.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/source-output.ts
Due: eslint --fix, prettier --write

Fix broken Windows tests
  programs/cli/__spec__/exec/cli-exec.spec.ts
Due: eslint --fix, prettier --write

Fix seed chromium dev-mode prefs for first-run reloads
  programs/develop/webpack/plugin-browsers/__spec__/chromium-flags.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/cdp-client.reload-fallback.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/browser-config.ts
Due: eslint --fix, prettier --write

Harden optional dependency runtime resolution deterministically
  programs/develop/webpack/plugin-css/css-tools/less.ts
  programs/develop/webpack/plugin-css/css-tools/postcss.ts
  programs/develop/webpack/plugin-css/css-tools/sass.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/preact.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/react.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/svelte.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/typescript.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/vue.ts
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
Due: eslint --fix, prettier --write

Harden optional dependency runtime resolution
  programs/develop/webpack/plugin-css/css-tools/less.ts
  programs/develop/webpack/plugin-css/css-tools/postcss.ts
  programs/develop/webpack/plugin-css/css-tools/sass.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/preact.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/react.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/svelte.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/typescript.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/vue.ts
Due: eslint --fix, prettier --write

Fix Windows file specifiers for local package overrides in smoke matrix
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Fix Windows process spawning in optional-deps smoke runner
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Fix optional dependency resolution in pnpm canary CI
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
Due: eslint --fix, prettier --write

Fix optional-deps smoke matrix when browser-extension fixture is absent
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Add automated optional-dependency smoke coverage across package managers
  .github/workflows/optional-deps-matrix.yml
  ci-scripts/run-browser-extension-ci-local.sh
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Fix optional module loading fallback in pnpm CI layouts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
Due: eslint --fix, prettier --write

Fix optional-deps matrix portability across Windows, Yarn, and Bun
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
