Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update CI workflow configuration
  .github/workflows/ci.yml
  programs/develop/webpack/plugin-extension/feature-html/__spec__/.tmp-html-plugin/manifest.json
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-assets/index.html
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-assets/manifest.json
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-assets/public/favicon.png
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-deps/icon.png
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-deps/index.html
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-emit/index.html
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-emit/manifest.json
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-emit2/manifest.json
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-recompile/index.html
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-steps-dev/index.html
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-steps-dev/manifest.json
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-steps/index.html
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-steps/manifest.json
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-update/index.html
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/.tmp-update/manifest.json
Due: prettier --write

Refresh README and CLI docs
  README.md
  programs/cli/README.md
Due: prettier --write

Remove Codecov configuration
  codecov.yml
Due: none

Refine lint Prettier and Turbo configs
  .prettierignore
  eslint.config.mjs
  turbo.json
Due: prettier --write

Update root package and lockfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

Improve devtools welcome page and background logic
  extensions/extension-js-devtools/pages/welcome/scripts.tsx
  extensions/extension-js-devtools/src/background/index.ts
Due: eslint --fix, prettier --write

Adjust CLI package and test setup
  programs/cli/__spec__/remote.spec.ts
  programs/cli/package.json
  programs/cli/vitest.config.ts
Due: eslint --fix, prettier --write

Update develop tests and configuration
  programs/develop/__spec__/generate-extension-types.spec.ts
  programs/develop/__spec__/generate-zip.spec.ts
  programs/develop/__spec__/get-extension-config.spec.ts
  programs/develop/__spec__/get-project-path.spec.ts
  programs/develop/__spec__/install-dependencies.spec.ts
  programs/develop/__spec__/validate-user-dependencies.spec.ts
  programs/develop/package.json
  programs/develop/vitest.config.mts
  programs/develop/webpack/plugin-browsers/__spec__/chromium-flags.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/firefox-launch.spec.ts
Due: eslint --fix, prettier --write

Improve HTML utils and locales handling
  programs/develop/webpack/plugin-extension/feature-html/html-lib/utils.ts
  programs/develop/webpack/plugin-extension/feature-locales/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
