Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Bump @rspack/plugin-preact-refresh to 2.0.1 and axios to 1.16.0
  pnpm-lock.yaml
  programs/create/package.json
  programs/develop/lib/optional-deps-contracts.ts
  programs/develop/package.json
  programs/develop/plugin-js-frameworks/__spec__/js-tools/preact.spec.ts
  programs/develop/plugin-js-frameworks/js-tools/preact.ts
Due: eslint --fix, prettier --write

Raise Node floor to 22.12 to match commander@15
  .github/workflows/ci.yml
  .github/workflows/clean-release-notes.yml
  .github/workflows/e2e.yml
  .github/workflows/optional-deps-matrix.yml
  .github/workflows/programs-nightly.yml
  .github/workflows/publish-release.yml
  .github/workflows/reload-matrix-smoke.yml
  docs/CONTRIBUTING.md
  programs/create/package.json
  programs/develop/package.json
  programs/extension/package.json
  programs/install/package.json
  scripts/generate-release-notes.mjs
Due: prettier --write

Revert commander 14 to 15 bump and its coupled Node floor raise
  .github/workflows/ci.yml
  .github/workflows/clean-release-notes.yml
  .github/workflows/e2e.yml
  .github/workflows/optional-deps-matrix.yml
  .github/workflows/programs-nightly.yml
  .github/workflows/publish-release.yml
  .github/workflows/reload-matrix-smoke.yml
  docs/CONTRIBUTING.md
  pnpm-lock.yaml
  programs/create/package.json
  programs/develop/package.json
  programs/extension/package.json
  programs/install/package.json
Due: prettier --write

Pack local workspace tarballs for yarn/bun smoke instead of canary tag
  scripts/__spec__/run-optional-deps-smoke.spec.mjs
  scripts/run-optional-deps-smoke.mjs
Due: none

Attribute create telemetry with template and source
  programs/extension/commands/create.ts
  programs/extension/helpers/telemetry-cli.ts
  programs/extension/helpers/telemetry.ts
Due: eslint --fix, prettier --write

Add open action/command bridge triggers and fix Firefox extension loading (RDP addons actor cache, background producer injection, service_worker→scripts)
  package.json
  programs/develop/dev-server/control-bridge/__spec__/broker-act.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/producer-runtime.spec.ts
  programs/develop/dev-server/control-bridge/broker.ts
  programs/develop/dev-server/control-bridge/contracts.ts
  programs/develop/dev-server/control-bridge/producer-runtime.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/patch-gecko-background.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/patch-gecko-background.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/update-manifest.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/inject-bridge-producer.ts
  programs/extension/browsers/__spec__/run-firefox/firefox-source-inspection/remote-firefox/remote-firefox.addons-actor-cache.unit.spec.ts
  programs/extension/browsers/run-firefox/firefox-source-inspection/remote-firefox/index.ts
  programs/extension/commands/act.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/messages.ts
  scripts/validate-open-action-trigger.mjs
Due: eslint --fix, prettier --write

Fix smoke:npx for workspace specifiers and wire it into CI as a packed-tarball guardrail
  .github/workflows/ci.yml
  scripts/smoke-npx.mjs
Due: none

Remove dead dependencies from extension-develop (cross-spawn, unique-names-generator, loader-utils, @swc/helpers)
  pnpm-lock.yaml
  programs/develop/package.json
Due: prettier --write

Use es-module-lexer instead of @swc/core for content-script default-export detection
  pnpm-lock.yaml
  programs/develop/package.json
  programs/develop/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/content-script-wrapper.ts
Due: eslint --fix, prettier --write

Exit non-zero when compilation errors prevent output
  programs/develop/command-build.ts
  programs/develop/lib/messages.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
