Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Bump less/postcss/sass-loader patch versions for rspack 2.x peer range
  pnpm-lock.yaml
  programs/develop/package.json
Due: prettier --write

Bump @rspack/core, plugin-preact-refresh, plugin-react-refresh patches
  pnpm-lock.yaml
  programs/develop/package.json
Due: prettier --write

Restore content-script wrapper in production to keep mount call alive
  programs/develop/plugin-web-extension/feature-scripts/__spec__/scripts-plugin-wrapper-gating.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/index.ts
Due: eslint --fix, prettier --write

Fix HTML live-reload regression on rspack 2.x and lock the contract in tests
  programs/develop/dev-server/__spec__/config-root-resolution.spec.ts
  programs/develop/dev-server/__spec__/server-config-contract.unit.spec.ts
  programs/develop/dev-server/index.ts
  programs/develop/lib/optional-deps-contracts.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/add-scripts-and-styles-to-compilation.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/minimum-script-file.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/preact-refresh-shim.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/steps/add-scripts-and-styles-to-compilation.ts
  programs/develop/plugin-web-extension/feature-html/steps/minimum-script-file.ts
  programs/develop/plugin-web-extension/feature-html/steps/preact-refresh-shim.ts
  programs/develop/plugin-web-extension/feature-scripts/__spec__/scripts-plugin-wrapper-gating.spec.ts
  programs/develop/rslib.config.ts
  programs/extension/browsers/__spec__/run-firefox/firefox-source-inspection/remote-firefox/runtime-reinject.unit.spec.ts
  programs/extension/browsers/run-firefox/firefox-source-inspection/remote-firefox/runtime-reinject.ts
Due: eslint --fix, prettier --write

Drop dist-build dependency from minimum-script-file/preact-refresh-shim specs
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/minimum-script-file.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/preact-refresh-shim.unit.spec.ts
Due: eslint --fix, prettier --write

Normalize watch path separators in dev-server config spec for Windows CI
  programs/develop/dev-server/__spec__/config-root-resolution.spec.ts
Due: eslint --fix, prettier --write

Normalize watch path separators in dev-server config spec for Windows CI
  scripts/hydrate-templates-from-examples.sh
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
