Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove smaple repo from lock file
  pnpm-lock.yaml
Due: none

Fix GH code scan alert
  programs/develop/webpack/plugin-extension/feature-resolve/loader/index.ts
  programs/develop/webpack/plugin-extension/feature-resolve/resolve-paths-loader.ts
Due: eslint --fix, prettier --write

Fix pnpm audit vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

Enforce js-yaml>=3.14.2/4.1.1 and glob@11.1.0 via pnpm overrides; regenerate lockfile
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use shared dir for browser installs
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/output-binaries-resolver.ts
Due: eslint --fix, prettier --write

Fix wrong installation path for npx-installed browsers
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
Due: eslint --fix, prettier --write

Re-enable manager extension support
  package.json
  scripts/build-extensions.cjs
Due: prettier --write

Refactor commands to make them easier to test
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/command-dev.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/command-start.ts
  programs/develop/webpack/webpack-config.ts
  programs/develop/webpack/webpack-lib/messages.ts
  programs/develop/webpack/webpack-lib/paths.ts
  programs/develop/webpack/webpack-types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
