Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Label a missing page by its resolved key, reword the script split note
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/emit-html-file.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/steps/emit-html-file.ts
  programs/develop/plugin-web-extension/feature-scripts/__spec__/warn-split-initial-chunks.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/messages.ts
Due: eslint --fix, prettier --write

Drop the unreachable branch from the externally_connectable patch
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults-helpers.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/patch-externally-connectable.ts
Due: eslint --fix, prettier --write

Serialize the CLI suite after its dependencies and lint past the mirror
  biome.json
  scripts/validate-content-reload-no-hard-reload.mjs
  scripts/validate-first-dev-run.mjs
  turbo.json
Due: prettier --write

Note the process-assets ordering and keep spec scratch out of the tree
  programs/develop/plugin-web-extension/feature-html/__spec__/index.unit.spec.ts
  programs/develop/rspack-config.ts
Due: eslint --fix, prettier --write

Let Tailwind scan the logger panel so the devtools UI is styled
  extensions/extension-js-devtools/.gitignore
  extensions/extension-js-devtools/pages/centralized-logger/controls/SettingsAside.tsx
  extensions/extension-js-devtools/src/styles.css
  programs/develop/lib/__spec__/companion-firefox-mv3-apis.spec.ts
Due: eslint --fix, prettier --write

Stop the reload runtime from messaging the companion extension
  programs/develop/dev-server/control-bridge/__spec__/producer-runtime.spec.ts
  programs/develop/dev-server/control-bridge/producer-runtime.ts
Due: eslint --fix, prettier --write

Snapshot traffic for 2026-09-14
  traffic.ndjson
Due: none

Describe the reload model accurately in the README
  README.md
  programs/extension/README.md
Due: prettier --write

Pin the managed Firefox install to the stable channel
  programs/install/__spec__/runner.spec.ts
  programs/install/lib/runner.ts
Due: eslint --fix, prettier --write

Run the core and CLI suites on the Node floor and on Node 24
  .github/workflows/ci.yml
Due: none

Publish an OpenSSF Scorecard for the repo and show it in the README
  .github/workflows/scorecard.yml
  README.md
Due: prettier --write

Run the rspack suite weekly against dependency prereleases
  .github/workflows/deps-canary.yml
  scripts/__spec__/deps-canary-overrides.spec.mjs
  scripts/deps-canary-overrides.mjs
Due: none

Run the dev-reload slice weekly on the browser prerelease channels
  .github/workflows/browser-channels.yml
  scripts/report-red-lane.sh
Due: none

Warn with addons-linter findings after a production Firefox build
  pnpm-lock.yaml
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-addon-lint.spec.ts
  programs/develop/command-build.ts
  programs/develop/lib/__spec__/addon-lint.spec.ts
  programs/develop/lib/__spec__/merge-options.spec.ts
  programs/develop/lib/addon-lint.ts
  programs/develop/lib/merge-options.ts
  programs/develop/lib/messages.ts
  programs/develop/lib/optional-deps-resolver.ts
  programs/develop/package.json
  programs/develop/types.ts
  programs/extension/__spec__/addon-lint-negation.spec.ts
  programs/extension/commands/build.ts
  programs/extension/config-types.ts
  programs/extension/helpers/messages.ts
Due: eslint --fix, prettier --write

Show the Scorecard badge on the published package README too
  programs/extension/README.md
Due: prettier --write

Keep go-git-it quiet and drop the fake PATH row when dev takes a URL
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/lib/__spec__/get-project-path.spec.ts
  programs/develop/lib/messages.ts
  programs/develop/lib/project.ts
Due: eslint --fix, prettier --write

Install a pnpm workspace member from its workspace root
  programs/develop/lib/__spec__/ensure-develop-artifacts.spec.ts
  programs/develop/lib/__spec__/needs-install.spec.ts
  programs/develop/lib/__spec__/package-manager.spec.ts
  programs/develop/lib/ensure-develop-artifacts.ts
  programs/develop/lib/package-manager.ts
  programs/develop/lib/paths.ts
Due: eslint --fix, prettier --write

Fold host permissions into permissions for a Firefox MV2 build
  programs/develop/__spec__/build-mv2-host-permissions.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/manifest.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/__spec__/mv2-host-permissions.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/index.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/mv2/__spec__/host_permissions.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/mv2/host_permissions.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/mv2/index.ts
Due: eslint --fix, prettier --write

Import content script chunks via chrome.runtime.getURL for AMO
  programs/develop/__spec__/build-addon-lint.spec.ts
  programs/develop/plugin-reload/steps/setup-reload-strategy/webpack-target-webextension-fork/lib/webpack5/RuntimeModules/LoadScript.ts
Due: eslint --fix, prettier --write

Compile the files the tracer copies instead of shipping raw source
  programs/develop/__spec__/build-traced-runtime-compile.spec.ts
  programs/develop/__spec__/build-untraced-runtime-deps.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/__spec__/trace-runtime-loaded-files.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/trace-runtime-loaded-files.ts
Due: eslint --fix, prettier --write
