Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix vue compiler warns
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/vue.spec.ts
  programs/develop/webpack/plugin-js-frameworks/index.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/vue.ts
Due: eslint --fix, prettier --write

Fix HMR not working for content_scripts using Vue
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-extension/feature-html/__spec__/steps/ensure-hmr-for-scripts.unit.spec.ts
  programs/develop/webpack/plugin-extension/feature-html/steps/ensure-hmr-for-scripts.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/content-script-wrapper.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/content-script-wrapper.ts
  templates/vue/src/content/ContentApp.vue
Due: eslint --fix, prettier --write

Update release workflow
  .github/workflows/discord-notify-releases.yml
  .github/workflows/publish-release.yml
  CHANGELOG.md
Due: prettier --write

Fix release workflow
  programs/cli/cli-lib/telemetry.ts
  scripts/build-extensions.cjs
Due: eslint --fix, prettier --write

Bring back manager extension primitive components
  extensions/extension-js-devtools/src/components/ui/card.tsx
  extensions/extension-js-devtools/src/components/ui/collapsible.tsx
  extensions/extension-js-devtools/src/components/ui/copy-button.tsx
  extensions/extension-js-devtools/src/components/ui/drawer.tsx
  extensions/extension-js-devtools/src/components/ui/input.tsx
  extensions/extension-js-devtools/src/components/ui/label.tsx
  extensions/extension-js-devtools/src/components/ui/select.tsx
  extensions/extension-js-devtools/src/components/ui/sonner.tsx
  extensions/extension-js-devtools/src/components/ui/switch.tsx
  extensions/extension-js-devtools/src/components/ui/table.tsx
  extensions/extension-js-devtools/src/components/ui/toggle-group.tsx
Due: eslint --fix, prettier --write

Bring back manager extension primitive components
  .github/workflows/publish-release.yml
  extensions/extension-js-devtools/src/components/ui/card.tsx
  extensions/extension-js-devtools/src/components/ui/collapsible.tsx
  extensions/extension-js-devtools/src/components/ui/copy-button.tsx
  extensions/extension-js-devtools/src/components/ui/drawer.tsx
  extensions/extension-js-devtools/src/components/ui/input.tsx
  extensions/extension-js-devtools/src/components/ui/label.tsx
  extensions/extension-js-devtools/src/components/ui/select.tsx
  extensions/extension-js-devtools/src/components/ui/sonner.tsx
  extensions/extension-js-devtools/src/components/ui/switch.tsx
  extensions/extension-js-devtools/src/components/ui/table.tsx
  extensions/extension-js-devtools/src/components/ui/toggle-group.tsx
Due: eslint --fix, prettier --write

Update changelog formatting for releases
  .github/workflows/publish-release.yml
  CHANGELOG.md
Due: prettier --write

Fix Discord release notification
  .github/workflows/discord-notify-releases.yml
Due: none

Replace ESM-only package with local implementation
  pnpm-lock.yaml
  programs/create/lib/messages.ts
  programs/create/lib/package-manager.ts
  programs/create/lib/utils.ts
  programs/create/package.json
  programs/develop/package.json
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/webpack-lib/install-dependencies.ts
  programs/develop/webpack/webpack-lib/install-own-dependencies.ts
  programs/develop/webpack/webpack-lib/package-manager.ts
Due: eslint --fix, prettier --write

Replace ESM-only package with local implementation
  CHANGELOG.md
  CONTENT_SCRIPTS.md
  pnpm-lock.yaml
  programs/create/lib/messages.ts
  programs/create/lib/package-manager.ts
  programs/create/lib/utils.ts
  programs/create/package.json
  programs/develop/package.json
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/webpack-lib/install-dependencies.ts
  programs/develop/webpack/webpack-lib/install-own-dependencies.ts
  programs/develop/webpack/webpack-lib/package-manager.ts
Due: eslint --fix, prettier --write

Force tar 7.5.6 to resolve security update
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update release workflow
  .github/workflows/publish-release.yml
Due: none

Update install flow for build/dev/start
  programs/cli/commands/build.ts
  programs/cli/commands/dev.ts
  programs/cli/commands/start.ts
  programs/cli/types/extension-develop-shim.d.ts
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/__spec__/command-dev.spec.ts
  programs/develop/webpack/__spec__/command-start.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/command-dev.ts
  programs/develop/webpack/command-start.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/plugin-css/css-lib/messages.ts
  programs/develop/webpack/plugin-js-frameworks/js-frameworks-lib/messages.ts
  programs/develop/webpack/webpack-lib/install-own-dependencies.ts
  programs/develop/webpack/webpack-lib/messages.ts
  programs/develop/webpack/webpack-types.ts
Due: eslint --fix, prettier --write

Harden telemetry storage fallback
  programs/cli/__spec__/telemetry-default.spec.ts
  programs/cli/cli-lib/__spec__/telemetry-storage.spec.ts
  programs/cli/cli-lib/telemetry.ts
  programs/cli/package.json
Due: eslint --fix, prettier --write

fix: surface build failures in non-author mode
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/webpack-lib/messages.ts
Due: eslint --fix, prettier --write

Drop chokidar in favor of rspack watch
  .github/build-deps/package.json
  pnpm-lock.yaml
  programs/develop/package.json
  programs/develop/webpack/plugin-extension/feature-special-folders/__spec__/warn-upon-folder-changes.spec.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/warn-upon-folder-changes.ts
Due: eslint --fix, prettier --write

Enhance update output/mechanism
  programs/cli/check-updates.ts
  programs/cli/cli-lib/messages.ts
  programs/cli/index.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/banner.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/__spec__/warn-upon-folder-changes.spec.ts
Due: eslint --fix, prettier --write

Enable production sourcemaps when devtool is set
  programs/develop/webpack/plugin-js-frameworks/__spec__/index.spec.ts
  programs/develop/webpack/plugin-js-frameworks/index.ts
Due: eslint --fix, prettier --write

Fix background rewrites for browser-prefixed manifest fields
  programs/develop/webpack/plugin-extension/feature-manifest/__spec__/update-manifest.browser-prefix.spec.ts
  programs/develop/webpack/plugin-extension/feature-manifest/index.ts
  programs/develop/webpack/plugin-extension/feature-manifest/steps/update-manifest.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
