Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix vue compiler warns
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/vue.spec.ts
  programs/develop/webpack/plugin-js-frameworks/index.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/vue.ts
Due: eslint --fix, prettier --write

Fix package version not printing in published package
  programs/cli/check-updates.ts
  programs/cli/cli-lib/__spec__/check-updates.spec.ts
  programs/cli/cli-lib/telemetry-cli.ts
  programs/cli/cli-package-json.ts
  programs/cli/commands/create.ts
  programs/cli/index.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/banner.ts
Due: eslint --fix, prettier --write

More tweaks on `create` installation deps
  programs/cli/commands/create.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Update messages
  programs/cli/cli-lib/messages.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-extension/feature-html/html-lib/messages.ts
  programs/develop/webpack/plugin-extension/feature-locales/__spec__/index.spec.ts
  programs/develop/webpack/plugin-extension/feature-locales/messages.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/messages.ts
Due: eslint --fix, prettier --write

Update release workflow
  .github/workflows/discord-notify-releases.yml
  .github/workflows/publish-release.yml
  CHANGELOG.md
Due: prettier --write

Fix Vitest blocking release
  programs/cli/vitest.config.ts
Due: eslint --fix, prettier --write

Split heavy deps
  .github/actions/setup/action.yml
  .github/build-deps/package.json
  .github/workflows/build-deps-sync-check.yml
  .github/workflows/ci.yml
  .github/workflows/discord-notify-releases.yml
  .github/workflows/sync-build-deps-from-tracking.yml
  programs/cli/vitest.config.ts
  programs/develop/package.json
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/command-dev.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/extension-output-path.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/browser-config.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/setup-rdp-after-launch.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/rdp-extension-controller/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/addons-install.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/index.ts
  programs/develop/webpack/plugin-browsers/run-only.ts
  programs/develop/webpack/webpack-lib/build-dependencies.json
  programs/develop/webpack/webpack-lib/config-loader.ts
Due: eslint --fix, prettier --write

Fix package version in the CLI output
  programs/cli/index.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
Due: eslint --fix, prettier --write

Update changelog formatting for releases
  .github/workflows/publish-release.yml
  CHANGELOG.md
Due: prettier --write

Bulletproof create/
  .github/workflows/publish-release.yml
  README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  programs/cli/README.md
  programs/cli/__spec__/dynamic-install.spec.ts
  programs/cli/commands/create.ts
  programs/cli/package.json
  programs/cli/types/extension-create-shim.d.ts
  programs/create/README.md
  programs/create/__spec__/create-remote.spec.ts
  programs/create/create.spec.ts
  programs/create/lib/find-manifest-json.ts
  programs/create/lib/messages.ts
  programs/create/package.json
  programs/create/steps/import-external-template.ts
  programs/create/steps/write-manifest-json.ts
  programs/create/steps/write-readme-file.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/add-scripts.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/setup-background-entry.ts
Due: eslint --fix, prettier --write

Sync react, react-dom, sonner, lucide-react versions
  extensions/extension-js-devtools/package.json
  pnpm-lock.yaml
  templates/preact/package.json
  templates/react/package.json
Due: prettier --write

Update dependencies
  .github/build-deps/package.json
  pnpm-lock.yaml
  programs/develop/package.json
  programs/develop/webpack/webpack-lib/build-dependencies.json
  scripts/sync-build-deps-tracking.mjs
Due: prettier --write

Attempt to ease process termination via start/preview
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-only.ts
Due: eslint --fix, prettier --write

Enhance preflight install script capabitlies
  .gitignore
  programs/cli/commands/create.ts
  programs/cli/types/extension-develop-shim.d.ts
  programs/create/lib/messages.ts
  programs/develop/module.ts
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/__spec__/command-dev.spec.ts
  programs/develop/webpack/__spec__/command-start.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/command-dev.ts
  programs/develop/webpack/command-start.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/plugin-js-frameworks/frameworks-lib/integrations.ts
  programs/develop/webpack/plugin-js-frameworks/js-frameworks-lib/messages.ts
  programs/develop/webpack/webpack-lib/__spec__/preflight-cache.spec.ts
  programs/develop/webpack/webpack-lib/dependency-manager.ts
  programs/develop/webpack/webpack-lib/preflight-cache.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Fix compilation error
  programs/cli/cli-package-json.ts
Due: eslint --fix, prettier --write

Fix release workflow
  programs/cli/cli-lib/telemetry.ts
  scripts/build-extensions.cjs
Due: eslint --fix, prettier --write

Update all packags as per dependabot
  extensions/extension-js-devtools/package.json
  package.json
  pnpm-lock.yaml
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/extension-output-path.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/index.ts
  programs/develop/webpack/plugin-browsers/run-only.ts
  programs/develop/webpack/plugin-compatibility/__spec__/feature-polyfill.alias.spec.ts
  programs/develop/webpack/plugin-compilation/__spec__/clean-dist.spec.ts
  programs/develop/webpack/plugin-compilation/__spec__/compilation.spec.ts
  programs/develop/webpack/plugin-extension/feature-manifest/__spec__/manifest-plugin.spec.ts
  programs/develop/webpack/webpack-lib/config-loader.ts
  templates/preact/package.json
  templates/svelte/package.json
Due: eslint --fix, prettier --write

Fix Discord release notification
  .github/workflows/discord-notify-releases.yml
Due: none

Install required dependencies before running commands
  programs/cli/commands/create.ts
  programs/cli/types/extension-develop-shim.d.ts
  programs/create/create.spec.ts
  programs/create/lib/messages.ts
  programs/create/module.ts
  programs/create/steps/import-external-template.ts
  programs/develop/module.ts
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/__spec__/command-dev.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/command-dev.ts
  programs/develop/webpack/command-start.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/typescript.ts
  programs/develop/webpack/webpack-lib/ensure-dependencies.ts
  programs/develop/webpack/webpack-lib/messages.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
  templates/javascript/src/content/scripts.js
  templates/javascript/src/sidebar/scripts.js
Due: eslint --fix, prettier --write

Bring back create/
  programs/cli/examples/init/manifest.json
  programs/cli/examples/init/src/background.js
  programs/cli/examples/init/src/manifest.json
  programs/create/.changeset/config.json
  programs/create/.github/actions/extension-create/action.yml
  programs/create/.github/actions/setup/action.yml
  programs/create/.github/workflows/ci.yml
  programs/create/.github/workflows/publish-on-tag.yml
  programs/create/.github/workflows/release.yml
  programs/create/.gitignore
  programs/create/LICENSE
  programs/create/README.md
  programs/create/__spec__/create-remote.spec.ts
  programs/create/create.spec.ts
  programs/create/eslint.config.mjs
  programs/create/lib/messages.ts
  programs/create/lib/types.ts
  programs/create/lib/utils.ts
  programs/create/module.ts
  programs/create/package.json
  programs/create/rslib.config.ts
  programs/create/steps/create-directory.ts
  programs/create/steps/generate-extension-types.ts
  programs/create/steps/import-external-template.ts
  programs/create/steps/import-local-template.ts
  programs/create/steps/initialize-git-repository.ts
  programs/create/steps/install-dependencies.ts
  programs/create/steps/setup-built-in-tests.ts
  programs/create/steps/write-gitignore.ts
  programs/create/steps/write-manifest-json.ts
  programs/create/steps/write-package-json.ts
  programs/create/steps/write-readme-file.ts
  programs/create/tsconfig.json
  programs/create/vitest.config.ts
  templates/extension-fixtures.ts
Due: eslint --fix, prettier --write

Avoid calling SASS/LESS when not needed
  programs/develop/webpack/plugin-css/__spec__/loaders.spec.ts
  programs/develop/webpack/plugin-css/css-in-content-script-loader.ts
  programs/develop/webpack/plugin-css/css-in-html-loader.ts
  programs/develop/webpack/plugin-css/index.ts
Due: eslint --fix, prettier --write

More preflight install kungfu
  programs/create/module.ts
  programs/create/steps/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Update create/ message
  programs/create/lib/messages.ts
Due: eslint --fix, prettier --write

Tweak welcome page
  extensions/extension-js-devtools/pages/welcome/scripts.tsx
  extensions/extension-js-theme/manifest.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
