Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Match the missing-JSON message to whether the build actually fails
  programs/develop/plugin-web-extension/feature-json/__spec__/json-plugin.spec.ts
  programs/develop/plugin-web-extension/feature-json/messages.ts
  programs/develop/plugin-web-extension/feature-json/process-assets.ts
Due: eslint --fix, prettier --write

Isolate the browser-flags specs from an exported EXTENSION_HEADLESS
  programs/extension/browsers/__spec__/chromium-flags.spec.ts
Due: eslint --fix, prettier --write

Report Chrome refusing to load the extension instead of ready
  programs/develop/plugin-playwright/__spec__/ready-writer.spec.ts
  programs/develop/plugin-playwright/index.ts
  programs/extension/browsers/__spec__/run-chromium/extension-load-refusal.unit.spec.ts
  programs/extension/browsers/__spec__/run-chromium/setup-cdp-load-refusal.unit.spec.ts
  programs/extension/browsers/browsers-lib/banner.ts
  programs/extension/browsers/browsers-lib/messages.ts
  programs/extension/browsers/browsers-lib/ready-stamp.ts
  programs/extension/browsers/run-chromium/cdp/cdp-extension-controller/ensure.ts
  programs/extension/browsers/run-chromium/cdp/cdp-extension-controller/index.ts
  programs/extension/browsers/run-chromium/chromium-launch/index.ts
  programs/extension/browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
  programs/extension/browsers/run-chromium/chromium-types.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-catalog.spec.ts.snap
Due: eslint --fix, prettier --write

Report a Firefox add-on refusal and let the engine re-offer the dist
  programs/extension/browsers/__spec__/run-firefox/addon-install-refusal.unit.spec.ts
  programs/extension/browsers/__spec__/run-firefox/setup-rdp-load-refusal.unit.spec.ts
  programs/extension/browsers/browsers-lib/messages.ts
  programs/extension/browsers/browsers-types.ts
  programs/extension/browsers/index.ts
  programs/extension/browsers/run-chromium/chromium-launch/index.ts
  programs/extension/browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
  programs/extension/browsers/run-chromium/chromium-types.ts
  programs/extension/browsers/run-firefox/firefox-launch/index.ts
  programs/extension/browsers/run-firefox/firefox-launch/setup-rdp-after-launch.ts
  programs/extension/browsers/run-firefox/firefox-types.ts
  programs/extension/browsers/run-firefox/rdp/rdp-extension-controller/index.ts
  programs/extension/browsers/run-firefox/rdp/remote-firefox/addons-install.ts
  programs/extension/browsers/run-firefox/rdp/remote-firefox/index.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-catalog.spec.ts.snap
Due: eslint --fix, prettier --write

Recover a refused dev session once the browser accepts the extension
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/lib/messages.ts
  programs/develop/plugin-browsers/__spec__/extension-load-retry.spec.ts
  programs/develop/plugin-browsers/index.ts
  programs/develop/plugin-playwright/__spec__/ready-writer.spec.ts
  programs/develop/plugin-playwright/index.ts
Due: eslint --fix, prettier --write

Fall back to the framework logo when a welcome icon fails to load
  extensions/extension-js-devtools/pages/welcome/scripts.tsx
Due: eslint --fix, prettier --write

List Safari among the browsers the framework builds for
  programs/extension/README.md
Due: prettier --write

Drop the unused root extension devDep that kept postcss 8.5.10
  package.json
  pnpm-lock.yaml
Due: prettier --write

Prune nine pnpm overrides that no longer change any resolution
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove unused html-merge browser helper
  programs/extension/browsers/browsers-lib/html-merge.ts
Due: eslint --fix, prettier --write

Tidy gitignore, CI perms, dependabot, and package metadata
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  package.json
  programs/extension/package.json
Due: prettier --write

Correct docs: Rspack naming, Node 22, and stale links
  README.md
  docs/CONTRIBUTING.md
  extensions/extension-js-theme/README.md
  programs/create/README.md
  programs/develop/README.md
  programs/develop/plugin-compatibility/README.md
  programs/develop/plugin-compilation/README.md
  programs/develop/plugin-css/README.md
  programs/develop/plugin-js-frameworks/README.md
  programs/develop/plugin-playwright/README.md
  programs/develop/plugin-reload/README.md
  programs/develop/plugin-static-assets/README.md
  programs/develop/plugin-wasm/README.md
  programs/develop/plugin-web-extension/README.md
  programs/develop/plugin-web-extension/feature-html/README.md
  programs/develop/plugin-web-extension/feature-icons/README.md
  programs/develop/plugin-web-extension/feature-json/README.md
  programs/develop/plugin-web-extension/feature-locales/README.md
  programs/develop/plugin-web-extension/feature-manifest/README.md
  programs/develop/plugin-web-extension/feature-scripts/README.md
  programs/develop/plugin-web-extension/feature-web-resources/README.md
  programs/extension/README.md
Due: prettier --write

Strip internal tracker refs and rename client test fixture
  programs/develop/__spec__/command-build.spec.ts
  programs/develop/dev-server/control-bridge/__spec__/broker.spec.ts
  programs/develop/lib/__spec__/ensure-develop-artifacts.spec.ts
  programs/develop/lib/__spec__/package-manager.spec.ts
  programs/develop/plugin-css/__spec__/dead-css-url.spec.ts
  programs/develop/plugin-playwright/__spec__/ready-writer.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/add-assets-to-compilation.unit.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/__spec__/add-dependencies.spec.ts
  programs/extension/browsers/__spec__/run-chromium/extension-load-refusal.unit.spec.ts
Due: eslint --fix, prettier --write

Accept a commit SHA or tag for the template corpus ref
  programs/create/steps/__spec__/import-external-template.codeload.spec.ts
  programs/create/steps/import-external-template.ts
Due: eslint --fix, prettier --write

Stamp template provenance into scaffolds and CreateResult
  programs/create/lib/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/create/lib/messages.ts
  programs/create/module.ts
  programs/create/steps/__spec__/write-template-provenance.spec.ts
  programs/create/steps/import-external-template.ts
  programs/create/steps/write-template-provenance.ts
Due: eslint --fix, prettier --write

Sync pnpm-lock.yaml with the extension devDependencies move
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
