Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Fix test pointing to the wrong plugin zip path
  programs/develop/webpack/plugin-compilation/__spec__/zip.spec.ts
  programs/develop/webpack/types/options.ts
Due: eslint --fix, prettier --write

Support log-related flags on preview/start commands
  programs/cli/commands/preview.ts
  programs/cli/commands/start.ts
  programs/develop/webpack/__spec__/command-preview.spec.ts
  programs/develop/webpack/command-preview.ts
  programs/develop/webpack/plugin-compilation/__spec__/compilation.spec.ts
  programs/develop/webpack/plugin-compilation/boring.ts
  programs/develop/webpack/types/options.ts
Due: eslint --fix, prettier --write

Attempt to fix package publishing
  .github/workflows/publish-next.yml
  .github/workflows/publish-stable.yml
Due: none

fix(security): address Code Scanning alerts
  .github/workflows/ci.yml
  .github/workflows/publish-next.yml
  .github/workflows/publish-stable.yml
  .github/workflows/telemetry-check.yml
  ERROR_POLICY.md
  SAMPLE_README.md
  code-scanning-alerts.json
  programs/cli/__spec__/dynamic-install.spec.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox/binary-detector.ts
  templates/shared-template-tests.ts
Due: eslint --fix, prettier --write

Add _future to gitignore
  .gitignore
Due: none

Fix codescan alerts
  .github/workflows/ci.yml
  .github/workflows/publish-next.yml
  .github/workflows/publish-stable.yml
  .github/workflows/telemetry-check.yml
  programs/cli/__spec__/dynamic-install.spec.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox/binary-detector.ts
  templates/shared-template-tests.ts
Due: eslint --fix, prettier --write

Bump Playwright to satisfy security scan
  package.json
  pnpm-lock.yaml
Due: prettier --write

Bring back missing `extension` script on package.json
  package.json
Due: prettier --write

Enhance Chrome path handling on Windows
  programs/develop/webpack/plugin-browsers/run-chromium/index.ts
Due: eslint --fix, prettier --write

Fix false positives on feature-resolve
  programs/develop/webpack/plugin-extension/feature-resolve/__spec__/no-false-positives.spec.ts
  programs/develop/webpack/plugin-extension/feature-resolve/index.ts
  programs/develop/webpack/plugin-extension/feature-resolve/resolve-paths-loader.ts
Due: eslint --fix, prettier --write

Enhance content_script contract warning
  programs/develop/webpack/plugin-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/warn-no-default-export.ts
Due: eslint --fix, prettier --write

Fix web_accessible_resources not spotting absolute paths
  programs/develop/webpack/plugin-extension/feature-web-resources/__spec__/war-output-presence.spec.ts
  programs/develop/webpack/plugin-extension/feature-web-resources/web-resources-lib/resolve-war.ts
Due: eslint --fix, prettier --write

Enhance path handling on Windows
  programs/develop/webpack/plugin-compatibility/compatibility-lib/manifest.ts
  programs/develop/webpack/plugin-compilation/boring.ts
  programs/develop/webpack/plugin-compilation/clean-dist.ts
  programs/develop/webpack/plugin-compilation/zip.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/plugin-css/css-lib/is-content-script.ts
  programs/develop/webpack/plugin-extension/feature-html/html-lib/assets.ts
  programs/develop/webpack/plugin-extension/feature-html/html-lib/utils.ts
  programs/develop/webpack/plugin-extension/feature-html/steps/add-assets-to-compilation.ts
  programs/develop/webpack/plugin-extension/feature-icons/steps/emit-file.ts
  programs/develop/webpack/plugin-extension/feature-json/index.ts
  programs/develop/webpack/plugin-extension/feature-resolve/resolve-paths-loader.ts
  programs/develop/webpack/plugin-extension/feature-scripts/steps/add-scripts.ts
  programs/develop/webpack/plugin-extension/feature-special-folders/warn-upon-folder-changes.ts
  programs/develop/webpack/plugin-extension/feature-web-resources/web-resources-lib/resolve-war.ts
  programs/develop/webpack/plugin-js-frameworks/index.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/svelte.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/typescript.ts
Due: eslint --fix, prettier --write

Fix web_accessible_resources not resolving public paths
  programs/develop/webpack/plugin-extension/feature-web-resources/web-resources-lib/resolve-war.ts
Due: eslint --fix, prettier --write
