Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Use parse-utilities
  pnpm-lock.yaml
  programs/develop/package.json
Due: prettier --write

Fix type error on cli.ts
  programs/cli/cli.ts
Due: eslint --fix, prettier --write

Update remote tests
  programs/cli/__spec__/remote.spec.ts
Due: eslint --fix, prettier --write

Update lock file
  pnpm-lock.yaml
Due: none

Massively try to normalize all examples
  examples/_not_working_monorepo/template.BROKENspec.ts
  examples/content-esm/content/scripts.mjs
  examples/content-extension-config/content/scripts.tsx
  examples/content-less/content/scripts.js
  examples/content-main-world/content/scripts.js
  examples/content-preact/content/scripts.tsx
  examples/content-react-svgr/content/scripts.tsx
  examples/content-react-svgr/package.json
  examples/content-react/content/scripts.tsx
  examples/content-react/package.json
  examples/content-sass/content/scripts.js
  examples/content-svelte/content/scripts.ts
  examples/content-svelte/package.json
  examples/content-tailwind/content/scripts.js
  examples/content-typescript/content/scripts.ts
  examples/content-vue/content/scripts.ts
  examples/content-vue/package.json
  examples/content/content/scripts.js
  examples/new-config-babel/package.json
  examples/new-config-eslint/package.json
  examples/new-config-prettier/package.json
  examples/new-config-stylelint/package.json
  examples/new-crypto/package.json
  examples/new-env-esm/package.json
  examples/new-node-apis/package.json
  examples/new-sass/package.json
  examples/new-typescript/package.json
  examples/sidebar-shadcn/package.json
Due: eslint --fix, prettier --write

Hide broken tests from data, update lock file
  examples/data.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Expand test suite
  programs/develop/vitest.config.ts
Due: eslint --fix, prettier --write

Another day, another lock file update
  pnpm-lock.yaml
Due: none

Update new React temlate in full
  .husky/pre-commit
  pnpm-lock.yaml
  programs/develop/plugin-browsers/run-chromium/browser-config.ts
  templates/react/content/ContentApp.tsx
  templates/react/content/styles.css
  templates/react/images/chromeWindow.png
  templates/react/images/extension_48.png
  templates/react/images/tailwind.png
  templates/react/images/tailwind_bg.png
  templates/react/images/typescript.png
  templates/react/package.json
  templates/react/postcss.config.js
  templates/react/sidebar/SidebarApp.tsx
  templates/react/sidebar/styles.css
Due: eslint --fix, prettier --write

Update new Vue temlate in full
  templates/react/images/extension_48.png
  templates/vue/content/ContentApp.vue
  templates/vue/content/scripts.ts
  templates/vue/content/styles.css
  templates/vue/images/chromeWindow.png
  templates/vue/images/tailwind.png
  templates/vue/images/tailwind_bg.png
  templates/vue/images/typescript.png
  templates/vue/package.json
  templates/vue/postcss.config.js
  templates/vue/sidebar/SidebarApp.vue
  templates/vue/sidebar/styles.css
Due: eslint --fix, prettier --write

Compile package before sanity check
  .github/workflows/sanity.yml
Due: none
