Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Hotfix: fix manager extension path
  programs/develop/webpack/plugin-browsers/browsers-lib/dynamic-extension-manager.ts
  programs/develop/webpack/plugin-reload/steps/setup-reload-strategy/generate-manager-extension.ts
Due: eslint --fix, prettier --write

Ensure manager extensions are discoverable
  programs/develop/__spec__/extensions-availability.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/dynamic-extension-manager.ts
  programs/develop/webpack/plugin-reload/steps/setup-reload-strategy/generate-manager-extension.ts
Due: eslint --fix, prettier --write

Hotfix: Ensure manager extensions are discoverable
  programs/cli/package.json
  programs/develop/package.json
Due: prettier --write

Fix profile not persisting preferences on Chrome
  programs/develop/__spec__/extensions-availability.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/inspector-port.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/profile-seeding.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/create-profile.ts
  programs/develop/webpack/plugin-browsers/run-chromium/setup-chrome-inspection/index.ts
Due: eslint --fix, prettier --write

Reliable profile seeding + final-port handshake
  programs/develop/webpack/plugin-browsers/__spec__/inspector-port.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/instance-manager.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/index.ts
  programs/develop/webpack/plugin-browsers/run-chromium/setup-chrome-inspection/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/remote-firefox/setup-firefox-inspection.ts
Due: eslint --fix, prettier --write

Fix Chrome/FF crashes due to bad instance mgmt
  programs/develop/__spec__/build.spec.ts
  programs/develop/webpack/plugin-browsers/README.md
  programs/develop/webpack/plugin-browsers/browsers-lib/dynamic-extension-manager.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/instance-manager.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/shared-utils.ts
  programs/develop/webpack/plugin-browsers/run-chromium/browser-config.ts
  programs/develop/webpack/plugin-browsers/run-chromium/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/index.ts
  programs/develop/webpack/plugin-reload/index.ts
  programs/develop/webpack/plugin-reload/steps/create-web-socket-server/index.ts
  programs/develop/webpack/webpack-lib/__spec__/port-manager.spec.ts
Due: eslint --fix, prettier --write

chore: add changeset for etension/extension-develop
  .changeset/dark-hornets-teach.md
Due: prettier --write

chore: add changeset for etension/extension-develop (#293)
  .changeset/dark-hornets-teach.md
Due: prettier --write

Attempt to fix stable release workflow
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Attempt to fix stable release workflow #2
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
