Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Fix release notes not auto populating new releases
  .github/workflows/publish-release.yml
Due: none

Fix package-manager binary invocation for optional dependency installs
  SVELTE_TEMPLATE_VALIDATION.md
  programs/develop/webpack/webpack-lib/__spec__/package-manager.spec.ts
  programs/develop/webpack/webpack-lib/package-manager.ts
Due: eslint --fix, prettier --write

Internalize CLI telemetry destination
  .github/workflows/telemetry-check.yml
  SVELTE_TEMPLATE_VALIDATION.md
  programs/cli/__spec__/telemetry-default.spec.ts
  programs/cli/cli-lib/__spec__/telemetry-storage.spec.ts
  programs/cli/cli-lib/telemetry-cli.ts
  programs/cli/cli-lib/telemetry.ts
Due: eslint --fix, prettier --write

Fix Svelte resolver conditions to keep browser-safe module resolution
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/svelte.spec.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/svelte.ts
Due: eslint --fix, prettier --write

Avoid Node-oriented Svelte resolution in browser builds.
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/svelte.spec.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/svelte.ts
Due: eslint --fix, prettier --write

Fix Svelte browser resolution to avoid server entry regressions
  CHANGELOG.md
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/svelte.spec.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/svelte.ts
Due: eslint --fix, prettier --write

Fix last dependabot warn
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update README.md
  README.md
  programs/cli/README.md
Due: prettier --write

Update dependencies by Dependabot recommendation
  .github/build-deps/package-lock.json
  .github/build-deps/package.json
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove loading indicator from long-running tasks
  programs/create/steps/install-dependencies.ts
  programs/create/steps/install-internal-deps.ts
  programs/develop/webpack/webpack-lib/install-dependencies.ts
Due: eslint --fix, prettier --write

Fix CSS Modules rule precedence in CSS loaders
  programs/develop/webpack/plugin-css/__spec__/css-in-content-script-loader.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-in-html-loader.spec.ts
  programs/develop/webpack/plugin-css/__spec__/loaders.spec.ts
  programs/develop/webpack/plugin-css/css-in-content-script-loader.ts
  programs/develop/webpack/plugin-css/css-in-html-loader.ts
Due: eslint --fix, prettier --write

Fix seed chromium dev-mode prefs for first-run reloads
  programs/develop/webpack/plugin-browsers/__spec__/chromium-flags.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/cdp-client.reload-fallback.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/browser-config.ts
Due: eslint --fix, prettier --write

Fix WSL detection false positives on Windows
  programs/develop/webpack/plugin-browsers/__spec__/browser-not-installed.wsl.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/wsl-support.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-firefox/wsl-support.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/wsl-support.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/wsl-support.ts
Due: eslint --fix, prettier --write

Fix noisy extension reload action logs and standardize pretty timestamps
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.manifest-flow.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/source-output.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/source-output.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-hard-reload/index.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-hard-reload/index.ts
Due: eslint --fix, prettier --write

Ensure `Extension ID` is always printed
  programs/develop/webpack/plugin-browsers/__spec__/banner.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/setup-cdp-after-launch.unit.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/banner.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/setup-cdp-after-launch.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-source-inspection/remote-firefox/firefox-utils.ts
Due: eslint --fix, prettier --write
