Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Fix dev-server manifest disk write guard on CI
  programs/develop/webpack/dev-server/index.ts
Due: eslint --fix, prettier --write

Format Chromium hard reload controller calls
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/cdp-extension-controller.hard-reload.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-source-inspection/cdp-extension-controller/index.ts
Due: eslint --fix, prettier --write

Fix branding warning spacing
  programs/develop/webpack/webpack-lib/branding.ts
Due: eslint --fix, prettier --write

Fix publish workflow
  .github/actions/setup/action.yml
  .github/workflows/publish-release.yml
Due: none

Fix publish workflow
  programs/cli/__spec__/exec/cli-exec.spec.ts
Due: eslint --fix, prettier --write

Richer build output
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/webpack-lib/messages.ts
Due: eslint --fix, prettier --write

Enhance output data view for performance hints
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/command-build.ts
  programs/develop/webpack/webpack-lib/messages.ts
Due: eslint --fix, prettier --write

Generate curated stable release notes
  .github/workflows/publish-release.yml
  RELEASING.md
  scripts/generate-release-notes.mjs
Due: prettier --write

Fix Vue optional dependency installs for consumer builds
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
Due: eslint --fix, prettier --write

Harden managed browser profile reuse
  programs/develop/webpack/plugin-browsers/__spec__/chromium-flags.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/shared-utils.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/browser-config.ts
  programs/develop/webpack/plugin-browsers/run-firefox/firefox-launch/browser-config.ts
Due: eslint --fix, prettier --write

Fix React optional dependency installs for content dev
  programs/create/steps/install-internal-deps.ts
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
Due: eslint --fix, prettier --write

Fix Dependabot alerts
  package.json
  pnpm-lock.yaml
Due: prettier --write

Prefer the project-local develop runtime during create
  programs/create/__spec__/install-internal-deps.spec.ts
  programs/create/steps/install-internal-deps.ts
Due: eslint --fix, prettier --write

Improve managed browser install guidance.
  programs/cli/cli-lib/messages.ts
  programs/cli/commands/install.ts
  programs/develop/webpack/plugin-browsers/__spec__/pretty-install-guidance.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-launch/index.ts
  programs/install/README.md
  programs/install/__spec__/runner.spec.ts
  programs/install/lib/runner.ts
Due: eslint --fix, prettier --write

Fix GitHub Actions Node 24 deprecation warnings
  .github/actions/setup/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/build-deps-sync-check.yml
  .github/workflows/ci.yml
  .github/workflows/clean-release-notes.yml
  .github/workflows/discord-notify-releases.yml
  .github/workflows/e2e.yml
  .github/workflows/optional-deps-matrix.yml
  .github/workflows/programs-nightly.yml
  .github/workflows/telemetry-check.yml
  .github/workflows/update-build-dependencies.yml
Due: none

Preserve Rspack branding in optimization warnings
  pnpm-lock.yaml
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/webpack-lib/__spec__/branding.spec.ts
  programs/develop/webpack/webpack-lib/branding.ts
  programs/install/lib/runner.ts
Due: eslint --fix, prettier --write
