Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Handle cross-drive Windows file specifiers in pnpm smoke
  ci-scripts/__spec__/run-optional-deps-smoke.spec.mjs
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Fix optional dependency installs across framework tooling
  .github/workflows/optional-deps-matrix.yml
  ci-scripts/__spec__/run-optional-deps-smoke.spec.mjs
  ci-scripts/run-optional-deps-smoke.mjs
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
Due: eslint --fix, prettier --write

Preserve Rspack branding in optimization warnings
  pnpm-lock.yaml
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/webpack-lib/__spec__/branding.spec.ts
  programs/develop/webpack/webpack-lib/branding.ts
  programs/install/lib/runner.ts
Due: eslint --fix, prettier --write

Stabilize Windows npm optional dependency preflight
  programs/develop/webpack/optional-deps-lib/__spec__/installer-engine.spec.ts
  programs/develop/webpack/optional-deps-lib/installer-engine.ts
  programs/develop/webpack/webpack-lib/__spec__/package-manager.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/preflight-optional-deps.spec.ts
  programs/develop/webpack/webpack-lib/package-manager.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Wrap extension messaging sendMessage in try-catch in chunk loader
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/webpack-target-webextension-fork/lib/webpack5/RuntimeModules/LoadScript.ts
Due: eslint --fix, prettier --write

Generalize optional dependency contracts across webpack tooling
  programs/develop/webpack/optional-deps-lib/__spec__/install-root-packages.spec.ts
  programs/develop/webpack/optional-deps-lib/__spec__/scenarios.spec.ts
  programs/develop/webpack/optional-deps-lib/contract-types.ts
  programs/develop/webpack/optional-deps-lib/install-root-packages.ts
  programs/develop/webpack/optional-deps-lib/installer-engine.ts
  programs/develop/webpack/plugin-css/css-tools/less.ts
  programs/develop/webpack/plugin-css/css-tools/postcss.ts
  programs/develop/webpack/plugin-css/css-tools/sass.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/react.spec.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/preact.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/react.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/svelte.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/typescript.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/vue.ts
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/optional-deps-contracts.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Stabilize Windows pnpm smoke workspace paths
  ci-scripts/__spec__/run-optional-deps-smoke.spec.mjs
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Fix Chromium content reload: suppress manifest reason, reload extension after reinject, await controller
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.assets-fallback.unit.spec.ts
  programs/develop/webpack/plugin-browsers/__spec__/run-chromium/chromium-hard-reload.content-scripts.unit.spec.ts
  programs/develop/webpack/plugin-browsers/run-chromium/chromium-hard-reload/index.ts
Due: eslint --fix, prettier --write

Add canonical content script naming contracts and entry helpers
  programs/develop/webpack/plugin-browsers/__spec__/content-script-targets.spec.ts
  programs/develop/webpack/plugin-browsers/browsers-lib/content-script-targets.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/__spec__/contracts.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/contracts.ts
Due: eslint --fix, prettier --write

Hash content script filenames in dev mode to bust browser cache on hard reload
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/patch-dev-content-script-manifest-paths.ts
  programs/develop/webpack/plugin-web-extension/feature-manifest/steps/update-manifest.ts
  programs/develop/webpack/webpack-config.ts
Due: eslint --fix, prettier --write

Add strip and remove dev server runtime from content script bundles
  programs/develop/webpack/plugin-web-extension/feature-scripts/__spec__/strip-content-script-dev-server-runtime.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/remove-content-script-dev-server-runtime.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/strip-content-script-dev-server-runtime.ts
Due: eslint --fix, prettier --write

Bump dependency bundle and clear audit alerts
  .github/build-deps/package-lock.json
  .github/build-deps/package.json
  extensions/extension-js-devtools/package.json
  package.json
  pnpm-lock.yaml
  programs/cli/package.json
  programs/create/package.json
  programs/develop/package.json
  programs/install/package.json
Due: prettier --write

Align pnpm optional-deps smoke with source-under-test
  ci-scripts/__spec__/run-optional-deps-smoke.spec.mjs
  ci-scripts/run-optional-deps-smoke.mjs
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
Due: eslint --fix, prettier --write

Enforce transactional optional dependency installs
  ci-scripts/run-optional-deps-smoke.mjs
  programs/develop/webpack/optional-deps-lib/__spec__/installer-engine.spec.ts
  programs/develop/webpack/optional-deps-lib/installer-engine.ts
Due: eslint --fix, prettier --write

Fix content script manifest CSS restoration
  programs/develop/webpack/plugin-web-extension/feature-web-resources/__spec__/index.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-web-resources/web-resources-lib/generate-manifest.ts
Due: eslint --fix, prettier --write

Fix content script CSS fallback restoration
  programs/develop/webpack/plugin-web-extension/feature-web-resources/__spec__/index.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-web-resources/web-resources-lib/generate-manifest.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Added -b shortcut to browser option (#430)
  programs/cli/commands/dev.ts
Due: eslint --fix, prettier --write

Stabilize CI platform-specific optional deps assertions
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/optional-deps-lib/__spec__/scenarios.spec.ts
Due: eslint --fix, prettier --write

Fix GitHub Actions Node 24 deprecation warnings
  .github/actions/setup/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/build-deps-sync-check.yml
  .github/workflows/ci.yml
  .github/workflows/clean-release-notes.yml
  .github/workflows/discord-notify-releases.yml
  .github/workflows/e2e.yml
  .github/workflows/optional-deps-matrix.yml
  .github/workflows/programs-nightly.yml
  .github/workflows/telemetry-check.yml
  .github/workflows/update-build-dependencies.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
