Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Soften strict _locales layout policy from build error to warning
  programs/develop/plugin-web-extension/feature-locales/__spec__/index.spec.ts
  programs/develop/plugin-web-extension/feature-locales/get-locales.ts
  programs/develop/plugin-web-extension/feature-locales/messages.ts
  programs/develop/plugin-web-extension/feature-locales/validation.ts
Due: eslint --fix, prettier --write

Hold firefox apt package so --with-deps does not trigger snap install
  .github/workflows/e2e.yml
  .github/workflows/programs-nightly.yml
Due: none

Stop installing unused firefox/chromium in cli CI suite to dodge snap hang
  .github/workflows/ci.yml
Due: none

Force single Playwright worker to eliminate content-reload spec race
  playwright.config.ts
Due: eslint --fix, prettier --write

Lock in companion-extension Firefox bundle as MV3-API-free
  programs/develop/lib/__spec__/companion-firefox-mv3-apis.spec.ts
Due: eslint --fix, prettier --write

Rework README with growth-oriented hero, comparison table, and ship-to-store guide
  README.md
Due: prettier --write
