Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix remote integration tests
  programs/develop/__spec__/start-remote-webonly.spec.ts
  programs/develop/build.ts
  programs/develop/develop-lib/config-types.ts
  programs/develop/webpack/plugin-extension/feature-html/__spec__/index.spec.ts
  programs/develop/webpack/plugin-extension/feature-manifest/__spec__/integration.spec.ts
  programs/develop/webpack/plugin-extension/feature-web-resources/__spec__/integration.spec.ts
Due: eslint --fix, prettier --write

Fix failing tests after streamlining 'use shadow-dom' directive
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-hmr.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-no-wrapper.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration-reload-heuristic.spec.ts
  programs/develop/webpack/plugin-extension/feature-scripts/__spec__/integration.spec.ts
Due: eslint --fix, prettier --write

Remove dead content_script wrapper for Svelte
  templates/svelte/content/content-script-wrapper.ts
Due: eslint --fix, prettier --write

Fix the "bad substitution" error on CI
  .github/workflows/canary.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Update actionlint
  .github/workflows/actionlint.yml
Due: none

Update changesets to satisfy GH security check
  package.json
  pnpm-lock.yaml
Due: prettier --write

Attempt to fix automated next releases
  .github/workflows/canary.yml
Due: none

Update all v2 templates meta
  templates/javascript/README.md
  templates/javascript/manifest.json
  templates/preact/README.md
  templates/react/README.md
  templates/svelte/README.md
  templates/typescript/README.md
  templates/vue/README.md
Due: prettier --write

chore: add changeset(s)
  .changeset/metal-symbols-know.md
Due: prettier --write

chore: add changeset(s) (#296)
  .changeset/metal-symbols-know.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
