Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Compile the files the tracer copies instead of shipping raw source
  programs/develop/__spec__/build-traced-runtime-compile.spec.ts
  programs/develop/__spec__/build-untraced-runtime-deps.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/__spec__/trace-runtime-loaded-files.spec.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/trace-runtime-loaded-files.ts
Due: eslint --fix, prettier --write

Normalize dist paths in the traced compile spec so Windows lists match
  programs/develop/__spec__/build-traced-runtime-compile.spec.ts
Due: eslint --fix, prettier --write

Repin the template catalog so scaffolds carry ids and sized icons
  programs/create/steps/import-external-template.ts
  programs/create/templates/javascript/src/images/icon-128.png
  programs/create/templates/javascript/src/images/icon-16.png
  programs/create/templates/javascript/src/images/icon-32.png
  programs/create/templates/javascript/src/images/icon-48.png
  programs/create/templates/javascript/src/images/icon-64.png
  programs/create/templates/javascript/src/manifest.json
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/template-corpus.generated.ts
Due: eslint --fix, prettier --write

Emit the MV2 content_security_policy as a string on Firefox builds
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-dev-manifest-fidelity.spec.ts
  programs/develop/__spec__/build-mv2-content-security-policy.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-lib/manifest.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/__spec__/mv2-content-security-policy.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/common/content_security_policy.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/index.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/mv2/__spec__/content_security_policy.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/mv2/content_security_policy.ts
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/mv2/index.ts
  programs/develop/plugin-web-extension/feature-manifest/messages.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/apply-dev-defaults.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/apply-dev-defaults-lib/patch-csp.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/update-manifest.ts
Due: eslint --fix, prettier --write

Repin the template catalog so the scaffold builds clean for Firefox
  programs/create/steps/import-external-template.ts
  programs/create/templates/javascript/src/background.js
  programs/create/templates/javascript/src/sidebar/SidebarApp.js
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/template-corpus.generated.ts
Due: eslint --fix, prettier --write

Repin the template catalog to the special-folders lint fixes
  programs/create/steps/import-external-template.ts
  programs/extension/helpers/__spec__/__snapshots__/messages-ai-help.spec.ts.snap
  programs/extension/helpers/template-corpus.generated.ts
Due: eslint --fix, prettier --write

Pin every workflow action to a commit and scope write tokens to jobs
  .github/actions/setup/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/browser-channels.yml
  .github/workflows/ci.yml
  .github/workflows/clean-release-notes.yml
  .github/workflows/deps-canary.yml
  .github/workflows/discord-notify-releases.yml
  .github/workflows/e2e-smoke.yml
  .github/workflows/e2e.yml
  .github/workflows/optional-deps-matrix.yml
  .github/workflows/programs-nightly.yml
  .github/workflows/publish-release.yml
  .github/workflows/reload-matrix-smoke.yml
  .github/workflows/safari-nightly.yml
  .github/workflows/telemetry-check.yml
  .github/workflows/traffic-snapshot.yml
Due: none

Compile root-absolute script refs through the tracer's child compilation
  programs/develop/__spec__/build-root-absolute-compile.spec.ts
  programs/develop/__spec__/build-root-absolute-refs.spec.ts
  programs/develop/plugin-special-folders/__spec__/copy-public-folder.spec.ts
  programs/develop/plugin-special-folders/__spec__/emit-root-absolute-refs.spec.ts
  programs/develop/plugin-special-folders/emit-root-absolute-refs.ts
  programs/develop/plugin-special-folders/index.ts
  programs/develop/plugin-web-extension/feature-scripts/messages.ts
  programs/develop/plugin-web-extension/feature-scripts/steps/trace-runtime-loaded-files.ts
Due: eslint --fix, prettier --write

Warn when a Firefox build bundles sidePanel or an MV2 chrome.action call
  programs/develop/__spec__/__snapshots__/messages-catalog.spec.ts.snap
  programs/develop/__spec__/build-gecko-unsupported-apis.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/messages.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/__spec__/warn-gecko-unsupported-apis.spec.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/update-manifest.ts
  programs/develop/plugin-web-extension/feature-manifest/steps/warn-gecko-unsupported-apis.ts
Due: eslint --fix, prettier --write

Credit a compiled sibling before warning that a root script is missing
  programs/develop/__spec__/build-root-absolute-compile.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/html-lib/compiled-root-ref.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/html-lib/patch-html.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/add-assets-to-compilation.unit.spec.ts
  programs/develop/plugin-web-extension/feature-html/html-lib/compiled-root-ref.ts
  programs/develop/plugin-web-extension/feature-html/html-lib/patch-html.ts
  programs/develop/plugin-web-extension/feature-html/steps/add-assets-to-compilation.ts
Due: eslint --fix, prettier --write

Match the missing-script path on either separator in the assets spec
  programs/develop/plugin-web-extension/feature-html/__spec__/steps/add-assets-to-compilation.unit.spec.ts
Due: eslint --fix, prettier --write

Spawn package managers through cross-spawn instead of a Windows shell
  pnpm-lock.yaml
  programs/create/lib/__spec__/install-runner.spec.ts
  programs/create/lib/install-runner.ts
  programs/create/lib/package-manager.ts
  programs/develop/lib/__spec__/package-manager.spec.ts
  programs/develop/lib/package-manager.ts
  programs/develop/package.json
  programs/install/__spec__/runner.spec.ts
  programs/install/lib/runner.ts
Due: eslint --fix, prettier --write

Override addons-linter's image-size to the release that fixes the DoS
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

Install the release npm from a lockfile so its pin is hash-verified
  .github/dependabot.yml
  .github/tools/npm/package-lock.json
  .github/tools/npm/package.json
  .github/workflows/publish-release.yml
Due: prettier --write

Move the release npm pin to 11.19.1, the patch for its bundled advisories
  .github/tools/npm/package-lock.json
  .github/tools/npm/package.json
Due: prettier --write

Run CodeQL from a workflow so Scorecard's SAST check can see it
  .github/workflows/codeql.yml
Due: none

Add property tests for the prefix resolver, path keys and MV2 host fold
  pnpm-lock.yaml
  programs/develop/lib/__spec__/manifest-utils.property.spec.ts
  programs/develop/lib/__spec__/resource-path.property.spec.ts
  programs/develop/lib/resource-path.ts
  programs/develop/package.json
  programs/develop/plugin-web-extension/feature-manifest/manifest-overrides/mv2/__spec__/host_permissions.property.spec.ts
Due: eslint --fix, prettier --write

State the security response window and point every entry at the guide
  .github/SECURITY.md
  CONTRIBUTING.md
  README.md
  docs/CONTRIBUTING.md
Due: prettier --write

Attach SLSA provenance and the npm tarballs to every GitHub release
  .github/workflows/release-attest.yml
Due: none

Build the resolved manifest with own properties so a __proto__ key survives
  programs/develop/lib/manifest-utils.ts
Due: eslint --fix, prettier --write

Mirror the contributing section on the published package README
  programs/extension/README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
