Repository extension-js/extension.js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Preserve Rspack branding in optimization warnings
  pnpm-lock.yaml
  programs/develop/webpack/plugin-browsers/browsers-lib/messages.ts
  programs/develop/webpack/webpack-lib/__spec__/branding.spec.ts
  programs/develop/webpack/webpack-lib/branding.ts
  programs/install/lib/runner.ts
Due: eslint --fix, prettier --write

Fix GitHub Actions Node 24 deprecation warnings
  .github/actions/setup/action.yml
  .github/workflows/actionlint.yml
  .github/workflows/build-deps-sync-check.yml
  .github/workflows/ci.yml
  .github/workflows/clean-release-notes.yml
  .github/workflows/discord-notify-releases.yml
  .github/workflows/e2e.yml
  .github/workflows/optional-deps-matrix.yml
  .github/workflows/programs-nightly.yml
  .github/workflows/telemetry-check.yml
  .github/workflows/update-build-dependencies.yml
Due: none

Fix Discord release not working
  .github/workflows/discord-notify-releases.yml
  .github/workflows/publish-release.yml
  RELEASING.md
Due: prettier --write

Fix optional dependency installs across framework tooling
  .github/workflows/optional-deps-matrix.yml
  ci-scripts/__spec__/run-optional-deps-smoke.spec.mjs
  ci-scripts/run-optional-deps-smoke.mjs
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/css-lib/integrations.ts
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
Due: eslint --fix, prettier --write

Fix excludeBrowserFlags forwarding in dev config
  ci-scripts/run-optional-deps-smoke.mjs
  programs/develop/webpack/__spec__/webpack-config.spec.ts
  programs/develop/webpack/webpack-config.ts
  programs/develop/webpack/webpack-types.ts
Due: eslint --fix, prettier --write

Setup internal standalone library for installing and resolving on-demand tooling
  .github/workflows/ci.yml
  .github/workflows/optional-deps-matrix.yml
  CHANGELOG.md
  package.json
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/feature-special-folders/__spec__/warn-upon-folder-changes.spec.ts
  programs/develop/webpack/optional-deps-lib/README.md
  programs/develop/webpack/optional-deps-lib/__spec__/installer-engine.spec.ts
  programs/develop/webpack/optional-deps-lib/__spec__/scenarios.spec.ts
  programs/develop/webpack/optional-deps-lib/cache-state.ts
  programs/develop/webpack/optional-deps-lib/index.ts
  programs/develop/webpack/optional-deps-lib/installer-engine.ts
  programs/develop/webpack/optional-deps-lib/runtime-context.ts
  programs/develop/webpack/plugin-compilation/__spec__/compilation.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-lib/integrations.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/less.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/postcss.integration.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/postcss.spec.ts
  programs/develop/webpack/plugin-css/__spec__/css-tools/sass.spec.ts
  programs/develop/webpack/plugin-css/__spec__/index.spec.ts
  programs/develop/webpack/plugin-css/__spec__/loaders.spec.ts
  programs/develop/webpack/plugin-css/__spec__/tools.spec.ts
  programs/develop/webpack/plugin-css/css-tools/less.ts
  programs/develop/webpack/plugin-css/css-tools/postcss.ts
  programs/develop/webpack/plugin-css/css-tools/sass.ts
  programs/develop/webpack/plugin-css/css-tools/tailwind.ts
  programs/develop/webpack/plugin-css/index.ts
  programs/develop/webpack/plugin-js-frameworks/frameworks-lib/integrations.ts
  programs/develop/webpack/plugin-static-assets/__spec__/index.spec.ts
  programs/develop/webpack/plugin-web-extension/feature-scripts/steps/setup-reload-strategy/add-content-script-wrapper/warn-no-default-export.ts
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/install-cache.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
  programs/develop/webpack/webpack-lib/preflight-cache.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
  scripts/verify-content-template-first-dev.mjs
Due: eslint --fix, prettier --write

Stabilize CI platform-specific optional deps assertions
  programs/develop/webpack/__spec__/command-build.spec.ts
  programs/develop/webpack/optional-deps-lib/__spec__/scenarios.spec.ts
Due: eslint --fix, prettier --write

Setup internal standalone library for installing and resolving on-demand tooling
  programs/develop/webpack/optional-deps-lib/__spec__/scenarios.spec.ts
Due: eslint --fix, prettier --write

Setup internal standalone library for installing and resolving on-demand tooling
  programs/develop/webpack/optional-deps-lib/__spec__/scenarios.spec.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/react.spec.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/react.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
Due: eslint --fix, prettier --write

Setup internal standalone library for installing and resolving on-demand tooling
  programs/develop/webpack/webpack-lib/__spec__/preflight-optional-deps.spec.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Enforce transactional optional dependency installs
  ci-scripts/run-optional-deps-smoke.mjs
  programs/develop/webpack/optional-deps-lib/__spec__/installer-engine.spec.ts
  programs/develop/webpack/optional-deps-lib/installer-engine.ts
Due: eslint --fix, prettier --write

Generalize optional dependency contracts across webpack tooling
  programs/develop/webpack/optional-deps-lib/__spec__/install-root-packages.spec.ts
  programs/develop/webpack/optional-deps-lib/__spec__/scenarios.spec.ts
  programs/develop/webpack/optional-deps-lib/contract-types.ts
  programs/develop/webpack/optional-deps-lib/install-root-packages.ts
  programs/develop/webpack/optional-deps-lib/installer-engine.ts
  programs/develop/webpack/plugin-css/css-tools/less.ts
  programs/develop/webpack/plugin-css/css-tools/postcss.ts
  programs/develop/webpack/plugin-css/css-tools/sass.ts
  programs/develop/webpack/plugin-js-frameworks/__spec__/js-tools/react.spec.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/preact.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/react.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/svelte.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/typescript.ts
  programs/develop/webpack/plugin-js-frameworks/js-tools/vue.ts
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/optional-deps-contracts.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Align pnpm optional-deps smoke with source-under-test
  ci-scripts/__spec__/run-optional-deps-smoke.spec.mjs
  ci-scripts/run-optional-deps-smoke.mjs
  programs/develop/webpack/webpack-lib/__spec__/optional-deps-resolver.spec.ts
  programs/develop/webpack/webpack-lib/optional-deps-resolver.ts
Due: eslint --fix, prettier --write

Handle cross-drive Windows file specifiers in pnpm smoke
  ci-scripts/__spec__/run-optional-deps-smoke.spec.mjs
  ci-scripts/run-optional-deps-smoke.mjs
Due: none

Stabilize Windows npm optional dependency preflight
  programs/develop/webpack/optional-deps-lib/__spec__/installer-engine.spec.ts
  programs/develop/webpack/optional-deps-lib/installer-engine.ts
  programs/develop/webpack/webpack-lib/__spec__/package-manager.spec.ts
  programs/develop/webpack/webpack-lib/__spec__/preflight-optional-deps.spec.ts
  programs/develop/webpack/webpack-lib/package-manager.ts
  programs/develop/webpack/webpack-lib/preflight-optional-deps.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
